<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(barra de herramientas)</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e" width="14" height="14">

	<PARAM NAME="Keyword" VALUE="Barra de herramientas">

</OBJECT>



<P><A NAME="afx_hidw_toolbar"></A><B>Barra de herramientas</B></P>





<P>La barra de herramientas aparece en la parte superior de la ventana de la aplicación, debajo de la barra de menús. Mediante el mouse, la barra de herramientas brinda un acceso rápido a muchas herramientas utilizadas en &lt;&lt;SuAplicación&gt;&gt;.</P>



<P>Para ocultar o mostrar la barra de herramientas, haga clic en <b>Barra de herramientas</b> del menú <b>Ver</b</P>



</BODY>

</HTML>

