<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Cuadro de diálogo Archivo/Nuevo)</TITLE>

</HEAD>



<BODY>





<P><A NAME="afx_hidd_newtypedlg"></A><B>Cuadro de diálogo Archivo/Nuevo</B></P>



<P>&lt;&lt; Elimine este tema de ayuda si la aplicación sólo admite un tipo de documento. &gt;&gt;</P>



<P>Especifique el tipo de documento que desee crear:</P>



<P>&lt;&lt; Muestre aquí los tipos de documento de la aplicación &gt;&gt;</P>



</BODY>

</HTML>

