<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Cuadro de diálogo Abrir archivo)</TITLE>

</HEAD>



<BODY>





<P><A NAME="afx_hidd_fileopen"></A><B>Cuadro de diálogo Abrir archivo</B></P>



<P>Las siguientes opciones permiten especificar el archivo que se desea abrir:</P>



<P><B>Nombre de archivo</B></P>



<P>Especifica el archivo que desea abrir. Este cuadro muestra archivos con la extensión seleccionada en el

 campo <b>Mostrar archivos de tipo</b>. </P>



<P><B>Mostrar archivos de tipo</B></P>



<P>Especifica el tipo de archivo que desea abrir:</P>



<P>&lt;&lt; Muestre aquí los tipos de archivo de la aplicación. &gt;&gt;</P>



<P><B>Unidades</B></P>



<P>Especifica la unidad en la que &lt;&lt;SuAplicación&gt;&gt; almacena el archivo que desea abrir. </P>



<P><B>Directorios</B></P>



<P>Especifica el directorio en el que &lt;&lt;SuAplicación&gt;&gt; almacena el archivo que desea abrir.</P>



<P><B>Red</B></P>



<P>Haga clic en este botón para conectarse a una ubicación de red asignándole una nueva letra de unidad. </P>



</BODY>

</HTML>

