<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Cuadro de diálogo Imprimir)</TITLE>

</HEAD>



<BODY>





<P><A NAME="afx_hidd_print"></A><B>Cuadro de diálogo Imprimir</B></P>



<P>Las siguientes opciones permiten especificar cómo se imprimirá el documento:</P>



<P><B>Impresora</B></P>



<P>Muestra la impresora y la conexión de impresora activas. Elija la opción <b>Configurar</b> para cambiar la impresora y la conexión de impresora.</P>



<P><B>Configurar</B></P>



<P>Muestra el <A HREF="afx_hidd_printsetup.htm">cuadro de diálogo Configurar impresión</A>, para seleccionar una impresora y la conexión de impresora.</P>



<P><B>Intervalo de impresión</B></P>



<P>Especifica las páginas que desea imprimir:</P>



<TABLE cols=2 width=548>



<TR VALIGN="top">

<TD width=15%><B>Todo</B></TD>

<TD width=85%>Imprime el documento activo.</TD>

</TR>



<TR VALIGN="top">

<TD width=15%><B>Selección</B></TD>

<TD width=85%>Imprime el texto actualmente seleccionado.</TD>

</TR>



<TR VALIGN="top">

<TD width=15%><B>Páginas</B></TD>

<TD width=85%>Imprime el intervalo de páginas que se especifica en los campos <b>De</b>

 y <b>A</b>.</TD>

</TR>

</TABLE>



<P><B>Copias</B></P>



<P>Especifica la cantidad de copias que desea imprimir del intervalo de páginas anterior.</P>



<P><B>Intercalar</B></P>



<P>Imprime las copias según el orden de las páginas, en vez de múltiples copias de cada página individual.</P>



<P><B>Calidad de impresión</B></P>



<P>Especifica la calidad de la impresión. Suele resultar más rápido imprimir con un valor de calidad más bajo.</P>



</BODY>

</HTML>

