<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Cuadro de diálogo Progreso de impresión)</TITLE>

</HEAD>



<BODY>





<P><A NAME="afx_hidd_printdlg"></A><B>Cuadro de diálogo Progreso de impresión</B></P>



<P>El cuadro de diálogo <b>Impresión</b> aparece cuando &lt;&lt;SuAplicación&gt;&gt; está enviando información a la impresora. El número de página indica el progreso de la impresión.</P>



<P>Para anular la impresión, elija <b>Cancelar</b>.</P>



</BODY>

</HTML>

