<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Cuadro de diálogo Configurar impresión)</TITLE>

</HEAD>



<BODY>





<P><A NAME="afx_hidd_printsetup"></A><B>Cuadro de diálogo Configurar impresión</B></P>



<P>Las siguientes opciones permiten seleccionar la impresora de destino y su conexión.</P>



<P><B>Impresora</B></P>



<P>Especifica la impresora que desea usar. Elija la impresora predeterminada o la opción

  <b>Impresora específica</b> y seleccione una de las impresoras actualmente instaladas que aparecen en el cuadro. Utilice el Panel de control de Windows para instalar impresoras

 y configurar puertos. </P>



<P><B>Orientación</B></P>



<P>Especifica las opciones <b>Vertical</b> u <b>Horizontal</b>.</P>



<P><B>Tamaño</B></P>



<P>Especifica el tamaño de papel en que se imprimirá el documento.</P>



<P><B>Origen</B></P>



<P>Especifica el origen del papel, ya que algunas impresoras tienen múltiples bandejas para diversos orígenes de papel.</P>



<P><B>Opciones</B></P>



<P>Muestra un cuadro de diálogo en el que se pueden seleccionar opciones adicionales de impresión según el tipo de impresora que ha seleccionado.</P>



<P><B>Red</B></P>



<P>Haga clic en este botón para conectarse a una ubicación de red asignándole una nueva letra de unidad.</P>



</BODY>

</HTML>

