<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(No hay Ayuda disponible)</TITLE>

</HEAD>



<BODY>





<P><A NAME="afx_hidp_default"></A><B>No hay ayuda disponible</B></P>



<P>No hay ayuda disponible para este cuadro de mensaje.</P>



<P>&lt;&lt; Si desea crear ayuda específica para cada indicador de cuadro de mensaje, quite los valores AFX_HIDP_xxx de la sección [ALIAS] del archivo

 .HPJ y cree un tema para cada valor AFX_HIDP_xxx. Por ejemplo, AFX_HIDP_INVALID_FILENAME es el tema de ayuda para el cuadro de mensaje

 <b>Nombre de archivo no válido</b>.. &gt;&gt;</P>



</BODY>

</HTML>

