<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Cuadro de diálogo Guardar como)</TITLE>

</HEAD>



<BODY>





<P><A NAME="afx_hidd_filesave"></A><B>Cuadro de diálogo Guardar como</B></P>



<P>Las opciones siguientes permiten especificar el nombre y ubicación del archivo que se va a guardar:</P>



<P><B>Nombre de archivo</B></P>



<P>Especifica un nombre de archivo para guardar el documento con un nombre distinto. &lt;&lt;SuAplicación&gt;&gt; agregará la extensión especificada 

en el cuadro <b>Tipo</b>.</P>



<P><B>Unidades</B></P>



<P>Especifica la unidad en la que desea almacenar el documento.</P>



<P><B>Directorios</B></P>



<P>Especifica el directorio en el que desea almacenar el documento.</P>



<P><B>Red</B></P>



<P>Haga clic en este botón para conectarse a una ubicación de red asignándole una nueva letra de unidad. </P>



<P>&lt;&lt; Agregar otras opciones del cuadro de diálogo <b>Guardar como</b> dependiendo de las que elija 

la aplicación a través de indicadores OFN_ de la estructura OPENFILENAME utilizada por CFileDialog. &gt;&gt;</P>



</BODY>

</HTML>

