<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(barra de estado)</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">

	<PARAM NAME="Keyword" VALUE="barra de estado">

</OBJECT>



<P><A NAME="afx_hidw_status_bar"></A><B>Barra de estado</B></P>



<P>La barra de estado aparece en la parte inferior de la ventana de &lt;&lt;SuAplicación&gt;&gt;. Utilice el comando

 <b>Barra de estado</b> del menú <b>Ver</b> para mostrar u ocultar la barra de estado.</P>



<P>El área izquierda de la barra de estado describe las acciones de los elementos de menú mientras se usan las teclas de dirección para desplazarse por los menús. Esta área también muestra mensajes que describen la acción que realizan los botones de la barra de herramientas

 mientras se presionan, antes de dejar de pulsarlos. Si después de ver la descripción de uno de los botones de la barra de herramientas no desea ejecutar el comando, suelte el botón del mouse mientras el puntero se halla fuera de la barra de herramientas.</P>



<P>Las áreas ubicadas a la derecha de la barra de estado indican cuáles de las siguientes teclas están activadas:</P>



<P><B>Indicador &nbsp;&nbsp;&nbsp;Descripción</B></P>



<P>MAYÚS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;La tecla Bloq Mayús está activada.</P>



<P>NUM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;La tecla Bloq Num está activada.</P>



<P>DESP&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;La tecla Bloq Despl está activada.</P>



</BODY>

</HTML>

