<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Comando 1, 2, ... (menú Ventana))</TITLE>

</HEAD>



<BODY>





<P><A NAME="hid_window_all"></A><B>Comando 1, 2, ... (menú Ventana)</B></P>



<P>&lt;&lt;SuAplicación&gt;&gt; muestra en la parte inferior del menú <b>Ventana</b> una lista de las 

ventanas de documentos actualmente abiertos. Aparecerá una marca de verificación junto al nombre del documento de la ventana activa. Elija un documento de la lista para activar su ventana.  </P>



</BODY>

</HTML>

