<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Comando Ayuda/Uso de la Ayuda)</TITLE>

</HEAD>



<BODY>





<P><A NAME="hid_context_help"></A><B>Comando Ayuda contextual</B></P>





<P>Utilice este comando para obtener ayuda acerca de algunas partes de &lt;&lt;SuAplicación&gt;&gt;. Al seleccionar

 el botón <b>Ayuda contextual</b> de la barra de herramientas, el puntero del mouse se convertirá en una flecha y un signo de interrogación. Entonces, podrá hacer clic en cualquier parte de la ventana de &lt;&lt;SuAplicación&gt;&gt;, como

 si se tratara de otro botón de la barra de herramientas. Aparecerá el tema de ayuda del elemento seleccionado.</P>





</BODY>

</HTML>

