<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Comando Archivo/Imprimir)</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">

	<PARAM NAME="Keyword" VALUE="impresión y vista preliminar">

</OBJECT>



<P><A NAME="hid_file_print"></A><B>Comando Imprimir (menú Archivo)</B></P>



<P>Utilice este comando para imprimir un documento. Este comando presenta el <A HREF="afx_hidd_print.htm">cuadro de diálogo Imprimir</A>, en el que puede especificar el intervalo de páginas que se imprimirán, el número de copias, la impresora de destino y otras opciones de configuración de impresión.</

P>



</BODY>

</HTML>

