<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Comando Archivo/Cerrar)</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">

	<PARAM NAME="Keyword" VALUE="archivos: administrar">

</OBJECT>



<P><A NAME="hid_file_close"></A><B>Comando Cerrar (menú Archivo)</B></P>



<P>Utilice este comando para cerrar todas las ventanas que contienen el documento activo. &lt;&lt;SuAplicación&gt;&gt; le sugiere que guarde los cambios aplicados al documento antes de cerrarlo. Si cierra un documento sin guardarlo, se perderán todos los cambios efectuados desde la última vez que se guardó.

 Antes de cerrar un documento sin título, &lt;&lt;SuAplicación&gt;&gt; muestra el <A HREF="afx_hidd_filesave.htm">cuadro de diálogo Guardar como</A> y le sugiere que asigne un nombre al documento y lo guarde.</P>





</BODY>

</HTML>

