<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Comando Archivo/Salir)</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">

	<PARAM NAME="Keyword" VALUE="Salir">

</OBJECT>



<P><A NAME="hid_app_exit"></A><B>Comando Salir (menú Archivo)</B></P>



<P>Utilice este comando para terminar la sesión de &lt;&lt;SuAplicación&gt;&gt;. También puede usar el comando

<b>Cerrar</b> del menú<b> Control</b> de la aplicación. &lt;&lt;SuAplicación&gt;&gt; le solicita que guarde los documentos cuyos cambios no se han guardado.</P>





</BODY>

</HTML>

