<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Comando Índice (menú Ayuda))</TITLE>

</HEAD>



<BODY>





<P><A NAME="hid_help_index"></A><B>Comando Índice (menú Ayuda)</B></P>



<P>Utilice este comando para mostrar la pantalla inicial de Ayuda. Desde esta pantalla, puede obtener acceso a instrucciones paso a paso sobre cómo usar &lt;&lt;SuAplicación&gt;&gt; y a diversa información de referencia.  </P>



<P>Cuando abra la Ayuda, puede hacer clic en el botón <b>Contenido</b> siempre que desee regresar a la pantalla inicial.</P>



</BODY>

</HTML>

