<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Comando Dividir (menú Ventana))</TITLE>

</HEAD>



<BODY>





<P><A NAME="hid_window_split"></A><B>Comando Dividir (menú Ventana)</B></P>



<P>Utilice este comando para dividir la ventana activa en secciones. A continuación, puede usar el mouse o las teclas de dirección para mover las barras de división. Cuando haya terminado, presione el botón del mouse o Entrar para que las barras de división queden en su nueva posición. Al presionar 

Escape las barras de división volverán a su posición original. >> En una aplicación de interfaz de un único documento, este comando aparecerá en el menú 

<b>Ver</b>. >></P>



</BODY>

</HTML>

