<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Comando Ver/Barra de estado)</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">

	<PARAM NAME="Keyword" VALUE="barra de estado">

</OBJECT>



<P><A NAME="hid_view_status_bar"></A><B>Comando Barra de estado (menú Ver)</B></P>



<P>Utilice este comando para mostrar y ocultar la barra de estado, en la que se describe la acción que realizará el elemento de menú seleccionado o 

el botón de la barra de herramientas que se ha presionado, así como el estado de bloqueo del teclado. Cuando se muestra la barra de estado, aparece una marca de verificación al lado del 

elemento de menú.</P>



<P>Consulte el vínculo <A HREF="afx_hidw_status_bar.htm">Barra de estado</A> para obtener ayuda sobre el uso de la barra de estado.</P>



</BODY>

</HTML>

