<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Comando Insertar nuevo objeto)</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">

	<PARAM NAME="Keyword" VALUE="objetos: incrustación">

</OBJECT>



<P><A NAME="hid_ole_insert_new"></A><B>Comando Insertar nuevo objeto (menú Edición)</B></P>



<P>Inserta e incrusta un objeto, como un gráfico o una ecuación en un documento. La aplicación en la que se creó el objeto se activa en la pantalla.</P>



<P>Seleccione el objeto que desea insertar en el documento mediante el <A HREF="afx_hidd_insertobject.htm">cuadro de diálogo Insertar objeto</A>.</P>



</BODY>

</HTML>

