<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Comando Archivo/Guardar como)</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">

	<PARAM NAME="Keyword" VALUE="archivos: administrar">

</OBJECT>



<P><A NAME="hid_file_save_as"></A><B>Comando Guardar como (menú Archivo)</B></P>



<P>Utilice este comando para asignar un nombre al documento activo y guardarlo. &lt;&lt;SuAplicación&gt;&gt; muestra el <A HREF="afx_hidd_filesave.htm">cuadro de diálogo Guardar como</A> para que pueda asignar un nombre al documento.  </P>



<P>Para guardar un documento con el nombre y en el directorio existente, utilice el <A HREF="hid_file_save.htm">comando Guardar</A>.</P>



</BODY>

</HTML>

