<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Barra de título)</TITLE>

</HEAD>



<BODY>





<P><A NAME="hid_ht_caption"></A><B>Barra de título</B></P>



<P>&lt;&lt; Muestre aquí la barra de título de la aplicación. &gt;&gt;</P>



<P>La barra de título aparece en la parte superior de la ventana. Contiene el nombre de la aplicación y del documento.</P>



<P>Para mover la ventana, arrastre la barra de título. Nota: también puede mover los cuadros de diálogo arrastrando sus barras de título.</P>



<P>La barra de título puede incluir los siguientes elementos:</P>



<P><IMG SRC="images/bullet.gif" ALT="" BORDER=0>Botón del menú Control de la aplicación</P>



<P><IMG SRC="images/bullet.gif" ALT="" BORDER=0>Botón del menú Control del documento</P>



<P><IMG SRC="images/bullet.gif" ALT="" BORDER=0>Botón Maximizar</P>



<P><IMG SRC="images/bullet.gif" ALT="" BORDER=0>Botón Minimizar</P>



<P><IMG SRC="images/bullet.gif" ALT="" BORDER=0>Nombre de la aplicación</P>



<P><IMG SRC="images/bullet.gif" ALT="" BORDER=0>Nombre del documento</P>



<P><IMG SRC="images/bullet.gif" ALT="" BORDER=0>Botón Restaurar</P>



</BODY>

</HTML>

