<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Comando Ventana anterior (menú Control del documento))</TITLE>

</HEAD>



<BODY>





<P><A NAME="hid_sc_prevwindow"></A><B>Comando Ventana anterior (menú Control del documento)</B></P>



<P>Utilice este comando para cambiar a la ventana de documento abierta anterior. &lt;&lt;SuAplicación&gt;&gt; determina cuál es la ventana anterior según el orden en que se abrieron.</P>



</BODY>

</HTML>

