<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Comando Mover (menú Control))</TITLE>

</HEAD>



<BODY>





<P><A NAME="hid_sc_move"></A><B>Comando Mover (menú Control)</B></P>



<P>Utilice este comando para mostrar una flecha de cuatro puntas que permite mover la ventana o cuadro de diálogo activo mediante las teclas de dirección.</P>



<P>Nota: este comando no está disponible si maximiza la ventana.</P>



</BODY>

</HTML>

