<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Comando Archivo/Abrir)</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">

	<PARAM NAME="Keyword" VALUE="archivos: administrar">

</OBJECT>



<P><A NAME="hid_file_open"></A><B>Comando Abrir (menú Archivo)</B></P>



<P>Utilice este comando para abrir un documento que ya existe en una nueva ventana. Puede abrir varios documentos a la vez. Utilice el menú 

<b>Ventana</b> para cambiar entre los diversos documentos abiertos. Consulte el <A HREF="hid_window_all.htm">comando Ventana 1, 2, ...</A>.</P>



<P>Puede crear nuevos documentos con el <A HREF="hid_file_new.htm">comando Nuevo</A>.</P>





</BODY>

</HTML>

