<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Comando Archivo/Nuevo)</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">

	<PARAM NAME="Keyword" VALUE="archivos: administrar">

</OBJECT>



<P><A NAME="hid_file_new"></A><B>Comando Nuevo (menú Archivo)</B></P>



<P>Utilice este comando para crear un nuevo documento en &lt;&lt;SuAplicación&gt;&gt;. Seleccione el tipo del nuevo archivo que desea crear en el <A HREF="afx_hidd_newtypedlg.htm">cuadro de diálogo Archivo/Nuevo</A>. &lt;&lt; Elimine la oración anterior si la aplicación sólo

 admite un tipo de documento. &gt;&gt;</P>



<P>Puede abrir un documento que ya existe con el <A HREF="hid_file_open.htm">comando Abrir</A>.</P>



</BODY>

</HTML>

