<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Comando Tamaño (menú del sistema))</TITLE>

</HEAD>



<BODY>





<P><A NAME="hid_sc_size"></A><B>Comando Tamaño (menú del sistema)</B></P>



<P>Utilice este comando para mostrar una flecha de cuatro puntas que permite cambiar el tamaño de la ventana activa mediante las teclas de dirección.</P>



<P>Cuando el puntero se convierta en la flecha de cuatro puntas:</P>



<P>1.Presione una de las teclas de dirección (teclas de flecha izquierda, derecha, arriba o abajo) para mover el puntero hasta el borde que quiere mover.  </P>



<P>2.Presione una tecla de dirección para mover el borde.</P>



<P>3.Presione ENTRAR cuando la ventana tenga el tamaño que desea.</P>



<P>Nota: este comando no está disponible si maximiza la ventana.</P>



</BODY>

</HTML>

