<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Comando Edición/Repetir)</TITLE>

</HEAD>



<BODY>





<P><A NAME="hid_edit_repeat"></A><B>Comando Repetir (menú Edición)</B></P>



<P>Utilice este comando para repetir el último comando de edición aplicado. El elemento de menú <b>Repetir</b> cambia

 a <b>No se puede repetir</b> si no se puede repetir la última acción que se efectuó.</P>



</BODY>

</HTML>

