<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Comando Edición/Vínculos)</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">

	<PARAM NAME="Keyword" VALUE="objetos: incrustación">

</OBJECT>



<P><A NAME="hid_ole_edit_links"></A><B>Comando Vínculos (menú Edición)</B></P>



<P>Utilice este comando para mostrar el <A HREF="afx_hidd_editlinks.htm">cuadro de diálogo Vínculos</A> que permite editar vínculos entre documentos.</P>



<P>Este comando no está disponible si el documento no tiene vínculos.</P>



</BODY>

</HTML>

