<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Comando Nueva ventana (menú Ventana))</TITLE>

</HEAD>



<BODY>





<P><A NAME="hid_window_new"></A><B>Comando Nueva ventana (menú Ventana)</B></P>



<P>Utilice este comando para abrir una nueva ventana que tenga el mismo contenido que la ventana activa. Puede abrir múltiples ventanas de documento para ver distintas partes o presentaciones de un documento al mismo tiempo. Si cambia el contenido de una de las ventanas, 

las demás ventanas que contienen el mismo documento también cambiarán. Cuando se abre una nueva ventana, ésta se convierte en la ventana activa y aparece sobre las demás ventanas.</P>



</BODY>

</HTML>

