<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Comando Copiar (menú Edición))</TITLE>

</HEAD>



<BODY>





<P><A NAME="hid_edit_copy"></A><B>Comando Copiar (menú Edición)</B></P>



<P>Utilice este comando para copiar los datos seleccionados en el Portapapeles. Este comando no está disponible si no hay datos actualmente seleccionados.</P>



<P>Al usar el comando Copiar para colocar datos en el portapapeles, se reemplazan los datos que previamente estaban almacenados en el mismo.</P>





</BODY>

</HTML>

