<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Comando Ver/Barra de herramientas)</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">

	<PARAM NAME="Keyword" VALUE="Barra de herramientas">

</OBJECT>



<P><A NAME="hid_view_toolbar"></A><B>Comando Barra de herramientas (menú Ver)</B></P>



<P>Utilice este comando para mostrar y ocultar la barra de herramientas, que tiene botones para algunos de los comandos más usados de &lt;&lt;SuAplicación&gt;&gt;, como 

el comando <b>Abrir</b> del menú <b>Archivo</b>. Cuando se muestra la barra de herramientas, aparece una marca de verificación al lado del elemento de menú.</P>



<P>Consulte el vínculo <A HREF="afx_hidw_toolbar.htm">Barra de herramientas</A> para obtener ayuda sobre el uso de la barra de herramientas.</P>



</BODY>

</HTML>

