<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Modificación del documento)</TITLE>

</HEAD>



<BODY>





<P><A NAME="hidr_doc1type"></A><B>Modificación del documento</B></P>



<P>&lt;&lt; Escriba aquí ayuda específica de la aplicación que proporcione información general de cómo el usuario debe modificar un documento utilizando la aplicación.  </P>



<P>Si la aplicación admite varios tipos de documento y desea tener un tema de ayuda diferente para cada uno de ellos, utilice el id. contextual 

para ayuda generado al ejecutar el archivo MAKEHELP.BAT producido por el asistente para aplicaciones. De forma alternativa, 

ejecute MAKEHM de la siguiente manera:</P>



<P>makehm IDR_HIDR_,0x2000 resource.h</P>



<P>Si el símbolo IDR_ para uno de los tipos de documento es, por ejemplo, IDR_CHARTTYPE, el id. contextual 

para ayuda generado por el archivo MAKEHM será HIDR_CHARTTYPE.</P>



<P>Nota: el asistente para aplicaciones define el id. contextual para ayuda HIDR_DOC1TYPE utilizado por este tema de ayuda para el primer tipo de documento admitido por la aplicación. 

Dicho asistente genera un alias en el archivo .HPJ para la aplicación, asignando HIDR_DOC1TYPE al HIDR_ generado por MAKEHM para ese tipo de documento. &gt;&gt;</P>



</BODY>

</HTML>

