<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Comandos del menú Registro)</TITLE>

</HEAD>



<BODY>





<P><A NAME="menu_record"></A><B>Comandos del menú Registro</B></P>



<P>El menú Registro contiene los siguientes comandos:</P>



<TABLE cols=2 width=900>



<TR VALIGN="top">

<TD width=23%><A HREF="hid_record_first.htm">Primer registro</A></TD>

<TD width=77%>Muestra el primer registro de la selección actual.</TD>

</TR>



<TR VALIGN="top">

<TD width=23%><A HREF="hid_record_prev.htm">Registro anterior</A></TD>

<TD width=77%>Muestra el registro anterior de la selección actual.</TD>

</TR>



<TR VALIGN="top">

<TD width=23%><A HREF="hid_record_next.htm">Registro siguiente</A></TD>

<TD width=77%>Muestra el registro siguiente de la selección actual.</TD>

</TR>



<TR VALIGN="top">

<TD width=23%><A HREF="hid_record_last.htm">Último registro</A></TD>

<TD width=77%>Muestra el último registro de la selección actual.</TD>

</TR>

</TABLE>



</BODY>

</HTML>

