<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Comandos del menú Ver)</TITLE>

</HEAD>



<BODY>





<P><A NAME="menu_view"></A><B>Comandos del menú Ver</B></P>



<P>El menú <b>Ver</b> contiene los siguientes comandos:</P>



<TABLE cols=2 width=900>



<TR VALIGN="top">

<TD width=18%><A HREF="hid_view_toolbar.htm">Barra de herramientas</A></TD>

<TD width=82%>Muestra u oculta la barra de herramientas.</TD>

</TR>



<TR VALIGN="top">

<TD width=18%><A HREF="hid_view_status_bar.htm">Barra de estado</A></TD>

<TD width=82%>Muestra u oculta la barra de estado.</TD>

</TR>

</TABLE>



</BODY>

</HTML>

