<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Comandos del menú Ventana)</TITLE>

</HEAD>



<BODY>





<P><A NAME="menu_window"></A><B>Comandos del menú Ventana</B></P>



<P>El menú Ventana contiene los siguientes comandos, que permiten organizar la presentación de múltiples documentos en la ventana de la aplicación:</P>



<TABLE cols=2 width=900>



<TR VALIGN="top">

<TD width=21%><A HREF="hid_window_new.htm">Nueva ventana</A></TD>

<TD width=79%>Crea una nueva ventana que muestra el mismo documento.</TD>

</TR>



<TR VALIGN="top">

<TD width=21%><A HREF="hid_window_cascade.htm">Cascada</A></TD>

<TD width=79%>Organiza las ventanas de modo que se superpongan.</TD>

</TR>



<TR VALIGN="top">

<TD width=21%><A HREF="hid_window_tile.htm">Mosaico</A></TD>

<TD width=79%>Organiza las ventanas como mosaicos que no se superponen.</TD>

</TR>



<TR VALIGN="top">

<TD width=21%><A HREF="hid_window_arrange.htm">Organizar iconos</A></TD>

<TD width=79%>Organiza los iconos de ventanas cerradas.</TD>

</TR>


[!if SPLITTER]
<TR VALIGN="top">

<TD width=21%><A HREF="hid_window_split.htm">Dividir</A></TD>

<TD width=79%>Divide la ventana activa en paneles.</TD>

</TR>



[!endif]
<TR VALIGN="top">

<TD width=21%><A HREF="hid_window_all.htm">Window 1, 2, ...</A></TD>

<TD width=79%>Goes to specified window.</TD>

</TR>

</TABLE><BR>



</BODY>

</HTML>

