<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Comandos del menú Edición)</TITLE>

</HEAD>



<BODY>





<P><A NAME="menu_edit"></A><B>Comandos del menú Edición</B></P>



<P>El menú <b>Edición</b> contiene los siguientes comandos:</P>



<TABLE cols=2 width=900>



<TR VALIGN="top">

<TD width=15%><A HREF="hid_edit_undo.htm">Deshacer</A></TD>

<TD width=85%>Deshace la operación de edición anterior.</TD>

</TR>

<TR VALIGN="top">

<TD width=15%><A HREF="hid_edit_cut.htm">Cortar</A></TD>

<TD width=85%>Elimina datos de un documento y los coloca en el Portapapeles.</TD>

</TR>



<TR VALIGN="top">

<TD width=15%><A HREF="hid_edit_copy.htm">Copiar</A></TD>

<TD width=85%>Copia datos del documento en el Portapapeles.</TD>

</TR>



<TR VALIGN="top">

<TD width=15%><A HREF="hid_edit_paste.htm">Pegar</A></TD>

<TD width=85%>Pega datos del portapapeles en el documento.</TD>

</TR>



[!if CONTAINER || CONTAINER_SERVER]

<TR VALIGN="top">

<TD width=15%><A HREF="hid_edit_paste_link.htm">Pegar vínculo</A></TD>

<TD width=85%>Pega un vínculo del Portapapeles en los datos de otra aplicación.</TD>

</TR>



<TR VALIGN="top">

<TD width=15%><A HREF="hid_ole_insert_new.htm">Insertar nuevo objeto</A></TD>

<TD width=85%>Inserta e incrusta un objeto como, por ejemplo, un gráfico o una ecuación en un documento.</TD>

</TR>



<TR VALIGN="top">

<TD width=15%><A HREF="hid_ole_edit_links.htm">Vínculos</A></TD>

<TD width=85%>Muestra y edita vínculos a documentos incrustados.</TD>

</TR>

[!endif]

</TABLE>



</BODY>

</HTML>

