<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Comandos del menú Ayuda)</TITLE>

</HEAD>



<BODY>





<P><A NAME="menu_help"></A><B>Comandos del menú Ayuda</B></P>



<P>El menú <b>Ayuda</b> contiene los siguientes comandos, que le ofrecen ayuda sobre esta aplicación: </P>



<TABLE cols=2 width=900>



<TR VALIGN="top">

<TD width=16%><A HREF="hid_help_index.htm">Temas de Ayuda</A></TD>

<TD width=84%>Proporciona un índice con los temas sobre los cuales se puede obtener ayuda.</TD>

</TR>



<TR VALIGN="top">

<TD width=16%><A HREF="hid_app_about.htm">Acerca de</A></TD>

<TD width=84%>Muestra el número de versión de la aplicación.</TD>

</TR>

</TABLE><BR>



</BODY>

</HTML>

