<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Comandos del menú Archivo)</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">

	<PARAM NAME="Keyword" VALUE="archivos: administrar">

</OBJECT>



<P><A NAME="menu_file"></A><B>Comandos del menú Archivo</B></P>



<P>El menú <b>Archivo</b> contiene los siguientes comandos:</P>



<TABLE cols=2 width=900>



<TR VALIGN="top">

<TD width=16%><A HREF="hid_file_new.htm">Nuevo</A></TD>

<TD width=84%>Crea un nuevo documento.</TD>

</TR>



<TR VALIGN="top">

<TD width=16%><A HREF="hid_file_open.htm">Abrir</A></TD>

<TD width=84%>Abre un documento existente.</TD>

</TR>



<TR VALIGN="top">

<TD width=16%><A HREF="hid_file_close.htm">Cerrar</A></TD>

<TD width=84%>Cierra un documento abierto.</TD>

</TR>



<TR VALIGN="top">

<TD width=16%><A HREF="hid_file_save.htm">Guardar</A></TD>

<TD width=84%>Guarda un documento abierto con el mismo nombre de archivo.</TD>

</TR>



<TR VALIGN="top">

<TD width=16%><A HREF="hid_file_save_as.htm">Guardar como</A></TD>

<TD width=84%>Guarda un documento abierto con el nombre de archivo especificado.</TD>

</TR>



[!if PRINTING]

<TR VALIGN="top">

<TD width=16%><A HREF="hid_file_print.htm">Imprimir</A></TD>

<TD width=84%>Imprime un documento.</TD>

</TR>



<TR VALIGN="top">

<TD width=16%><A HREF="hid_file_print_preview.htm">Vista preliminar</A></TD>

<TD width=84%>Muestra el documento en la pantalla tal como se imprimirá.</TD>

</TR>



<TR VALIGN="top">

<TD width=16%><A HREF="hid_file_print_setup.htm">Configurar impresión</A></TD>

<TD width=84%>Selecciona una impresora y una conexión de impresora.</TD>

</TR>



[!endif]

[!if MAPI]

<TR VALIGN="top">

<TD width=16%><A HREF="hid_file_send_mail.htm">Enviar...</A></TD>

<TD width=84%>Envía el documento activo por correo electrónico.</TD>

</TR>



[!endif]

<TR VALIGN="top">

<TD width=16%><A HREF="hid_app_exit.htm">Salir</A></TD>

<TD width=84%>Sale de &lt;&lt;SuAplicación&gt;&gt;.</TD>

</TR>

</TABLE><BR>



</BODY>

</HTML>

