<HTML>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<BODY ID=[!output DIALOG_CLASS] BGCOLOR=LIGHTGREY>

<TABLE WIDTH=100%>
<TR>
<TD ALIGN=RIGHT>
<BUTTON STYLE="WIDTH:100" ID="ButtonOK">Aceptar</BUTTON><BR>
<BUTTON STYLE="WIDTH:100" ID="ButtonCancel">Cancelar</BUTTON>
[!if CONTEXT_HELP]
<BR>
<BUTTON STYLE="WIDTH:100" ID="ButtonHelp">Ayuda</BUTTON>
[!endif]
</TD>
</TR>
<TR WIDTH=100% HEIGHT=75>
<TD ALIGN=CENTER VALIGN=BOTTOM>
TODO: colocar los controles aquí.
</TD>
</TR>
</TABLE>

</BODY>
</HTML>