<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Barras de desplazamiento)</TITLE>

</HEAD>



<BODY>





<P><A NAME="scrollbars"></A><B>Barras de desplazamiento</B></P>



<P>Aparecen en los bordes derecho e inferior de la ventana del documento. Los cuadros de desplazamiento ubicados dentro de las barras de desplazamiento indican la posición vertical y horizontal en el documento. Puede utilizar el mouse para desplazarse a otras partes del documento.</P>



<P>&lt;&lt; Describa las acciones de las distintas partes de la barra de desplazamiento, en función de su comportamiento en la aplicación. &gt;&gt;</P>



</BODY>

</HTML>

