<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=shift_jis">

<TITLE>(印刷プレビュー ツール バー)</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">

	<PARAM NAME="Keyword" VALUE="printing and print preview">

</OBJECT>



<P><A NAME="afx_hidw_preview_bar"></A><B>印刷および印刷プレビュー</B></P>



<P>印刷プレビュー ツール バーには、以下のオプションがあります :</P>



<P><B>印刷</B></P>



<P><b>[印刷] </b> ダイアログボックスを表示し、印刷を開始します。 </P>



<P><B>次ページ</B></P>



<P>次の印刷ページをプレビューします。</P>



<P><B>前ページ</B></P>



<P>前の印刷ページをプレビューします。</P>



<P><B>1 ページ / 2 ページ</B></P>



<P>印刷プレビュー画面に表示するページ数を切り替えます。</P>



<P><B>拡大</B></P>



<P>印刷ページを拡大します。</P>



<P><B>縮小</B></P>



<P>印刷ページを縮小します。</P>



<P><B>閉じる</B></P>



<P>印刷プレビュー画面を閉じ、編集ウィンドウに戻ります。</P>



</BODY>

</HTML>

