<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=shift_jis">

<TITLE>(ステータス バー)</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">

	<PARAM NAME="Keyword" VALUE="status bar">

</OBJECT>



<P><A NAME="afx_hidw_status_bar"></A><B>ステータス バー</B></P>



<P>ステータス バーは、&lt;&lt;YourApp&gt;&gt; ウィンドウの一番下に表示されます。ステータス バーの表示/非表示を切り替えるには、<b>[表示]</b> メニューの

<b>[ステータス バー]</b> コマンドを使用してください。</P>



<P>ステータス バーの左側の部分には、メニューコマンドを選択したときにそれぞれの簡単な説明が表示されます。同様に、ツール バーのボタンを押したままにしても簡単な説明が表示されます。

説明を見た後でそのツール バーのコマンドの実行を中止したいときは、マウス ポインタをそのツール バー ボタン以外の位置に移動してマウス ボタンを離します。</P>



<P>ステータス バーの右側の部分には、以下のキーのいずれが押されているかが表示されます :</P>



<P><B>表示 &nbsp;&nbsp;&nbsp;説明</B></P>



<P>CAP&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[Caps Lock] キーが ON の状態</P>



<P>NUM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[Num Lock] キーが ON の状態</P>



<P>SCRL&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[Scroll Lock] キーが ON の状態</P>



</BODY>

</HTML>

