<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=shift_jis">

<TITLE>(ツール バー)</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e" width="14" height="14">

	<PARAM NAME="Keyword" VALUE="toolbar">

</OBJECT>



<P><A NAME="afx_hidw_toolbar"></A><B>ツール バー</B></P>





<P>ツール バーは、アプリケーション ウィンドウ上部で、メニュー バーのすぐ下に表示されます。ツール バーは、マウスをクリックすることによって &lt;&lt;YourApp&gt;&gt; で使用される多くのツールへのアクセスを簡易にします。</P>



<P>ツール バーの表示/非表示を切り替えるには、<b> [表示]</b> メニューの<b>[ツール バー]</b> をクリックしてください。</P>



</BODY>

</HTML>

