<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=shift_jis">

<TITLE>([プリンタの設定] ダイアログ ボックス)</TITLE>

</HEAD>



<BODY>





<P><A NAME="afx_hidd_printsetup"></A><B>[プリンタの設定] ダイアログ ボックス</B></P>



<P>プリンタの選択および接続を設定するオプションです。</P>



<P><B>プリンタ</B></P>



<P>使用するプリンタを選択します。[通常使うプリンタ] を選ぶか、

または [その他のプリンタ] オプションを選んで、ボックスに表示されている、現在インストールされているプリンタから使用したいプリンタを選択できます。新たにプリンタをインストールしたり、プリンタ ポートの設定を行いたいときは、

コントロール パネルを使ってください。</P>



<P><B>印刷の向き</B></P>



<P>用紙に印刷する向きの <b>縦</b> または <b>横</b> を選択します。</P>



<P><B>用紙サイズ</B></P>



<P>文書を印刷する用紙のサイズを指定します。</P>



<P><B>給紙方法</B></P>



<P>複数の給紙トレーを持つプリンタの場合、使用するトレイを指定します。</P>



<P><B>オプション</B></P>



<P>選択されたプリンタに固有のオプションを設定するダイアログボックスを表示します。</P>



<P><B>ネットワーク</B></P>



<P>このボタンをクリックすると、ネットワークに接続し、新しいドライブ名を指定します。</P>



</BODY>

</HTML>

