<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=shift_jis">

<TITLE>(ヘルプ項目がありません)</TITLE>

</HEAD>



<BODY>





<P><A NAME="afx_hidp_default"></A><B>ヘルプ項目がありません</B></P>



<P>このメッセージ ボックスに関するヘルプ情報はありません。</P>



<P>&lt;&lt; それぞれのメッセージ ボックスごとにヘルプ トピックを作りたいときは、.HPJ ファイルの [ALIAS] セクションから 

AFX_HIDPP_xxx の値をすべて削除して、それぞれの AFX_HIDPP_xxx の値ごとにヘルプ トピックを作成してください。例えば、AFX_HIDP_INVALID_FILENAME は、

<b> 無効なファイル名</b> メッセージ ボックスのヘルプ トピックになります。&gt;&gt;</P>



</BODY>

</HTML>

