<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=shift_jis">

<TITLE>([印刷] ダイアログ ボックス)</TITLE>

</HEAD>



<BODY>





<P><A NAME="afx_hidd_print"></A><B>[印刷] ダイアログ ボックス</B></P>



<P>文書の印刷に関する以下のオプションが設定できます :</P>



<P><B>プリンタ</B></P>



<P>アクティブになっているプリンタおよびプリンタの接続が表示されます。現在選択されているプリンタやプリンタの接続を変更するには、<b> セットアップ</b> オプションを選択してください。</P>



<P><B>セットアップ</B></P>



<P><A HREF="afx_hidd_printsetup.htm">[プリンタの設定] ダイアログ ボックス</A>を表示します。プリンタおよびプリンタの接続を選択します。</P>



<P><B>印刷範囲</B></P>



<P>印刷したいページを指定します :</P>



<TABLE cols=2 width=548>



<TR VALIGN="top">

<TD width=15%><B>全ページ</B></TD>

<TD width=85%>文書をすべて印刷します。</TD>

</TR>



<TR VALIGN="top">

<TD width=15%><B>選択した部分</B></TD>

<TD width=85%>文書の現在選択している部分を印刷します。</TD>

</TR>



<TR VALIGN="top">

<TD width=15%><B>ページ指定</B></TD>

<TD width=85%>ページ指定の横のボックスで指定されたページの範囲を

  印刷します。</TD>

</TR>

</TABLE>



<P><B>部数</B></P>



<P>上のページ範囲で、印刷したい部数を指定します。</P>



<P><B>部単位で印刷</B></P>



<P>各ページを指定した部数ずつ印刷するのではなく、ページ順に指定した部数を印刷します。</P>



<P><B>印刷品質</B></P>



<P>印刷の品質を選択します。一般的に、低い品質で印刷したほうが印刷時間は短くなります。</P>



</BODY>

</HTML>

