<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=shift_jis">

<TITLE>([ファイルを開く] ダイアログ ボックス)</TITLE>

</HEAD>



<BODY>





<P><A NAME="afx_hidd_fileopen"></A><B>[ファイルを開く] ダイアログ ボックス</B></P>



<P>以下のオプションで、開くファイルを指定できます :</P>



<P><B>ファイル名</B></P>



<P>開くファイルを指定します。このリスト ボックスは<b> ファイルの種類一覧</b> フィールドで選択した拡張子を持つファイルを

一覧表示します。</P>



<P><B>ファイルの種類</B></P>



<P>開こうとしている文書のファイル形式を選択します :</P>



<P>&lt;&lt; アプリケーションのファイルの種類をここに記述してください。 &gt;&gt;</P>



<P><B>ドライブ</B></P>



<P>&lt;&lt;YourApp&gt;&gt; で、開こうとしているファイルが保存されているドライブを指定します。</P>



<P><B>ディレクトリ</B></P>



<P> &lt;&lt;YourApp&gt;&gt; で、開こうとしているファイルが保存されている ディレクトリを指定します。</P>



<P><B>ネットワーク</B></P>



<P>このボタンをクリックすると、ネットワークに接続し､ 新しいドライブ名を設定します。</P>



</BODY>

</HTML>

