<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=shift_jis">

<TITLE>([新しいウィンドウを開く] コマンド ([ウィンドウ] メニュー))</TITLE>

</HEAD>



<BODY>





<P><A NAME="hid_window_new"></A><B>[新しいウィンドウを開く] コマンド ([ウィンドウ] メニュー)</B></P>



<P>作業中のウィンドウと同じ内容を表示する別のウィンドウを開きます。1 つの文書に対して複数のウィンドウを開くことができるので、同時に 1 つの文書のいろいろな部分をそれぞれのウィンドウに表示することができます。

1 つのウィンドウで文書の内容を変更すると、その文書を表示する他のすべてのウィンドウにもその変更が反映されます。新規ウィンドウを開くと、そのウィンドウがアクティブになり、他のウィンドウの前面に表示されます。</P>



</BODY>

</HTML>

