<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=shift_jis">

<TITLE>([開く...] コマンド ([ファイル] メニュー))</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">

	<PARAM NAME="Keyword" VALUE="files: managing">

</OBJECT>



<P><A NAME="hid_file_open"></A><B>[開く...] コマンド ([ファイル] メニュー)</B></P>



<P>既存の文書を開きます。一度に複数の文書を開くことができます。複数の文書の編集を切り替えるには、

<b>[ウィンドウ]</b> メニューの <A HREF="hid_window_all.htm">[ウィンドウ名 1, 2, ...] コマンド</A>を使ってください。</P>



<P>新たに文書を作成するには、<A HREF="hid_file_new.htm">[新規作成] コマンド</A>を使ってください。</P>





</BODY>

</HTML>

