<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=shift_jis">

<TITLE>([サイズ変更] コマンド (システム メニュー))</TITLE>

</HEAD>



<BODY>





<P><A NAME="hid_sc_size"></A><B>[サイズ変更] コマンド (システム メニュー)</B></P>



<P>このコマンドを選択すると、マウス ポインタが上下左右に矢印の付いた形に変わります。この状態で、方向キーを使って作業中のウィンドウのサイズを変更することができます。</P>



<P>マウス ポインタの形が変わった後に以下の操作を行います :</P>



<P>1. 方向キーのどれか 1 つ (上、下、左、右) を使ってウィンドウの境界を移動します。</P>



<P>2. もう 1 つの方向にウィンドウの境界を移動します。</P>



<P>3. ウィンドウが目的のサイズになったら [Enter] キーを押します。</P>



<P>注意 : このコマンドはウィンドウが最大表示されているときには使用できません。</P>



</BODY>

</HTML>

