<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=shift_jis">

<TITLE>([元に戻す/元に戻せません] コマンド ([編集] メニュー))</TITLE>

</HEAD>



<BODY>





<P><A NAME="hid_edit_undo"></A><B>[元に戻す/元に戻せません] コマンド ([編集] メニュー)</B></P>



<P>&lt;&lt; 作成したアプリケーションのユーザー インターフェイスの [元に戻す] コマンドの動作は下記の説明と異なっている場合があります。必要に応じて説明を修正してください。&gt;&gt;</P>



<P>可能であれば、直前に行った編集操作をキャンセルし、文書を元に戻します。直前の操作の内容によってコマンド名は変わります。また、

操作によってはキャンセルできないものもあり、<b>[元に戻せません]</b> と表示されます。</P>



</BODY>

</HTML>

