<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=shift_jis">

<TITLE>([ステータス バー] コマンド ([表示] メニュー))</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">

	<PARAM NAME="Keyword" VALUE="status bar">

</OBJECT>



<P><A NAME="hid_view_status_bar"></A><B>[ステータス バー] コマンド ([表示] メニュー)</B></P>



<P>ステータス バーの表示、非表示を切り替えます。ステータス バーには、メニュー コマンドやツール バーのボタンを選択したときにコマンドの簡単な説明や、

キーボードの特殊キーのON/OFF の状態などが表示されます。ステータス バーが表示されているときは、

このコマンド名の横にチェックマークが表示されます。</P>



<P>ステータス バーの使い方に関する詳細については <A HREF="afx_hidw_status_bar.htm">ステータス バー</A>を参照してください。</P>



</BODY>

</HTML>

