<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=shift_jis">

<TITLE>([新規作成] コマンド ([ファイル] メニュー))</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">

	<PARAM NAME="Keyword" VALUE="files: managing">

</OBJECT>



<P><A NAME="hid_file_new"></A><B>[新規作成] コマンド ([ファイル] メニュー)</B></P>



<P>&lt;&lt;YourApp&gt;&gt; の新規文書を作成します。<A HREF="afx_hidd_newtypedlg.htm">[新規作成] ダイアログ ボックス</A>で新規に作成したい文書のファイル形式を指定します。&lt;&lt; 1 つのファイル形式しかサポートしないアプリケーションの場合、すぐ前の 1 文を削除してください。 &gt;&gt;</P>



<P>既存の文書は <A HREF="hid_file_open.htm">[開く] コマンド</A>を使って開きます。</P>



</BODY>

</HTML>

