<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=shift_jis">

<TITLE>([分割] コマンド ([ウィンドウ] メニュー))</TITLE>

</HEAD>



<BODY>





<P><A NAME="hid_window_split"></A><B>[分割] コマンド ([ウィンドウ] メニュー)</B></P>



<P>作業中のウィンドウを分割します。マウスか方向キーを使いスプリッター バーを動かします。新しいロケーションにスプリッター バーを固定するためには、マウス ボタンを放すかリターン キーを押します。

エスケープ キーを押すことで、元の位置に戻すことができます。&lt;&lt; シングル ドキュメント インターフェイスの場合、このコマンドは <b>[表示]</b> メニューに現れます。 &gt;&gt;</P>



</BODY>

</HTML>

