<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=shift_jis">

<TITLE>([アプリケーションの切り替え] コマンド (アプリケーション コントロール メニュー))</TITLE>

</HEAD>



<BODY>





<P><A NAME="hid_sc_tasklist"></A><B>[アプリケーションの切り替え...] コマンド (アプリケーション コントロール メニュー)</B></P>



<P>現在起動しているアプリケーションの一覧を表示します。この "タスク一覧"で、

アプリケーションを切り替えたり終了させたりできます。</P>





<P><B>ダイアログ ボックスのオプション</B></P>



<P><b> アプリケーションの切り替え</b> コマンドを選択すると、ダイアログ ボックスで以下のオプションが指定できます :</P>



<P><B>タスク一覧</B></P>



<P>使用するアプリケーションまたは閉じるアプリケーションを選択します。</P>



<P><B>切り替え</B></P>



<P>選択されたアプリケーションをアクティブにします。</P>



<P><B>アプリケーションの終了</B></P>



<P>選択されたアプリケーションを閉じます。</P>



<P><B>キャンセル</B></P>



<P>[タスク一覧] ボックスを閉じます。</P>



<P><B>重ねて表示</B></P>



<P>起動しているアプリケーションのウィンドウを順々に重ねて、それぞれのタイトル バーが見えるように表示します。アイコン化されているアプリケーションは並び替えられません。</P>



<P><B>並べて表示</B></P>



<P>起動しているアプリケーションのウィンドウを互いに重なり合わないように表示します。アイコン化されているアプリケーションは並び替えられません。</P>



<P><B>アイコンの整列</B></P>



<P>アイコン化されているアプリケーションを画面の下部に並べて表示します。</P>



</BODY>

</HTML>

