<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=shift_jis">

<TITLE>([印刷プレビュー] コマンド ([ファイル] メニュー))</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">

	<PARAM NAME="Keyword" VALUE="printing and print preview">

</OBJECT>



<P><A NAME="hid_file_print_preview"></A><B>[印刷プレビュー] コマンド ([ファイル] メニュー)</B></P>



<P>作業中の文書を印刷時のイメージで印刷プレビュー画面に表示します。印刷プレビュー画面はメインのウィンドウと入れ代わり、印刷時のイメージを 1 または 2 ページ表示します。画面上部に表示される<A HR

EF="afx_hidw_preview_bar.htm">印刷プレビュー ツール バー </A>を使って、 1 または 2 ページの画面表示の切り替え、表示するページの変更、表示の拡大縮小、印刷の開始などを行うことができます。</P>



</BODY>

</HTML>

