<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=shift_jis">

<TITLE>([終了] コマンド ([ファイル] メニュー))</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">

	<PARAM NAME="Keyword" VALUE="exit">

</OBJECT>



<P><A NAME="hid_app_exit"></A><B>[終了] コマンド ([ファイル] メニュー)</B></P>



<P>&lt;&lt;YourApp&gt;&gt; での作業を終了します。アプリケーション ウィンドウの <b>コントロール</b>メニューにある <b>[閉じる]</b> コマンドを使って

作業を終了することもできます。文書に加えた変更点がまだ保存されていないときは、 &lt;&lt;YourApp&gt;&gt; は保存するかどうか確認するダイアログ ボックスを表示します。</P>





</BODY>

</HTML>

