<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=shift_jis">

<TITLE>([閉じる] コマンド ([ファイル] メニュー))</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">

	<PARAM NAME="Keyword" VALUE="files: managing">

</OBJECT>



<P><A NAME="hid_file_close"></A><B>[閉じる] コマンド ([ファイル] メニュー)</B></P>



<P>作業中の文書を含むすべてのウィンドウを閉じるコマンドです。&lt;&lt;YourApp&gt;&gt; の文書を閉じる前に、変更点を保存してください。保存しないて文書を閉じると、最後に保存した後の変更はすべて失われます。無題の文書を閉じる場合は、&lt;&lt;YourApp&gt;&gt; に <A HREF="afx_hidd_filesave.htm">[名前を付けて保存] ダイアログ ボックス</A>が表示され、文書に名前を指定して保存するように指示されます。</P>





</BODY>

</HTML>

