<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=shift_jis">

<TITLE>([上書き保存] コマンド ([ファイル] メニュー))</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">

	<PARAM NAME="Keyword" VALUE="files: managing">

</OBJECT>



<P><A NAME="hid_file_save"></A><B>[上書き保存] コマンド ([ファイル] メニュー)</B></P>



<P>作業中の文書のファイル名、保存場所を変更しないで保存します。新規作成した文書を初めて保存するときに、&lt;&lt;YourApp&gt;&gt; は<A HREF="afx_hidd_filesave.htm">[名前を付けて保存] ダイアログ ボックス</A>を表示しますので、作業中の文書に適切なファイル名を付けて保存することができます。

 ファイル名、保存場所を変更して保存したいときは、<A HREF="hid_file_save_as.htm">[名前を付けて保存...] コマンド</A>を使います。</P>





</BODY>

</HTML>

