<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=shift_jis">

<TITLE>(タイトル バー)</TITLE>

</HEAD>



<BODY>





<P><A NAME="hid_ht_caption"></A><B>タイトル バー</B></P>



<P>&lt;&lt; アプリケーションのタイトル バーをここに挿入してください。 &gt;&gt;</P>



<P>タイトル バーは、ウィンドウ上端のアプリケーション名や文書名が表示される部分です。</P>



<P>ウィンドウを移動するには、タイトル バーをドラッグしてください。参考: ダイアログ ボックスにもタイトル バーがあり、ドラッグして移動することができます。 </P>



<P>タイトル バーには次の要素が含まれます :</P>



<P><IMG SRC="images/bullet.gif" ALT="" BORDER=0>アプリケーションのコントロール メニュー ボタン</P>



<P><IMG SRC="images/bullet.gif" ALT="" BORDER=0>文書のコントロール メニュー ボタン</P>



<P><IMG SRC="images/bullet.gif" ALT="" BORDER=0>[最大表示] ボタン</P>



<P><IMG SRC="images/bullet.gif" ALT="" BORDER=0>[アイコン化] ボタン</P>



<P><IMG SRC="images/bullet.gif" ALT="" BORDER=0>アプリケーション名</P>



<P><IMG SRC="images/bullet.gif" ALT="" BORDER=0>文書名</P>



<P><IMG SRC="images/bullet.gif" ALT="" BORDER=0>[元のサイズに戻す] ボタン</P>



</BODY>

</HTML>

