<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=shift_jis">

<TITLE>([リンクの設定] コマンド ([編集]メニュー))</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">

	<PARAM NAME="Keyword" VALUE="objects: embedding">

</OBJECT>



<P><A NAME="hid_ole_edit_links"></A><B>[リンクの設定] コマンド ([編集]メニュー)</B></P>



<P>このコマンドを使って、<A HREF="afx_hidd_editlinks.htm">[リンクの設定] ダイアログ ボックス</A>を表示します。このダイアログ ボックスで、現在作業中の文書と他の文書とのリンクを設定します。</P>



<P>現在作業中の文書に他の文書とのリンクがない場合には使用できません。</P>



</BODY>

</HTML>

