<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=shift_jis">

<TITLE>(文書の変更)</TITLE>

</HEAD>



<BODY>





<P><A NAME="hidr_doc1type"></A><B>文書の変更</B></P>



<P>&lt;&lt; 文書の変更に関するアプリケーション固有の説明をここに記述してください。</P>



<P>複数のファイル形式をサポートするアプリケーションで、それぞれのファイル形式に対するヘルプ トピックを追加したいときは、AppWizard が作成した MAKEHELP.BAT を実行し、

生成されるヘルプ コンテキスト ID を使ってください。または、MAKEHM ユーティリティを

以下のように実行してください :</P>



<P>makehm IDR_HIDR_,0x2000 resource.h</P>



<P>アプリケーションで扱うファイル形式の IDR_ シンボルが IDR_CHARTTYPE だとすると、MAKEHM が生成するヘルプ コンテキスト ID は 

HIDR_CHARTTYPE になります。</P>



<P>注意 : AppWizard はこのヘルプ トピックの HIDR_DOC1TYPE ヘルプ コンテキスト ID を、アプリケーションが第一に使うファイル形式として定義していることに注意してください。

AppWizard は .HPJ 内にエイリアスを生成し、HIDR_DOC1TYPE を MAKEHM がアプリケーションのファイル形式用に作成した HIDR_ にマップします。 &gt;&gt;</P>



</BODY>

</HTML>

