<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=shift_jis">

<TITLE>([ファイル] メニューのコマンド)</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">

	<PARAM NAME="Keyword" VALUE="files: managing">

</OBJECT>



<P><A NAME="menu_file"></A><B>[ファイル] メニューのコマンド</B></P>



<P><b>[ファイル]</b> メニューには以下のようなコマンドがあります :</P>



<TABLE cols=2 width=900>



<TR VALIGN="top">

<TD width=16%><A HREF="hid_file_new.htm">[新規作成]</A></TD>

<TD width=84%>文書を新規に作成します。</TD>

</TR>



<TR VALIGN="top">

<TD width=16%><A HREF="hid_file_open.htm">[開く]</A></TD>

<TD width=84%>既存の文書を開きます。</TD>

</TR>



<TR VALIGN="top">

<TD width=16%><A HREF="hid_file_close.htm">[閉じる]</A></TD>

<TD width=84%>現在開いている文書を閉じます。</TD>

</TR>



<TR VALIGN="top">

<TD width=16%><A HREF="hid_file_save.htm">[上書き保存]</A></TD>

<TD width=84%>作業中の文書を上書きして保存します。</TD>

</TR>



<TR VALIGN="top">

<TD width=16%><A HREF="hid_file_save_as.htm">[名前を付けて保存]</A></TD>

<TD width=84%>作業中の文書に新しい名前を付けて保存します。</TD>

</TR>



[!if PRINTING]

<TR VALIGN="top">

<TD width=16%><A HREF="hid_file_print.htm">[印刷]</A></TD>

<TD width=84%>文書を印刷します。</TD>

</TR>



<TR VALIGN="top">

<TD width=16%><A HREF="hid_file_print_preview.htm">[印刷プレビュー]</A></TD>

<TD width=84%>文書を印刷時のイメージで表示します。</TD>

</TR>



<TR VALIGN="top">

<TD width=16%><A HREF="hid_file_print_setup.htm">[プリンタの設定]</A></TD>

<TD width=84%>プリンタの選択や接続を設定します。</TD>

</TR>



[!endif]

[!if MAPI]

<TR VALIGN="top">

<TD width=16%><A HREF="hid_file_send_mail.htm">[送信...]</A></TD>

<TD width=84%>作業中の文書を電子メールで送信します。</TD>

</TR>



[!endif]

<TR VALIGN="top">

<TD width=16%><A HREF="hid_app_exit.htm">[終了]</A></TD>

<TD width=84%>&lt;&lt;YourApp&gt;&gt; を終了します。</TD>

</TR>

</TABLE><BR>



</BODY>

</HTML>

