<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=shift_jis">

<TITLE>([編集] メニューのコマンド)</TITLE>

</HEAD>



<BODY>





<P><A NAME="menu_edit"></A><B>[編集] メニューのコマンド</B></P>



<P><b>[編集]</b> メニューには以下のようなコマンドがあります :</P>



<TABLE cols=2 width=900>



<TR VALIGN="top">

<TD width=15%><A HREF="hid_edit_undo.htm">[元に戻す]</A></TD>

<TD width=85%>直前に行った操作を元に戻します。</TD>

</TR>

<TR VALIGN="top">

<TD width=15%><A HREF="hid_edit_cut.htm">[切り取り]</A></TD>

<TD width=85%>選択した範囲を切り取って、クリップボードに保存します。</TD>

</TR>



<TR VALIGN="top">

<TD width=15%><A HREF="hid_edit_copy.htm">[コピー]</A></TD>

<TD width=85%>クリップボードのデータを文書に貼り付けます。</TD>

</TR>



<TR VALIGN="top">

<TD width=15%><A HREF="hid_edit_paste.htm">[貼り付け]</A></TD>

<TD width=85%>クリップボードのデータを文書に貼り付けます。</TD>

</TR>



[!if CONTAINER || CONTAINER_SERVER]

<TR VALIGN="top">

<TD width=15%><A HREF="hid_edit_paste_link.htm">[リンク貼り付け]</A></TD>

<TD width=85%>クリップボードのデータを他のアプリケーションとリンクさせて貼り付けます。</TD>

</TR>



<TR VALIGN="top">

<TD width=15%><A HREF="hid_ole_insert_new.htm">[オブジェクトの作成と貼り付け]</A></TD>

<TD width=85%>グラフや数式などの埋め込みオブジェクトを挿入します｡</TD>

</TR>



<TR VALIGN="top">

<TD width=15%><A HREF="hid_ole_edit_links.htm">[リンクの設定]</A></TD>

<TD width=85%>文書に埋め込まれたリンクの表示と編集を行います。</TD>

</TR>

[!endif]

</TABLE>



</BODY>

</HTML>

