<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=shift_jis">

<TITLE>([ヘルプ] メニューのコマンド)</TITLE>

</HEAD>



<BODY>





<P><A NAME="menu_help"></A><B>[ヘルプ] メニューのコマンド</B></P>



<P><b> ヘルプ</b> メニューメには以下のようなコマンドがあります : </P>



<TABLE cols=2 width=900>



<TR VALIGN="top">

<TD width=16%><A HREF="hid_help_index.htm">[目次]</A></TD>

<TD width=84%>ヘルプの目次画面を表示します。</TD>

</TR>



<TR VALIGN="top">

<TD width=16%><A HREF="hid_app_about.htm">[バージョン情報]</A></TD>

<TD width=84%>このアプリケーションのバージョン情報を表示します。</TD>

</TR>

</TABLE><BR>



</BODY>

</HTML>

