<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=shift_jis">

<TITLE>([ウィンドウ] メニューのコマンド)</TITLE>

</HEAD>



<BODY>





<P><A NAME="menu_window"></A><B>[ウィンドウ] メニューのコマンド</B></P>



<P>[ウィンドウ] メニューには、複数のアプリケーション ウィンドウの表示方法を操作する以下のようなコマンドがあります :</P>



<TABLE cols=2 width=900>



<TR VALIGN="top">

<TD width=21%><A HREF="hid_window_new.htm">[新しいウィンドウを開く]</A></TD>

<TD width=79%>現在作業中の文書と同じ内容の新しいウィンドウを開きます。</TD>

</TR>



<TR VALIGN="top">

<TD width=21%><A HREF="hid_window_cascade.htm">[重ねて表示]</A></TD>

<TD width=79%>ウィンドウを重ねて表示します。</TD>

</TR>



<TR VALIGN="top">

<TD width=21%><A HREF="hid_window_tile.htm">[並べて表示]</A></TD>

<TD width=79%>ウィンドウを並べて表示します。</TD>

</TR>



<TR VALIGN="top">

<TD width=21%><A HREF="hid_window_arrange.htm">[アイコンの整列]</A></TD>

<TD width=79%>ウィンドウの下部にアイコンを整列します。</TD>

</TR>


[!if SPLITTER]
<TR VALIGN="top">

<TD width=21%><A HREF="hid_window_split.htm">[分割]</A></TD>

<TD width=79%>現在作業中の文書を分割します。</TD>

</TR>



[!endif]
<TR VALIGN="top">

<TD width=21%><A HREF="hid_window_all.htm">[ウィンドウ名 1, 2, ...]</A></TD>

<TD width=79%>指定したウィンドウを表示します。</TD>

</TR>

</TABLE><BR>



</BODY>

</HTML>

