<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=shift_jis">

<TITLE>([レコード] メニュー コマンド)</TITLE>

</HEAD>



<BODY>





<P><A NAME="menu_record"></A><B>[レコード] メニュー コマンド</B></P>



<P>[レコード] メニューには以下のようなコマンドがあります :</P>



<TABLE cols=2 width=900>



<TR VALIGN="top">

<TD width=23%><A HREF="hid_record_first.htm">1 つ目のレコード</A></TD>

<TD width=77%>選択範囲中の 1 つ目のレコードを表示</TD>

</TR>



<TR VALIGN="top">

<TD width=23%><A HREF="hid_record_prev.htm">前のレコード</A></TD>

<TD width=77%>選択範囲中の現在表示されているレコードの前のレコードを表示</TD>

</TR>



<TR VALIGN="top">

<TD width=23%><A HREF="hid_record_next.htm">次のレコード</A></TD>

<TD width=77%>選択範囲中の現在表示されているレコードの次のレコードを表示</TD>

</TR>



<TR VALIGN="top">

<TD width=23%><A HREF="hid_record_last.htm">最後のレコード</A></TD>

<TD width=77%>選択範囲中の最後のレコードを表示</TD>

</TR>

</TABLE>



</BODY>

</HTML>

