<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=shift_jis">

<TITLE>([表示] メニューのコマンド)</TITLE>

</HEAD>



<BODY>





<P><A NAME="menu_view"></A><B>[表示] メニューのコマンド</B></P>



<P><b>[表示]</b> メニューには以下のようなコマンドがあります :</P>



<TABLE cols=2 width=900>



<TR VALIGN="top">

<TD width=18%><A HREF="hid_view_toolbar.htm">[ツール バー]</A></TD>

<TD width=82%>ツール バーの表示または非表示を切り替えます。</TD>

</TR>



<TR VALIGN="top">

<TD width=18%><A HREF="hid_view_status_bar.htm">[ステータス バー]</A></TD>

<TD width=82%>ステータス バーの表示または非表示を切り替えます。</TD>

</TR>

</TABLE>



</BODY>

</HTML>

