<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Finestra di dialogo Nuovo)</TITLE>

</HEAD>



<BODY>





<P><A NAME="afx_hidd_newtypedlg"></A><B>Finestra di dialogo Nuovo</B></P>



<P>&lt;&lt; Eliminare questo argomento della Guida se l'applicazione supporta solo un tipo di documento. &gt;&gt;</P>



<P>Specificare il tipo di documento che si desidera creare:</P>



<P>&lt;&lt; Elencare qui i tipi di documento dell'applicazione. &gt;&gt;</P>



</BODY>

</HTML>

