<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Finestra di dialogo Stampa)</TITLE>

</HEAD>



<BODY>





<P><A NAME="afx_hidd_print"></A><B>Finestra di dialogo Stampa</B></P>



<P>Le seguenti opzioni consentono di specificare la modalità di stampa del documento:</P>



<P><B>Stampante</B></P>



<P>Visualizza la stampante attiva e la connessione alla stampante. Scegliere l'opzione <b>Imposta</b> per modificare la stampante e la relativa connessione.</P>



<P><B>Imposta</B></P>



<P>Visualizza la <A HREF="afx_hidd_printsetup.htm">finestra di dialogo Imposta stampante</A> che consente di selezionare una stampante e la relativa connessione.</P>



<P><B>Intervallo di stampa</B></P>



<P>Specifica le pagine che si desidera stampare:</P>



<TABLE cols=2 width=548>



<TR VALIGN="top">

<TD width=15%><B>Tutte</B></TD>

<TD width=85%>Stampa l'intero documento.</TD>

</TR>



<TR VALIGN="top">

<TD width=15%><B>Selezione</B></TD>

<TD width=85%>Stampa il testo selezionato.</TD>

</TR>



<TR VALIGN="top">

<TD width=15%><B>Pagine</B></TD>

<TD width=85%>Stampa l'intervallo di pagine specificato nei campi <b>Da</b> e <b>A</b>.

</TD>

</TR>

</TABLE>



<P><B>Copie</B></P>



<P>Specifica il numero di copie che si desidera stampare per le pagine selezionate.</P>



<P><B>Fascicola copie</B></P>



<P>Stampa le copie in sequenza, secondo il numero di pagina.</P>



<P><B>Qualità di stampa</B></P>



<P>Specifica la qualità della stampa. In genere, una stampa di qualità inferiore richiede meno tempo.</P>



</BODY>

</HTML>

