<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Finestra di dialogo Imposta stampante)</TITLE>

</HEAD>



<BODY>





<P><A NAME="afx_hidd_printsetup"></A><B>Finestra di dialogo Imposta stampante</B></P>



<P>Le seguenti opzioni consentono di selezionare la stampante di destinazione e la relativa connessione.</P>



<P><B>Stampante</B></P>



<P>Specifica la stampante che si desidera utilizzare. Scegliere la stampante predefinita o l'opzione 

<b>Stampante specifica</b> e selezionare nella casella una delle stampanti installate. L'installazione delle stampanti e la configurazione delle porte si esegue mediante il

Pannello di controllo. </P>



<P><B>Orientamento/B></P>



<P>Specifica <b>Verticale</b> o <b>Orizzontale</b>.</P>



<P><B>Formato carta</B></P>



<P>Specifica le dimensioni del foglio su cui stampare il documento.</P>



<P><B>Alimentazione</B></P>



<P>Specifica l'alimentazione poiché alcune stampanti utilizzano più cassetti per alimentazioni differenti.</P>



<P><B>Opzioni</B></P>



<P>Visualizza una finestra di dialogo in cui è possibile impostare ulteriori opzioni di stampa, relative al tipo di stampante selezionato.</P>



<P><B>Rete</B></P>



<P>Scegliere questo pulsante per connettersi a un percorso di rete assegnandogli una nuova lettera di unità.</P>



</BODY>

</HTML>

