<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(barra degli strumenti anteprima di stampa)</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">

	<PARAM NAME="Keyword" VALUE="stampa e anteprima di stampa">

</OBJECT>



<P><A NAME="afx_hidw_preview_bar"></A><B>Barra degli strumenti Anteprima di stampa</B></P>



<P>La barra degli strumenti Anteprima di stampa include le seguenti opzioni:</P>



<P><B>Stampa</B></P>



<P>Visualizza la finestra di dialogo <b>Stampa</b> che consente di avviare un processo di stampa.</P>



<P><B>Pagina successiva</B></P>



<P>Mostra l'anteprima della successiva pagina in fase di stampa.</P>



<P><B>Pagina precedente</B></P>



<P>Mostra l'anteprima della precedente pagina in fase di stampa.</P>



<P><B>Una pagina / Due pagine</B></P>



<P>Mostra l'anteprima di una o due pagine in fase di stampa.</P>



<P><B>Zoom avanti</B></P>



<P>Ingrandisce la visualizzazione della pagina in fase di stampa.</P>



<P><B>Zoom indietro</B></P>



<P>Riduce la visualizzazione della pagina in fase di stampa.</P>



<P><B>Chiudi</B></P>



<P>Ritorna dall'anteprima di stampa alla finestra di modifica.</P>



</BODY>

</HTML>

