<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Area per l'ancoraggio delle barre degli strumenti)</TITLE>

</HEAD>



<BODY>





<P><A NAME="afx_hidw_dockbar_top"></A><B>Area per l'ancoraggio delle barre degli strumenti</B></P>



<P>Quest'area è destinata a contenere le barre degli strumenti ancorabili, ad esempio quella predefinita dell'applicazione. Le barre degli strumenti ancorabili possono essere trascinate su quest'area client o all'esterno di essa, dopodiché si dispongono in base allo spazio disponibile.</P>



</BODY>

</HTML>

