<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Guida non disponibile)</TITLE>

</HEAD>



<BODY>





<P><A NAME="afx_hidp_default"></A><B>Guida non disponibile</B></P>



<P>Non è disponibile alcuna Guida per questa finestra di messaggio.</P>



<P>&lt;&lt; Se si desidera modificare la Guida relativa a ciascuna richiesta delle finestre di messaggio, rimuovere i valori AFX_HIDP_xxx dalla sezione [ALIAS] del file

.hpj e modificare un argomento per ciascun valore AFX_HIDP_xxx. Ad esempio, AFX_HIDP_INVALID_FILENAME è l'argomento della Guida per la finestra di messaggio 

<b>Nome di file non valido</b>. &gt;&gt;</P>



</BODY>

</HTML>

