<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(barra di stato)</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">

	<PARAM NAME="Keyword" VALUE="status bar">

</OBJECT>



<P><A NAME="afx_hidw_status_bar"></A><B>Barra di stato</B></P>



<P>La barra di stato è visualizzata nella parte inferiore della finestra di &lt;&lt;YourApp&gt;&gt;. Per visualizzare o nascondere la barra di stato, utilizzare il comando

<b>Barra di stato</b> del menu <b>Visualizza</b>.</P>



<P>L'area sinistra della barra di stato descrive le azioni delle voci di menu quando si utilizzano i tasti di direzione per spostarsi tra i menu. Quest'area visualizza inoltre i messaggi che descrivono le azioni dei pulsanti della barra degli strumenti

prima di rilasciare il pulsante del mouse. Se, dopo aver visualizzato la descrizione del pulsante della barra degli strumenti, non si desidera eseguire il comando, trascinare il puntatore fuori dalla superficie del pulsante e rilasciare il pulsante del mouse.</P>



<P>Le aree a destra della barra di stato indicano quali dei seguenti tasti sono bloccati:</P>



<P><B>Indicatore &nbsp;&nbsp;&nbsp;Descrizione</B></P>



<P>CAP&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Il tasto BLOC MAIUSC è attivato.</P>



<P>NUM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Il tasto BLOC NUM è attivato.</P>



<P>SCRL&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Il tasto BLOC SCORR è attivato.</P>



</BODY>

</HTML>

