<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Finestra di dialogo Salva con nome)</TITLE>

</HEAD>



<BODY>





<P><A NAME="afx_hidd_filesave"></A><B>Finestra di dialogo Salva con nome</B></P>



<P>Le seguenti opzioni consentono di specificare il nome e il percorso del file che si intende salvare:</P>



<P><B>Nome file</B></P>



<P>Specifica un nome file che consente di salvare un documento con un nome differente. &lt;&lt;YourApp&gt;&gt; aggiunge l'estensione specificata nella casella 

<b>Tipo file</b>.</P>



<P><B>Unità</B></P>



<P>Specifica l'unità in cui si desidera archiviare il documento.</P>



<P><B>Directory</B></P>



<P>Specifica la directory in cui si desidera archiviare il documento.</P>



<P><B>Rete</B></P>



<P>Scegliere questo pulsante per connettersi a un percorso di rete assegnandogli una nuova lettera di unità. </P>



<P>&lt;&lt; Aggiungere altre opzioni alla finestra di dialogo <b>Salva con nome</b> in base alle scelte eseguite dall'applicazione

tramite i flag OFN_ della struttura OPENFILENAME utilizzata da CFileDialog. &gt;&gt;</P>



</BODY>

</HTML>

