<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Finestra di dialogo Apri)</TITLE>

</HEAD>



<BODY>





<P><A NAME="afx_hidd_fileopen"></A><B>Finestra di dialogo Apri</B></P>



<P>Le seguenti opzioni consentono di specificare il file da aprire:</P>



<P><B>Nome file</B></P>



<P>Specifica il file che si desidera aprire. Questa casella elenca i file con l'estensione selezionata nel campo 

<b>Tipo file</b>. </P>



<P><B>Tipo file</B></P>



<P>Specifica il tipo di file che si desidera aprire:</P>



<P>&lt;&lt; Elencare qui i tipi di file dell'applicazione. &gt;&gt;</P>



<P><B>Unità</B></P>



<P>Specifica l'unità in cui &lt;&lt;YourApp&gt;&gt; archivia il file che si desidera aprire. </P>



<P><B>Directory</B></P>



<P>Specifica la directory in cui &lt;&lt;YourApp&gt;&gt; archivia il file che si desidera aprire.</P>



<P><B>Rete</B></P>



<P>Scegliere questo pulsante per connettersi a un percorso di rete assegnandogli una nuova lettera di unità. </P>



</BODY>

</HTML>

