<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(barra degli strumenti)</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e" width="14" height="14">

	<PARAM NAME="Keyword" VALUE="toolbar">

</OBJECT>



<P><A NAME="afx_hidw_toolbar"></A><B>Barra degli strumenti</B></P>





<P>La barra degli strumenti è visualizzata nella parte superiore della finestra dell'applicazione, sotto la barra dei menu. Consente il rapido accesso a molti strumenti utilizzati in &lt;&lt;YourApp&gt;&gt;.</P>



<P>Per visualizzare o nascondere la barra degli strumenti, scegliere <b>Barra degli strumenti</b> dal menu <b>Visualizza</b>.</P>



</BODY>

</HTML>

