<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Comando Stampa (menu File))</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">

	<PARAM NAME="Keyword" VALUE="stampa e anteprima di stampa">

</OBJECT>



<P><A NAME="hid_file_print"></A><B>Comando Stampa (menu File)</B></P>



<P>Utilizzare questo comando per stampare un documento. Il comando visualizza la <A HREF="afx_hidd_print.htm">finestra di dialogo Stampa</A> in cui è possibile specificare l'intervallo di pagine da stampare, il numero di copie, la stampante di destinazione e altre opzioni di impostazione della stampante.</

P>



</BODY>

</HTML>

