<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Barra del titolo)</TITLE>

</HEAD>



<BODY>





<P><A NAME="hid_ht_caption"></A><B>Barra del titolo</B></P>



<P>&lt;&lt; Visualizzare qui la barra del titolo dell'applicazione. &gt;&gt;</P>



<P>La barra del titolo si trova nella parte superiore di una finestra. Contiene il nome dell'applicazione e del documento.</P>



<P>Per spostare la finestra, trascinare la barra del titolo. Nota: è anche possibile spostare le finestre di dialogo trascinando le relative barre del titolo.</P>



<P>Una barra del titolo può contenere i seguenti elementi:</P>



<P><IMG SRC="images/bullet.gif" ALT="" BORDER=0>Pulsante del menu di controllo dell'applicazione</P>



<P><IMG SRC="images/bullet.gif" ALT="" BORDER=0>Pulsante del menu di controllo del documento</P>



<P><IMG SRC="images/bullet.gif" ALT="" BORDER=0>Pulsante di ingrandimento</P>



<P><IMG SRC="images/bullet.gif" ALT="" BORDER=0>Pulsante di riduzione a icona</P>



<P><IMG SRC="images/bullet.gif" ALT="" BORDER=0>Nome dell'applicazione</P>



<P><IMG SRC="images/bullet.gif" ALT="" BORDER=0>Nome del documento</P>



<P><IMG SRC="images/bullet.gif" ALT="" BORDER=0>Pulsante di ripristino</P>



</BODY>

</HTML>

