<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Comando Barra degli strumenti (menu Visualizza))</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">

	<PARAM NAME="Keyword" VALUE="toolbar">

</OBJECT>



<P><A NAME="hid_view_toolbar"></A><B>Comando Barra degli strumenti (menu Visualizza)</B></P>



<P>Utilizzare questo comando per visualizzare e nascondere la barra degli strumenti, che comprende i pulsanti per alcuni dei comandi più comuni di &lt;&lt;YourApp&gt;&gt;, ad esempio il comando

<b>Apri</b>. Un segno di spunta appare accanto alla voce di menu quando la barra degli strumenti è visualizzata.</P>



<P>Per ulteriori informazioni sull'uso della barra degli strumenti, vedere <A HREF="afx_hidw_toolbar.htm">Barra degli strumenti</A>.</P>



</BODY>

</HTML>

