<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Comando Dividi (menu Finestra))</TITLE>

</HEAD>



<BODY>





<P><A NAME="hid_window_split"></A><B>Comando Dividi (menu Finestra)</B></P>



<P>Utilizzare questo comando per dividere la finestra attiva in riquadri. È quindi possibile utilizzare il mouse o i tasti di direzione per spostare le barre di divisione. Al termine, fare clic sul pulsante del mouse o premere il tasto INVIO per lasciare le barre di divisione nella nuova posizione. Quando si preme

ESC, le barre di divisione tornano nelle posizioni originali. &lt;&lt; Nelle applicazioni con interfaccia a documento singolo, questo comando appare nel

menu <b>Visualizza</b>. &gt;&gt;</P>



</BODY>

</HTML>

