<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Comando Annulla/Impossibile annullare (menu Modifica))</TITLE>

</HEAD>



<BODY>





<P><A NAME="hid_edit_undo"></A><B>Comando Annulla/Impossibile annullare (menu Modifica)</B></P>



<P>&lt;&lt; L'interfaccia dell'applicazione per il comando Annulla potrebbe essere diversa da quella descritta di seguito. Modificare il testo della Guida in base alle differenze. &gt;&gt;</P>



<P>Utilizzare questo comando per annullare l'ultima azione di modifica. Il nome del comando cambia, a seconda dell'ultima azione. Se non è possibile annullare l'ultima azione, il comando

<b>Annulla</b> si modifica in <b>Impossibile annullare</b>.</P>



</BODY>

</HTML>

