<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Comando Copia (menu Modifica))</TITLE>

</HEAD>



<BODY>





<P><A NAME="hid_edit_copy"></A><B>Comando Copia (menu Modifica)</B></P>



<P>Utilizzare questo comando per copiare negli Appunti i dati selezionati. Questo comando non è disponibile se non sono stati selezionati dei dati.</P>



<P>La copia dei dati negli Appunti sostituisce i dati memorizzati precedentemente.</P>





</BODY>

</HTML>

