<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Comando Passa a (menu di controllo dell'applicazione))</TITLE>

</HEAD>



<BODY>





<P><A NAME="hid_sc_tasklist"></A><B>Comando Passa a (menu di controllo dell'applicazione)</B></P>



<P>Utilizzare questo comando per visualizzare un elenco di tutte le applicazioni aperte. Utilizzare questo

Elenco attività per passare a un'applicazione dell'elenco o per chiudere un'applicazione.</P>





<P><B>Opzioni della finestra di dialogo</B></P>



<P>Quando si sceglie il comando <b>Passa a</b>, viene visualizzata una finestra di dialogo con le seguenti opzioni:</P>



<P><B>Elenco attività</B></P>



<P>Consente di selezionare l'applicazione a cui si desidera passare o che si desidera chiudere.</P>



<P><B>Passa a</B></P>



<P>Rende attiva l'applicazione selezionata.</P>



<P><B>Termina operazione</B></P>



<P>Chiude l'applicazione selezionata.</P>



<P><B>Annulla</B></P>



<P>Chiude la casella Elenco attività.</P>



<P><B>Sovrapponi</B></P>



<P>Dispone le applicazioni aperte in modo che si sovrappongano e sia possibile vedere la barra del titolo di ognuna. Questa opzione non interessa le applicazioni ridotte a icona.</P>



<P><B>Affianca</B></P>



<P>Dispone le applicazioni aperte in finestre non sovrapposte. Questa opzione non interessa le applicazioni ridotte a icona.</P>



<P><B>Disponi icone</B></P>



<P>Dispone le icone di tutte le applicazioni ridotte a icona nella parte inferiore dello schermo.</P>



</BODY>

</HTML>

