<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Comando 1, 2, ... (menu Finestra))</TITLE>

</HEAD>



<BODY>





<P><A NAME="hid_window_all"></A><B>Comando 1, 2, ... (menu Finestra)</B></P>



<P>&lt;&lt;YourApp&gt;&gt; visualizza un elenco di finestre dei documenti attualmente aperti nella parte inferiore del menu

<b>Finestra</b>. Un segno di spunta appare accanto al nome del documento della finestra attiva. Scegliere un documento per rendere attiva la relativa finestra.  </P>



</BODY>

</HTML>

