<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Comando 1, 2, 3, 4 (menu File))</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">

	<PARAM NAME="Keyword" VALUE="files: managing">

</OBJECT>



<P><A NAME="hid_file_mru_file1"></A><B>Comando 1, 2, 3, 4 (menu File)</B></P>



<P>Utilizzare i numeri e i nomi di file elencati nella parte inferiore del menu <b>File</b> per aprire gli ultimi quattro documenti chiusi. Scegliere il numero corrispondente al documento che si desidera aprire.</P>



</BODY>

</HTML>

