<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Comando Chiudi (menu File))</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">

	<PARAM NAME="Keyword" VALUE="files: managing">

</OBJECT>



<P><A NAME="hid_file_close"></A><B>Comando Chiudi (menu File)</B></P>



<P>Utilizzare questo comando per chiudere tutte le finestre contenenti il documento attivo. &lt;&lt;YourApp&gt;&gt; chiede di salvare le modifiche al documento prima di chiuderlo. Se si chiude un documento senza salvarlo,

verranno perse le ultime modifiche. Prima di chiudere un documento senza nome, &lt;&lt;YourApp&gt;&gt; visualizza la <A HREF="afx_hidd_filesave.htm">finestra di dialogo Salva con nome</A> che consente di assegnare un nome e di salvare il documento.</P>





</BODY>

</HTML>

