<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Comando Disponi icone (menu Finestra))</TITLE>

</HEAD>



<BODY>





<P><A NAME="hid_window_arrange"></A><B>Comando Disponi icone (menu Finestra )</B></P>



<P>Utilizzare questo comando per disporre le finestre ridotte a icona nella parte inferiore della finestra principale. Se è presente una finestra di un documento aperto nella parte inferiore della finestra principale, alcune o tutte le icone potrebbero non essere visibili perché sono nascoste dalla

finestra principale.</P>



</BODY>

</HTML>

