<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Comando Ripeti (menu Modifica))</TITLE>

</HEAD>



<BODY>





<P><A NAME="hid_edit_repeat"></A><B>Comando Ripeti (menu Modifica)</B></P>



<P>Utilizzare questo comando per ripetere l'ultimo comando di modifica. Se non è possibile ripetere l'ultima azione, la voce di menu <b>Ripeti</b> si modifica in

<b>Impossibile ripetere </b>.</P>



</BODY>

</HTML>

