<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Comando Finestra precedente (menu di controllo del documento))</TITLE>

</HEAD>



<BODY>





<P><A NAME="hid_sc_prevwindow"></A><B>Comando Finestra precedente (menu di controllo del documento)</B></P>



<P>Utilizzare questo comando per passare alla precedente finestra aperta del documento. &lt;&lt;YourApp&gt;&gt; determina la finestra precedente in base all'ordine in cui le finestre sono state aperte.</P>



</BODY>

</HTML>

