<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Comando Uso della Guida (menu ?))</TITLE>

</HEAD>



<BODY>





<P><A NAME="hid_context_help"></A><B>Comando Guida sensibile al contesto</B></P>





<P>Utilizzare questo comando per ottenere informazioni su alcune parti di &lt;&lt;YourApp&gt;&gt;. Quando si sceglie il pulsante <b>Guida sensibile al contesto</b> della

barra degli strumenti, il puntatore del mouse assumerà la forma di una freccia e di un punto interrogativo. Fare clic sul punto desiderato all'interno della finestra di &lt;&lt;YourApp&gt;&gt;, ad esempio su un altro pulsante della

barra degli strumenti. Verrà visualizzato il relativo argomento della Guida.</P>





</BODY>

</HTML>

