<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Comando Ridimensiona (menu Sistema))</TITLE>

</HEAD>



<BODY>





<P><A NAME="hid_sc_size"></A><B>Comando Ridimensiona (menu Sistema)</B></P>



<P>Utilizzare questo comando per visualizzare una freccia a quattro punte che consente di ridimensionare la finestra attiva con i tasti di direzione.</P>



<P>Quando il puntatore assume la forma di una freccia a quattro punte:</P>



<P>1. Premere uno dei tasti di direzione (tasto freccia a sinistra, a destra, su o giù) per spostare il puntatore sul bordo che si desidera spostare.  </P>



<P>2. Premere un tasto di direzione per spostare il bordo.</P>



<P>3. Premere INVIO quando la dimensione della finestra è quella desiderata.</P>



<P>Nota: questo comando non è disponibile se si ingrandisce la finestra.</P>



</BODY>

</HTML>

