<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Comando Anteprima di stampa (menu File))</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">

	<PARAM NAME="Keyword" VALUE="stampa e anteprima di stampa">

</OBJECT>



<P><A NAME="hid_file_print_preview"></A><B>Comando Anteprima di stampa (menu File)</B></P>



<P>Utilizzare questo comando per visualizzare il documento attivo così come apparirà una volta stampato. Quando si sceglie questo comando, la finestra principale sarà sostituita da una finestra di anteprima di stampa, in cui una o due pagine verranno visualizzate nel formato di stampa. La <A HR

EF="afx_hidw_preview_bar.htm">barra degli strumenti anteprima di stampa</A> offre alcune opzioni per visualizzare una o due pagine contemporaneamente, spostarsi avanti e indietro all'interno del documento, ingrandire e ridurre le pagine e avviare un processo di stampa.</P>



</BODY>

</HTML>

