<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Comando Taglia (menu Modifica))</TITLE>

</HEAD>



<BODY>





<P><A NAME="hid_edit_cut"></A><B>Comando Taglia (menu Modifica)</B></P>



<P>Utilizzare questo comando per rimuovere i dati attualmente selezionati dal documento e collocarli negli Appunti. Questo comando non è disponibile se non sono stati selezionati dei dati.</P>



<P>I dati inseriti negli Appunti con l'operazione Taglia sostituiscono quelli memorizzati precedentemente.</P>





</BODY>

</HTML>

