<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Comando Indice (menu ?))</TITLE>

</HEAD>



<BODY>





<P><A NAME="hid_help_index"></A><B>Comando Indice (menu ?)</B></P>



<P>Utilizzare questo comando per visualizzare la schermata iniziale della Guida. Da questa schermata è possibile passare alle istruzioni dettagliate per l'utilizzo di &lt;&lt;YourApp&gt;&gt; e a diversi tipi di informazioni di riferimento.  </P>



<P>Dopo aver aperto la Guida, è possibile fare clic sul pulsante <b>Sommario</b> ogni volta che si desidera ritornare alla schermata iniziale.</P>



</BODY>

</HTML>

