<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Comando Incolla (menu Modifica))</TITLE>

</HEAD>



<BODY>





<P><A NAME="hid_edit_paste"></A><B>Comando Incolla (menu Modifica)</B></P>



<P>Utilizzare questo comando per inserire una copia del contenuto degli Appunti in corrispondenza del punto di inserimento. Questo comando non è disponibile se negli Appunti non sono presenti dei dati.</P>



</BODY>

</HTML>

