<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Comando Record successivo)</TITLE>

</HEAD>



<BODY>





<P><A NAME="hid_record_next"></A><B>Comando Record successivo (menu Record)</B></P>



<P>Utilizzare questo comando per passare al record successivo nella selezione corrente. Questo comando sarà disattivato se si sta visualizzando l'ultimo record e si è arrivati a questo record tramite una serie di comandi

<b>Record successivo</b> invece di utilizzare il comando <b>Ultimo record</b>.</P>





</BODY>

</HTML>

