<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Comando Salva (menu File))</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">

	<PARAM NAME="Keyword" VALUE="files: managing">

</OBJECT>



<P><A NAME="hid_file_save"></A><B>Comando Salva (menu File)</B></P>



<P>Utilizzare questo comando per salvare il documento attivo con lo stesso nome e nella stessa directory. Quando si salva un documento per la prima volta, &lt;&lt;YourApp&gt;&gt; visualizza la <A HREF="afx_hidd_filesave.htm">finestra di dialogo Salva con nome</A> in modo che sia possibile assegnare un nome al documento. Se

 si desidera modificare il nome e la directory di un documento esistente prima di salvarlo, scegliere il <A HREF="hid_file_save_as.htm">comando Salva con nome</A>.</P>





</BODY>

</HTML>

