<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Comando Nuova (menu Finestra))</TITLE>

</HEAD>



<BODY>





<P><A NAME="hid_window_new"></A><B>Comando Nuova (menu Finestra)</B></P>



<P>Utilizzare questo comando per aprire una nuova finestra con lo stesso contenuto della finestra attiva. È possibile aprire più finestre del documento per visualizzare contemporaneamente diverse parti o visualizzazioni di un documento. Se si modifica il contenuto di una finestra, tali modifiche interesseranno tutte 

le altre finestre contenenti lo stesso documento. Ogni nuova finestra aperta diventa quella attiva e viene visualizzata in primo piano rispetto alle altre finestre aperte.</P>



</BODY>

</HTML>

