<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Comando Apri (menu File))</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">

	<PARAM NAME="Keyword" VALUE="files: managing">

</OBJECT>



<P><A NAME="hid_file_open"></A><B>Comando Apri (menu File)</B></P>



<P>Utilizzare questo comando per aprire un documento esistente in una nuova finestra. È possibile aprire più documenti contemporaneamente. Utilizzare il menu

<b>Finestra</b> per spostarsi tra i documenti aperti. Vedere <A HREF="hid_window_all.htm">comando Finestra 1, 2, ...</A>.</P>



<P>È possibile creare nuovi documenti con il <A HREF="hid_file_new.htm">comando Nuovo</A>.</P>





</BODY>

</HTML>

