<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Comando Invia (menu File))</TITLE>

</HEAD>



<BODY>





<P><A NAME="hid_file_send_mail"></A><B>Comando Invia (menu File)</B></P>



<P>Utilizzare questo comando per inviare il documento tramite posta elettronica. Questo comando visualizza una finestra della posta con il documento attivo allegato. È possibile riempire i campi

<b>A</b>, <b>Oggetto</b> e così via, e aggiungere un testo al messaggio. Al termine, è

possibile fare clic sul pulsante <b>Invia</b> per inviare il messaggio.</P>



</BODY>

</HTML>

