<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Comando Barra di stato (menu Visualizza))</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">

	<PARAM NAME="Keyword" VALUE="status bar">

</OBJECT>



<P><A NAME="hid_view_status_bar"></A><B>Comando Barra di stato (menu Visualizza)</B></P>



<P>Utilizzare questo comando per visualizzare e nascondere la barra di stato, che descrive l'azione da eseguire tramite la voce di menu selezionata 

(o il pulsante della barra degli strumenti) e lo stato di blocco della tastiera. Un segno di spunta appare accanto alla voce di menu

quando la barra di stato è visualizzata.</P>



<P>Per ulteriori informazioni sull'uso della barra di stato, vedere <A HREF="afx_hidw_status_bar.htm">Barra di stato</A>.</P>



</BODY>

</HTML>

