<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Comando Sposta (menu di controllo))</TITLE>

</HEAD>



<BODY>





<P><A NAME="hid_sc_move"></A><B>Comando Sposta (menu di controllo)</B></P>



<P>Utilizzare questo comando per visualizzare una freccia a quattro punte che consente di spostare la finestra o la finestra di dialogo attiva con i tasti di direzione.</P>



<P>Nota: questo comando non è disponibile se si ingrandisce la finestra.</P>



</BODY>

</HTML>

