<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Comando Collegamenti (menu Modifica))</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">

	<PARAM NAME="Keyword" VALUE="objects: embedding">

</OBJECT>



<P><A NAME="hid_ole_edit_links"></A><B>Comando Collegamenti (menu Modifica)</B></P>



<P>Utilizzare questo comando per visualizzare la <A HREF="afx_hidd_editlinks.htm">finestra di dialogo Collegamenti</A> che consente di modificare i collegamenti tra il documento utente e altri documenti.</P>



<P>Questo comando non è disponibile se non esistono collegamenti al documento.</P>



</BODY>

</HTML>

