<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Comando Nuovo (menu File))</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">

	<PARAM NAME="Keyword" VALUE="files: managing">

</OBJECT>



<P><A NAME="hid_file_new"></A><B>Comando Nuovo (menu File)</B></P>



<P>Utilizzare questo comando per creare un nuovo documento in &lt;&lt;YourApp&gt;&gt;. Selezionare il tipo di nuovo file che si desidera creare nella <A HREF="afx_hidd_newtypedlg.htm">finestra di dialogo Nuovo</A>. &lt;&lt; Rimuovere la frase precedente se l'applicazione supporta solo

 un tipo di documento. &gt;&gt;</P>



<P>È possibile aprire un documento esistente con il <A HREF="hid_file_open.htm">comando Apri</A>.</P>



</BODY>

</HTML>

