<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Indice della Guida di &lt;&lt;YourApp&gt;&gt;)</TITLE>

</HEAD>



<BODY>



<P><A NAME="HIDD_[!output UPPER_CASE_SAFE_PROJECT_NAME]_DIALOG"></A><B>Guida in linea di &lt;&lt;YourApp&gt;&gt;</B></P>



<P>Scrivere qui un argomento che descrive la finestra di dialogo principale dell'applicazione</P>



<!-- Insert HTML here -->



</BODY>

</HTML>

