<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Comandi del menu Finestra)</TITLE>

</HEAD>



<BODY>





<P><A NAME="menu_window"></A><B>Comandi del menu Finestra</B></P>



<P>Il menu Finestra comprende i seguenti comandi, che consentono di disporre visualizzazioni multiple di più documenti nella finestra dell'applicazione:</P>



<TABLE cols=2 width=900>



<TR VALIGN="top">

<TD width=21%><A HREF="hid_window_new.htm">Nuova finestra</A></TD>

<TD width=79%>Crea una nuova finestra che visualizza lo stesso documento.</TD>

</TR>



<TR VALIGN="top">

<TD width=21%><A HREF="hid_window_cascade.htm">Sovrapponi</A></TD>

<TD width=79%>Dispone le finestre sovrapponendole.</TD>

</TR>



<TR VALIGN="top">

<TD width=21%><A HREF="hid_window_tile.htm">Affianca</A></TD>

<TD width=79%>Affianca le finestre senza sovrapporle.</TD>

</TR>



<TR VALIGN="top">

<TD width=21%><A HREF="hid_window_arrange.htm">Disponi icone</A></TD>

<TD width=79%>Dispone le icone delle finestre chiuse.</TD>

</TR>


[!if SPLITTER]
<TR VALIGN="top">

<TD width=21%><A HREF="hid_window_split.htm">Dividi</A></TD>

<TD width=79%>Divide la finestra attiva in riquadri.</TD>

</TR>



[!endif]
<TR VALIGN="top">

<TD width=21%><A HREF="hid_window_all.htm">Finestra 1, 2, ...</A></TD>

<TD width=79%>Passa alla finestra specificata.</TD>

</TR>

</TABLE><BR>



</BODY>

</HTML>

