<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Comandi del menu ?)</TITLE>

</HEAD>



<BODY>





<P><A NAME="menu_help"></A><B>Comandi del menu ?</B></P>



<P>Per visualizzare la Guida e ottenere ulteriori informazioni sull'applicazione, è possibile utilizzare il menu <b>?</b> che comprende i seguenti comandi: </P>



<TABLE cols=2 width=900>



<TR VALIGN="top">

<TD width=16%><A HREF="hid_help_index.htm">Guida in linea</A></TD>

<TD width=84%>Fornisce un indice degli argomenti che è possibile consultare tramite la Guida.</TD>

</TR>



<TR VALIGN="top">

<TD width=16%><A HREF="hid_app_about.htm">Informazioni su</A></TD>

<TD width=84%>Visualizza il numero di versione dell'applicazione.</TD>

</TR>

</TABLE><BR>



</BODY>

</HTML>

