<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Comandi del menu File)</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">

	<PARAM NAME="Keyword" VALUE="files: managing">

</OBJECT>



<P><A NAME="menu_file"></A><B>Comandi del menu File</B></P>



<P>Il menu <b>File</b> comprende i seguenti comandi:</P>



<TABLE cols=2 width=900>



<TR VALIGN="top">

<TD width=16%><A HREF="hid_file_new.htm">Nuovo</A></TD>

<TD width=84%>Crea un nuovo documento.</TD>

</TR>



<TR VALIGN="top">

<TD width=16%><A HREF="hid_file_open.htm">Apri</A></TD>

<TD width=84%>Apre un documento esistente.</TD>

</TR>



<TR VALIGN="top">

<TD width=16%><A HREF="hid_file_close.htm">Chiudi</A></TD>

<TD width=84%>Chiude un documento aperto.</TD>

</TR>



<TR VALIGN="top">

<TD width=16%><A HREF="hid_file_save.htm">Salva</A></TD>

<TD width=84%>Salva un documento aperto con lo stesso nome file.</TD>

</TR>



<TR VALIGN="top">

<TD width=16%><A HREF="hid_file_save_as.htm">Salva con nome</A></TD>

<TD width=84%>Salva un documento aperto con un nome file specificato.</TD>

</TR>



[!if PRINTING]

<TR VALIGN="top">

<TD width=16%><A HREF="hid_file_print.htm">Stampa</A></TD>

<TD width=84%>Stampa un documento.</TD>

</TR>



<TR VALIGN="top">

<TD width=16%><A HREF="hid_file_print_preview.htm">Anteprima di stampa</A></TD>

<TD width=84%>Visualizza il documento così come apparirà una volta stampato.</TD>

</TR>



<TR VALIGN="top">

<TD width=16%><A HREF="hid_file_print_setup.htm">Imposta stampante</A></TD>

<TD width=84%>Seleziona una stampante e la connessione alla stampante.</TD>

</TR>



[!endif]

[!if MAPI]

<TR VALIGN="top">

<TD width=16%><A HREF="hid_file_send_mail.htm">Invia...</A></TD>

<TD width=84%>Invia il documento attivo tramite posta elettronica.</TD>

</TR>



[!endif]

<TR VALIGN="top">

<TD width=16%><A HREF="hid_app_exit.htm">Esci</A></TD>

<TD width=84%>Esce da &lt;&lt;YourApp&gt;&gt;.</TD>

</TR>

</TABLE><BR>



</BODY>

</HTML>

