<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Comandi del menu Modifica)</TITLE>

</HEAD>



<BODY>





<P><A NAME="menu_edit"></A><B>Comandi del menu Modifica</B></P>



<P>Il menu <b>Modifica</b> comprende i seguenti comandi:</P>



<TABLE cols=2 width=900>



<TR VALIGN="top">

<TD width=15%><A HREF="hid_edit_undo.htm">Annulla</A></TD>

<TD width=85%>Annulla l'ultima operazione di modifica.</TD>

</TR>

<TR VALIGN="top">

<TD width=15%><A HREF="hid_edit_cut.htm">Taglia</A></TD>

<TD width=85%>Elimina i dati dal documento e li sposta negli Appunti.</TD>

</TR>



<TR VALIGN="top">

<TD width=15%><A HREF="hid_edit_copy.htm">Copia</A></TD>

<TD width=85%>Copia i dati del documento negli Appunti.</TD>

</TR>



<TR VALIGN="top">

<TD width=15%><A HREF="hid_edit_paste.htm">Incolla</A></TD>

<TD width=85%>Incolla i dati degli Appunti nel documento.</TD>

</TR>



[!if CONTAINER || CONTAINER_SERVER]

<TR VALIGN="top">

<TD width=15%><A HREF="hid_edit_paste_link.htm">Incolla collegamento</A></TD>

<TD width=85%>Incolla un collegamento dagli Appunti ai dati in un'altra applicazione.</TD>

</TR>



<TR VALIGN="top">

<TD width=15%><A HREF="hid_ole_insert_new.htm">Inserisci nuovo oggetto</A></TD>

<TD width=85%>Inserisce e incorpora un oggetto, ad esempio un grafico o un'equazione, in un documento.</TD>

</TR>



<TR VALIGN="top">

<TD width=15%><A HREF="hid_ole_edit_links.htm">Collegamenti</A></TD>

<TD width=85%>Elenca e modifica i collegamenti a documenti incorporati.</TD>

</TR>

[!endif]

</TABLE>



</BODY>

</HTML>

