<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Barre di scorrimento)</TITLE>

</HEAD>



<BODY>





<P><A NAME="scrollbars"></A><B>Barre di scorrimento</B></P>



<P>Le barre di scorrimento sono visualizzate nella parte inferiore o sulla destra della finestra del documento. Le relative caselle di scorrimento indicano la posizione orizzontale e verticale nel documento e, mediante l'uso del mouse, consentono di passare ad altre parti del documento.</P>



<P>&lt;&lt; Descrivere le azioni delle varie parti della barra di scorrimento in base al comportamento nell'applicazione. &gt;&gt;</P>



</BODY>

</HTML>

