<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=big5">

<TITLE>(工具列)</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e" width="14" height="14">

	<PARAM NAME="Keyword" VALUE="工具列">

</OBJECT>



<P><A NAME="afx_hidw_toolbar"></A><B>工具列</B></P>





<P>工具列會橫跨應用程式視窗的頂端，並位於功能表列的下方。工具列提供快速滑鼠存取至 &lt;&lt;YourApp&gt;&gt; 所使用的許多工具。</P>



<P>若要隱藏或顯示工具列，請從 [檢視] 功能表按一下 [工具列]。</P>



</BODY>

</HTML>

