<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=big5">

<TITLE>(狀態列)</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">

	<PARAM NAME="Keyword" VALUE="狀態列">

</OBJECT>



<P><A NAME="afx_hidw_status_bar"></A><B>狀態列</B></P>



<P>狀態列顯示在 &lt;&lt;YourApp&gt;&gt; 視窗底部。若要顯示或隱藏狀態列，請使用 [檢視] 功能表中的 [狀態列] 命令。</P>



<P>狀態列的左側區域描述當您使用方向鍵在功能表上巡覽時，各個功能表項目的動作。此區域顯示的訊息類似您在按下工具列按鈕，在放開按鈕前出現的訊息，如果不希望執行命令，只是要檢視工具列按鈕命令的描述，檢視完之後，當游標離開工具列按鈕時，請放開滑鼠按鈕。</P>



<P>狀態列的右區域表示已鎖住下列哪些按鍵:</P>



<P><B>指示區 &nbsp;&nbsp;&nbsp;說明</B></P>



<P>CAP&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Caps 鍵已經鎖住。</P>



<P>NUM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Num Lock 鍵已經鎖住。</P>



<P>SCRL&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Scroll Lock 鍵已經鎖住。</P>



</BODY>

</HTML>

