<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=big5">

<TITLE>(檔案/另存新檔對話方塊)</TITLE>

</HEAD>



<BODY>





<P><A NAME="afx_hidd_filesave"></A><B>檔案/另存新檔對話方塊</B></P>



<P>您可以使用下列選項指定要儲存檔案的名稱與位置:</P>



<P><B>檔案名稱</B></P>



<P>以不同的名稱指定儲存文件時的檔名。&lt;&lt;YourApp&gt;&gt; 會在 [存檔類型] 方塊中加入您指定的副檔名。</P>



<P><B>磁碟機</B></P>



<P>指定您要儲存文件的磁碟機。</P>



<P><B>目錄</B></P>



<P>指定您要儲存文件的目錄。</P>



<P><B>網路</B></P>



<P>按下此按鈕連接至網路位置，指派新磁碟機代號給它。</P>



<P>&lt;&lt; 按照您應用程式透過由 CFileDialog 使用的 OPENFILENAME 結構的 OFN_ 旗標而選擇的結果，加入其他 [另存新檔] 對話方塊選項。&gt;&gt;</P>



</BODY>

</HTML>

