<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=big5">

<TITLE>(列印設定對話方塊)</TITLE>

</HEAD>



<BODY>





<P><A NAME="afx_hidd_printsetup"></A><B>列印設定對話方塊</B></P>



<P>您可以使用下列選項選取目標印表機及其連線。</P>



<P><B>印表機</B></P>



<P>指定您要使用的印表機。選擇預設印表機，或選擇 [指定印表機選項]，然後選擇目前已經安裝的印表機的方塊內選擇一部印表機。您可以使用控制台安裝和設定連接埠。</P>



<P><B>列印方向</B></P>



<P>指定 [縱向] 或 [橫向]。</P>



<P><B>紙張大小</B></P>



<P>指定列印文件的紙張大小。</P>



<P><B>紙張來源</B></P>



<P>指定紙張來源，因為某些印表機為不同紙張來源提供多個紙匣。</P>



<P><B>選項</B></P>



<P>顯示您可以選取有關您所選取印表機種類的特定列印選項的對話方塊。</P>



<P><B>網路</B></P>



<P>按下此按鈕連接至網路位置，指派新磁碟機代號給它。</P>



</BODY>

</HTML>

