<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=big5">

<TITLE>(預覽列印工具列)</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">

	<PARAM NAME="Keyword" VALUE="列印和預覽列印">

</OBJECT>



<P><A NAME="afx_hidw_preview_bar"></A><B>預覽列印工具列</B></P>



<P>預覽列印工具列提供您下列選項:</P>



<P><B>列印</B></P>



<P>開啟 [列印] 對話方塊以開始列印工作。</P>



<P><B>下一頁</B></P>



<P>預覽列印的下一頁。</P>



<P><B>上一頁</B></P>



<P>預覽列印的上一頁。</P>



<P><B>一頁 / 兩頁</B></P>



<P>同時預覽列印的一或兩頁。</P>



<P><B>放大</B></P>



<P>近距離檢視列印的頁面。</P>



<P><B>縮小</B></P>



<P>遠距離檢視列印的頁面。</P>



<P><B>關閉</B></P>



<P>從預覽列印傳回至編輯中的視窗。</P>



</BODY>

</HTML>

