<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=big5">

<TITLE>(列印對話方塊)</TITLE>

</HEAD>



<BODY>





<P><A NAME="afx_hidd_print"></A><B>列印對話方塊</B></P>



<P>您可以使用下列選項指定如何列印文件:</P>



<P><B>印表機</B></P>



<P>顯示作用中印表機和印表機連接。選擇 [設定] 選項以變更印表機和印表機連接。</P>



<P><B>設定</B></P>



<P>顯示您可以選取印表機與印表機連線的 <A HREF="afx_hidd_printsetup.htm">[印表機設定] 對話方塊</A>。</P>



<P><B>列印範圍</B></P>



<P>指定您要列印的頁數:</P>



<TABLE cols=2 width=548>



<TR VALIGN="top">

<TD width=15%><B>全部</B></TD>

<TD width=85%>列印整份文件。</TD>

</TR>



<TR VALIGN="top">

<TD width=15%><B>選取範圍</B></TD>

<TD width=85%>列印目前所選取的文字。</TD>

</TR>



<TR VALIGN="top">

<TD width=15%><B>頁數</B></TD>

<TD width=85%>列印您在 [從] 和 [至] 欄位中指定的頁數範圍。</TD>

</TR>

</TABLE>



<P><B>份數</B></P>



<P>在上述頁面範圍內指定您要列印的份數。</P>



<P><B>自動分頁</B></P>



<P>使用頁數順序列印每份副本，而非每頁列印多份。</P>



<P><B>列印品質</B></P>



<P>指定列印品質。通常，較低列印品質的列印時間較短。</P>



</BODY>

</HTML>

