<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=big5">

<TITLE>(檔案/開啟舊檔對話方塊)</TITLE>

</HEAD>



<BODY>





<P><A NAME="afx_hidd_fileopen"></A><B>檔案/開啟舊檔對話方塊</B></P>



<P>您可以使用下列選項指定要開啟的檔案:</P>



<P><B>檔案名稱</B></P>



<P>指定您要開啟的檔案。此方塊會列出您在 [檔案類型清單] 欄位中所選取副檔名的檔案。</P>



<P><B>檔案類型清單</B></P>



<P>指定您要開啟的檔案類型:</P>



<P>&lt;&lt; 在此列出您應用程式的檔案類型。&gt;&gt;</P>



<P><B>磁碟機</B></P>



<P>指定在 &lt;&lt;YourApp&gt;&gt; 中儲存要開啟檔案的磁碟機。</P>



<P><B>目錄</B></P>



<P>指定在 &lt;&lt;YourApp&gt;&gt; 中儲存要開啟檔案的目錄。</P>



<P><B>網路</B></P>



<P>按下此按鈕連接至網路位置，指派新磁碟機代號給它。</P>



</BODY>

</HTML>

