<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=big5">

<TITLE>(狀態列命令 (檢視功能表))</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">

	<PARAM NAME="Keyword" VALUE="狀態列">

</OBJECT>



<P><A NAME="hid_view_status_bar"></A><B>狀態列命令 (檢視功能表)</B></P>



<P>使用此命令顯示或隱藏狀態列，它描述了經由選取功能表項目，或按下工具列按鈕所執行的動作，以及鍵盤的鎖定狀態。當狀態列顯示時，功能表項目旁會出現選取標記。</P>



<P>如需使用狀態列的說明，請參閱<A HREF="afx_hidw_status_bar.htm">狀態列</A>。</P>



</BODY>

</HTML>

