<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=big5">

<TITLE>(儲存檔案命令 (檔案功能表))</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">

	<PARAM NAME="Keyword" VALUE="檔案: 管理中">

</OBJECT>



<P><A NAME="hid_file_save"></A><B>儲存檔案命令 (檔案功能表)</B></P>



<P>使用此命令將作用中的文件以目前的名稱儲存至目前的目錄。當第一次儲存文件時，&lt;&lt;YourApp&gt;&gt; 會顯示 <A HREF="afx_hidd_filesave.htm">[另存新檔] 對話方塊</A>，您可以命名您的文件。如果要在儲存文件之前變更它的名稱和目錄，請選擇 <A HREF="hid_file_save_as.htm">[另存新檔] 命令</A>。</P>





</BODY>

</HTML>

