<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=big5">

<TITLE>(標題列)</TITLE>

</HEAD>



<BODY>





<P><A NAME="hid_ht_caption"></A><B>標題列</B></P>



<P>&lt;&lt; 在此顯示您應用程式的標題列。&gt;&gt;</P>



<P>標題列位於視窗的頂端。它包含應用程式與文件的名稱。</P>



<P>若要移動視窗，只需拖曳標題列即可。注意: 您也可以拖曳對話方塊的標題列來移動對話方塊的位置。</P>



<P>標題列可以包含下列項目:</P>



<P><IMG SRC="images/bullet.gif" ALT="" BORDER=0>[應用程式控制] 功能表按鈕</P>



<P><IMG SRC="images/bullet.gif" ALT="" BORDER=0>[文件控制] 功能表按鈕</P>



<P><IMG SRC="images/bullet.gif" ALT="" BORDER=0>[最大化] 按鈕</P>



<P><IMG SRC="images/bullet.gif" ALT="" BORDER=0>[最小化] 按鈕</P>



<P><IMG SRC="images/bullet.gif" ALT="" BORDER=0>應用程式的名稱</P>



<P><IMG SRC="images/bullet.gif" ALT="" BORDER=0>文件的名稱</P>



<P><IMG SRC="images/bullet.gif" ALT="" BORDER=0>[還原] 按鈕</P>



</BODY>

</HTML>

