<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=big5">

<TITLE>(開啟舊檔命令 (檔案功能表))</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">

	<PARAM NAME="Keyword" VALUE="檔案: 管理中">

</OBJECT>



<P><A NAME="hid_file_open"></A><B>開啟舊檔命令 (檔案功能表)</B></P>



<P>使用此命令在新視窗中開啟一份現有的文件。您可以同時開啟多份文件。使用 [視窗] 功能表在多份開啟的文件中切換。請參閱<A HREF="hid_window_all.htm">視窗 1、2、... 命令</A>。</P>



<P>您可以使用 <A HREF="hid_file_new.htm">[開新檔案] 命令</A>來建立新的文件。</P>





</BODY>

</HTML>

