<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=big5">

<TITLE>(列印設定命令 (檔案功能表))</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">

	<PARAM NAME="Keyword" VALUE="列印和預覽列印">

</OBJECT>



<P><A NAME="hid_file_print_setup"></A><B>列印設定命令 (檔案功能表)</B></P>



<P>使用此命令可以選取印表機與印表機連線。此命令會啟動您可以指定印表機與其連線的 <A HREF="afx_hidd_printsetup.htm">[列印設定] 對話方塊</A>。</P>



</BODY>

</HTML>

