<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=big5">

<TITLE>(預覽列印命令 (檔案功能表))</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">

	<PARAM NAME="Keyword" VALUE="列印和預覽列印">

</OBJECT>



<P><A NAME="hid_file_print_preview"></A><B>預覽列印命令 (檔案功能表)</B></P>



<P>使用此命令顯示列印時出現的使用中文件。當您選擇此命令時，主要視窗中將會出現預覽列印視窗，預覽視窗中顯示依照指定列印格式的一或兩頁。<A HREF="afx_hidw_preview_bar.htm">預覽列印工具列</A>提供您同時檢視一或兩頁的選項; 在文件中往前或往後移動; 放大或縮小頁面; 以及開始列印工作。</P>



</BODY>

</HTML>

