<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=big5">

<TITLE>(切換至命令 (應用程式控制功能表))</TITLE>

</HEAD>



<BODY>





<P><A NAME="hid_sc_tasklist"></A><B>切換至命令 (應用程式控制功能表)</B></P>



<P>使用此命令顯示所有已開啟應用程式的清單。使用工作清單來切換或關閉清單上的應用程式。</P>





<P><B>對話方塊選項</B></P>



<P>當您選擇 [切換至] 命令時，將出現提供下列選項的對話方塊:</P>



<P><B>工作清單</B></P>



<P>指定您要切換或關閉的應用程式。</P>



<P><B>切換至</B></P>



<P>使選取的應用程式成為作用中的應用程式。</P>



<P><B>結束工作</B></P>



<P>關閉選取的應用程式。</P>



<P><B>取消</B></P>



<P>關閉 [工作清單] 方塊。</P>



<P><B>重疊顯示</B></P>



<P>重疊排列已開啟的應用程式，您可以看到每一個標題列。此選項不影響縮小為圖示的應用程式。</P>



<P><B>並排顯示</B></P>



<P>並排顯示已開啟的應用程式，使其不重疊。此選項不影響縮小為圖示的應用程式。</P>



<P><B>排列圖示</B></P>



<P>在螢幕底部排列所有最小化的應用程式圖示。</P>



</BODY>

</HTML>

