<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=big5">

<TITLE>(列印命令 (檔案功能表))</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">

	<PARAM NAME="Keyword" VALUE="列印和預覽列印">

</OBJECT>



<P><A NAME="hid_file_print"></A><B>列印命令 (檔案功能表)</B></P>



<P>使用此命令可以列印文件。此命令會啟動讓您可以指定要列印頁數範圍、列印份數、目標印表機與其他印表機設定選項的 <A HREF="afx_hidd_print.htm">[列印] 對話方塊</A>。</

P>



</BODY>

</HTML>

