<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=big5">

<TITLE>(結束命令 (檔案功能表))</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">

	<PARAM NAME="Keyword" VALUE="結束">

</OBJECT>



<P><A NAME="hid_app_exit"></A><B>結束命令 (檔案功能表)</B></P>



<P>使用此命令結束您的 &lt;&lt;YourApp&gt;&gt; 工作階段。您也可以使用應用程式 [控制] 功能表上的 [關閉] 命令。&lt;&lt;YourApp&gt;&gt; 會提示您儲存擁有未儲存變更的文件。</P>





</BODY>

</HTML>

