<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=big5">

<TITLE>(&lt;&lt;YourApp&gt;&gt; 說明索引)</TITLE>

</HEAD>



<BODY>





<P><A NAME="main_index"></A><B>&lt;&lt;YourApp&gt;&gt;說明索引</B></P>



<P><B>如何...</B></P>



<P>&lt;&lt; 在此加入您應用程式特定的使用說明主題。&gt;&gt;</P>



<P><B>命令</B></P>



<P><A HREF="menu_file.htm">檔案功能表</A></P>



<P><A HREF="menu_edit.htm">編輯功能表</A></P>



[!if OLEDB || ODBC]

<P><A HREF="menu_record.htm">資料錄功能表</A></P>



[!endif]

<P><A HREF="menu_view.htm">檢視功能表</A></P>



[!if APP_TYPE_MDI]

<P><A HREF="menu_window.htm">視窗功能表</A></P>



[!endif]

<P><A HREF="menu_help.htm">說明功能表</A></P>



</BODY>

</HTML>

