<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=big5">

<TITLE>(資料錄功能表命令)</TITLE>

</HEAD>



<BODY>





<P><A NAME="menu_record"></A><B>資料錄功能表命令</B></P>



<P>[資料錄] 功能表提供下列命令:</P>



<TABLE cols=2 width=900>



<TR VALIGN="top">

<TD width=23%><A HREF="hid_record_first.htm">第一筆資料錄</A></TD>

<TD width=77%>顯示目前選取範圍的第一筆資料錄</TD>

</TR>



<TR VALIGN="top">

<TD width=23%><A HREF="hid_record_prev.htm">上一筆資料錄</A></TD>

<TD width=77%>顯示目前選取範圍的上一筆資料錄</TD>

</TR>



<TR VALIGN="top">

<TD width=23%><A HREF="hid_record_next.htm">下一筆資料錄</A></TD>

<TD width=77%>顯示目前選取範圍的下一筆資料錄</TD>

</TR>



<TR VALIGN="top">

<TD width=23%><A HREF="hid_record_last.htm">最後一筆資料錄</A></TD>

<TD width=77%>顯示目前選取範圍的最後一筆資料錄</TD>

</TR>

</TABLE>



</BODY>

</HTML>

