<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=big5">

<TITLE>(視窗功能表命令)</TITLE>

</HEAD>



<BODY>





<P><A NAME="menu_window"></A><B>視窗功能表命令</B></P>



<P>[視窗] 功能表提供下列讓您可以在應用程式視窗中排列多份文件檢視的命令:</P>



<TABLE cols=2 width=900>



<TR VALIGN="top">

<TD width=21%><A HREF="hid_window_new.htm">新增視窗</A></TD>

<TD width=79%>建立檢視相同文件的新視窗。</TD>

</TR>



<TR VALIGN="top">

<TD width=21%><A HREF="hid_window_cascade.htm">重疊顯示</A></TD>

<TD width=79%>使用重疊的方式排列視窗。</TD>

</TR>



<TR VALIGN="top">

<TD width=21%><A HREF="hid_window_tile.htm">並排顯示</A></TD>

<TD width=79%>使用非重疊的並排方式排列視窗。</TD>

</TR>



<TR VALIGN="top">

<TD width=21%><A HREF="hid_window_arrange.htm">排列圖示</A></TD>

<TD width=79%>排列已關閉視窗的圖示。</TD>

</TR>


[!if SPLITTER]
<TR VALIGN="top">

<TD width=21%><A HREF="hid_window_split.htm">分割視窗</A></TD>

<TD width=79%>將現用視窗分割為窗格。</TD>

</TR>



[!endif]
<TR VALIGN="top">

<TD width=21%><A HREF="hid_window_all.htm">視窗 1、2、...</A></TD>

<TD width=79%>移至特定的視窗。</TD>

</TR>

</TABLE><BR>



</BODY>

</HTML>

