<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=big5">

<TITLE>(檢視功能表命令)</TITLE>

</HEAD>



<BODY>





<P><A NAME="menu_view"></A><B>檢視功能表命令</B></P>



<P>[檢視] 功能表提供下列命令:</P>



<TABLE cols=2 width=900>



<TR VALIGN="top">

<TD width=18%><A HREF="hid_view_toolbar.htm">工具列</A></TD>

<TD width=82%>顯示或隱藏工具列。</TD>

</TR>



<TR VALIGN="top">

<TD width=18%><A HREF="hid_view_status_bar.htm">狀態列</A></TD>

<TD width=82%>顯示或隱藏狀態列。</TD>

</TR>

</TABLE>



</BODY>

</HTML>

