<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=big5">

<TITLE>(說明功能表命令)</TITLE>

</HEAD>



<BODY>





<P><A NAME="menu_help"></A><B>說明功能表命令</B></P>



<P>[說明] 功能表提供下列命令，可以協助您使用此應用程式: </P>



<TABLE cols=2 width=900>



<TR VALIGN="top">

<TD width=16%><A HREF="hid_help_index.htm">說明主題</A></TD>

<TD width=84%>提供您可以取得說明主題的索引。</TD>

</TR>



<TR VALIGN="top">

<TD width=16%><A HREF="hid_app_about.htm">關於</A></TD>

<TD width=84%>顯示此應用程式的版本編號。</TD>

</TR>

</TABLE><BR>



</BODY>

</HTML>

