<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=big5">

<TITLE>(編輯功能表命令)</TITLE>

</HEAD>



<BODY>





<P><A NAME="menu_edit"></A><B>編輯功能表命令</B></P>



<P>[編輯] 功能表提供下列命令:</P>



<TABLE cols=2 width=900>



<TR VALIGN="top">

<TD width=15%><A HREF="hid_edit_undo.htm">復原</A></TD>

<TD width=85%>取消先前的編輯作業。</TD>

</TR>

<TR VALIGN="top">

<TD width=15%><A HREF="hid_edit_cut.htm">剪下</A></TD>

<TD width=85%>從文件刪除資料，並將其移至剪貼簿。</TD>

</TR>



<TR VALIGN="top">

<TD width=15%><A HREF="hid_edit_copy.htm">複製</A></TD>

<TD width=85%>從文件複製資料至剪貼簿。</TD>

</TR>



<TR VALIGN="top">

<TD width=15%><A HREF="hid_edit_paste.htm">貼上</A></TD>

<TD width=85%>從剪貼簿將資料貼到文件。</TD>

</TR>



[!if CONTAINER || CONTAINER_SERVER]

<TR VALIGN="top">

<TD width=15%><A HREF="hid_edit_paste_link.htm">貼上連結</A></TD>

<TD width=85%>從剪貼簿將連結貼到其他應用程式中的資料。</TD>

</TR>



<TR VALIGN="top">

<TD width=15%><A HREF="hid_ole_insert_new.htm">插入新物件</A></TD>

<TD width=85%>在文件中插入並嵌入如圖表或方程式等物件。</TD>

</TR>



<TR VALIGN="top">

<TD width=15%><A HREF="hid_ole_edit_links.htm">連結</A></TD>

<TD width=85%>列出並編輯內嵌至文件的連結。</TD>

</TR>

[!endif]

</TABLE>



</BODY>

</HTML>

