<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=big5">

<TITLE>(檔案功能表命令)</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">

	<PARAM NAME="Keyword" VALUE="檔案: 管理中">

</OBJECT>



<P><A NAME="menu_file"></A><B>檔案功能表命令</B></P>



<P>[檔案] 功能表提供下列命令:</P>



<TABLE cols=2 width=900>



<TR VALIGN="top">

<TD width=16%><A HREF="hid_file_new.htm">新增</A></TD>

<TD width=84%>建立新的文件。</TD>

</TR>



<TR VALIGN="top">

<TD width=16%><A HREF="hid_file_open.htm">開啟</A></TD>

<TD width=84%>開啟現有的文件。</TD>

</TR>



<TR VALIGN="top">

<TD width=16%><A HREF="hid_file_close.htm">關閉</A></TD>

<TD width=84%>關閉已開啟的文件。</TD>

</TR>



<TR VALIGN="top">

<TD width=16%><A HREF="hid_file_save.htm">儲存</A></TD>

<TD width=84%>使用相同的檔案名稱儲存已開啟的文件。</TD>

</TR>



<TR VALIGN="top">

<TD width=16%><A HREF="hid_file_save_as.htm">另存新檔</A></TD>

<TD width=84%>使用指定的檔案名稱儲存已開啟的文件。</TD>

</TR>



[!if PRINTING]

<TR VALIGN="top">

<TD width=16%><A HREF="hid_file_print.htm">列印</A></TD>

<TD width=84%>列印文件。</TD>

</TR>



<TR VALIGN="top">

<TD width=16%><A HREF="hid_file_print_preview.htm">預覽列印</A></TD>

<TD width=84%>在畫面上顯示文件列印的結果。</TD>

</TR>



<TR VALIGN="top">

<TD width=16%><A HREF="hid_file_print_setup.htm">列印設定</A></TD>

<TD width=84%>選取印表機與印表機連線。</TD>

</TR>



[!endif]

[!if MAPI]

<TR VALIGN="top">

<TD width=16%><A HREF="hid_file_send_mail.htm">傳送...</A></TD>

<TD width=84%>經由電子郵件傳送作用中的文件。</TD>

</TR>



[!endif]

<TR VALIGN="top">

<TD width=16%><A HREF="hid_app_exit.htm">結束</A></TD>

<TD width=84%>結束 &lt;&lt;YourApp&gt;&gt;。</TD>

</TR>

</TABLE><BR>



</BODY>

</HTML>

