<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=ks_c_5601-1987">

<TITLE>(도구 모음)</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e" width="14" height="14">

	<PARAM NAME="Keyword" VALUE="도구 모음">

</OBJECT>



<P><A NAME="afx_hidw_toolbar"></A><B>도구 모음</B></P>





<P>도구 모음은 응용 프로그램 창의 위쪽, 메뉴 모음 아래에 가로로 표시됩니다. 도구 모음을 사용하면 마우스로 &lt;&lt;YourApp&gt;&gt;의 여러 도구에 신속하게 액세스할 수 있습니다.</P>



<P>도구 모음을 숨기거나 표시하려면 <b>보기</b> 메뉴에서 <b>도구 모음</b>을 클릭하십시오.</P>



</BODY>

</HTML>

