<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=ks_c_5601-1987">

<TITLE>(상태 표시줄)</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">

	<PARAM NAME="Keyword" VALUE="상태 표시줄">

</OBJECT>



<P><A NAME="afx_hidw_status_bar"></A><B>상태 표시줄</B></P>



<P>상태 표시줄은 &lt;&lt;YourApp&gt;&gt; 창의 아래쪽에 표시됩니다. 상태 표시줄을 표시하거나 숨기려면 <b>보기</b> 메뉴에서

<b>상태 표시줄</b> 명령을 사용하십시오.</P>



<P>상태 표시줄의 왼쪽 영역에서는 화살표 키를 사용하여 메뉴를 탐색하는 경우 각 메뉴 항목의 동작을 설명합니다. 또한 이 영역에는 도구 모음 단추를 누른 다음 놓지 않으면 해당 단추의 동작을 설명하는

메시지가 표시됩니다. 도구 모음 단추 명령에 대한 설명을 확인한 다음 해당 명령을 실행하지 않으려면 포인터가 도구 모음 단추 밖에 있을 때 마우스 단추를 놓으십시오.</P>



<P>상태 표시줄의 오른쪽 영역에는 다음과 같은 키가 눌려져 있는지 여부를 나타냅니다.</P>



<P><B>표시기 &nbsp;&nbsp;&nbsp;설명</B></P>



<P>CAP&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Caps Lock 키가 눌려져 있습니다.</P>



<P>NUM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Num Lock 키가 눌려져 있습니다.</P>



<P>SCRL&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Scroll Lock 키가 눌려져 있습니다.</P>



</BODY>

</HTML>

