<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=ks_c_5601-1987">

<TITLE>(새로 만들기 명령(파일 메뉴))</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">

	<PARAM NAME="Keyword" VALUE="파일: 관리">

</OBJECT>



<P><A NAME="hid_file_new"></A><B>새로 만들기 명령(파일 메뉴)</B></P>



<P>이 명령을 사용하면 &lt;&lt;YourApp&gt;&gt;에서 새 문서를 만들 수 있습니다. <A HREF="afx_hidd_newtypedlg.htm">새 파일 대화 상자</A>에서 작성할 새 파일의 형식을 선택하십시오. &lt;&lt; 응용 프로그램에서 하나의 문서 형식만 지원할 경우

 앞 문장을 제거하십시오. &gt;&gt;</P>



<P><A HREF="hid_file_open.htm">열기 명령</A>을 사용하여 기존 문서를 열 수도 있습니다.</P>



</BODY>

</HTML>

