<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=ks_c_5601-1987">

<TITLE>(인쇄 명령(파일 메뉴))</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">

	<PARAM NAME="Keyword" VALUE="인쇄 및 인쇄 미리 보기">

</OBJECT>



<P><A NAME="hid_file_print"></A><B>인쇄 명령(파일 메뉴)</B></P>



<P>이 명령을 사용하면 문서를 인쇄할 수 있는 <A HREF="afx_hidd_print.htm">인쇄 대화 상자</A>가 나타납니다. 이 대화 상자에서 인쇄할 페이지 범위, 인쇄 매수, 대상 프린터 및 기타 프린터 설정 옵션을 지정할 수 있습니다.</

P>



</BODY>

</HTML>

