<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=ks_c_5601-1987">

<TITLE>(끝내기 명령(파일 메뉴))</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">

	<PARAM NAME="Keyword" VALUE="끝내기">

</OBJECT>



<P><A NAME="hid_app_exit"></A><B>끝내기 명령(파일 메뉴)</B></P>



<P>이 명령을 사용하면 &lt;&lt;YourApp&gt;&gt; 세션을 끝낼 수 있습니다. 또한 응용 프로그램

<b>조절</b> 메뉴에서 <b>닫기</b> 명령을 사용할 수도 있습니다. &lt;&lt;YourApp&gt;&gt;에서는 변경 내용이 저장되지 않은 문서를 저장할 것인지 여부를 묻습니다.</P>





</BODY>

</HTML>

