<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=ks_c_5601-1987">

<TITLE>(연결 명령(편집 메뉴))</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">

	<PARAM NAME="Keyword" VALUE="개체: 포함">

</OBJECT>



<P><A NAME="hid_ole_edit_links"></A><B>연결 명령(편집 메뉴)</B></P>



<P>이 명령을 사용하면 사용자 문서와 다른 문서 간의 연결을 편집할 수 있는 <A HREF="afx_hidd_editlinks.htm">연결 대화 상자</A>를 표시할 수 있습니다.</P>



<P>문서에 연결이 없는 경우에는 이 명령을 사용할 수 없습니다.</P>



</BODY>

</HTML>

