<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=ks_c_5601-1987">

<TITLE>(전환 명령(응용 프로그램 조절 메뉴))</TITLE>

</HEAD>



<BODY>





<P><A NAME="hid_sc_tasklist"></A><B>전환 명령(응용 프로그램 조절 메뉴)</B></P>



<P>이 명령을 사용하면 열려 있는 모든 응용 프로그램의 목록이 표시됩니다. 

이 작업 목록을 사용하여 목록에 있는 응용 프로그램으로 전환하거나 해당 응용 프로그램을 닫습니다.</P>





<P><B>대화 상자 옵션</B></P>



<P><b>전환</b> 명령을 선택하면 다음 옵션이 있는 대화 상자가 표시됩니다.</P>



<P><B>작업 목록</B></P>



<P>전환하거나 닫을 응용 프로그램을 지정합니다.</P>



<P><B>전환</B></P>



<P>선택한 응용 프로그램을 활성화합니다.</P>



<P><B>작업 끝내기</B></P>



<P>선택한 응용 프로그램을 닫습니다.</P>



<P><B>취소</B></P>



<P>작업 목록 상자를 닫습니다.</P>



<P><B>계단식 배열</B></P>



<P>열려 있는 응용 프로그램을 겹치게 배열하여 각 제목 표시줄을 볼 수 있도록 합니다. 이 옵션은 아이콘으로 축소된 응용 프로그램에는 영향을 주지 않습니다.</P>



<P><B>바둑판식 배열</B></P>



<P>열려 있는 응용 프로그램을 겹치지 않는 창으로 배열합니다. 이 옵션은 아이콘으로 축소된 응용 프로그램에는 영향을 주지 않습니다.</P>



<P><B>아이콘 정렬</B></P>



<P>최소화된 모든 응용 프로그램의 아이콘을 화면 아래쪽에 배열합니다.</P>



</BODY>

</HTML>

