<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=ks_c_5601-1987">

<TITLE>(상태 표시줄 명령(보기 메뉴))</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">

	<PARAM NAME="Keyword" VALUE="상태 표시줄">

</OBJECT>



<P><A NAME="hid_view_status_bar"></A><B>상태 표시줄 명령(보기 메뉴)</B></P>



<P>이 명령을 사용하면 상태 표시줄을 표시하거나 숨길 수 있습니다. 상태 표시줄은 선택된 메뉴 항목이나 

누른 도구 모음 단추로 실행되는 동작 및 키보드가 눌려져 있는 상태를 나타냅니다. 상태 표시줄이 표시되면 해당 메뉴 항목 옆에 

확인 표시가 나타납니다.</P>



<P>상태 표시줄에 대한 도움말은 <A HREF="afx_hidw_status_bar.htm">상태 표시줄</A>을 참조하십시오.</P>



</BODY>

</HTML>

