<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=ks_c_5601-1987">

<TITLE>(크기 명령(시스템 메뉴))</TITLE>

</HEAD>



<BODY>





<P><A NAME="hid_sc_size"></A><B>크기 명령(시스템 메뉴)</B></P>



<P>이 명령을 사용하면 십자형 화살표가 표시되어 화살표 키로 활성 창의 크기를 조정할 수 있습니다.</P>



<P>포인터가 십자형 화살표로 바뀌면 다음 작업을 수행할 수 있습니다.</P>



<P>1. 방향 키(왼쪽, 오른쪽, 위쪽 또는 아래쪽 화살표 키)를 눌러 이동할 테두리로 포인터를 가져갑니다.  </P>



<P>2. 방향 키를 눌러 테두리를 이동합니다.</P>



<P>3. 원하는 창 크기가 되면 Enter 키를 누릅니다.</P>



<P>참고: 창을 최대화한 경우에는 이 명령을 사용할 수 없습니다.</P>



</BODY>

</HTML>

