<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=ks_c_5601-1987">

<TITLE>(도구 모음 명령(보기 메뉴))</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">

	<PARAM NAME="Keyword" VALUE="도구 모음">

</OBJECT>



<P><A NAME="hid_view_toolbar"></A><B>도구 모음 명령(보기 메뉴)</B></P>



<P>이 명령을 사용하면 도구 모음을 표시하거나 숨길 수 있습니다. 도구 모음에는 <b>파일 열기</b> 등과 같이 &lt;&lt;YourApp&gt;&gt;에서 일반적으로 사용되는 

명령 중 일부에 대한 단추가 포함되어 있습니다. 도구 모음이 표시되면 메뉴 항목 옆에 확인 표시가 나타납니다.</P>



<P>도구 모음에 대한 도움말은 <A HREF="afx_hidw_toolbar.htm">도구 모음</A>을 참조하십시오.</P>



</BODY>

</HTML>

