<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=ks_c_5601-1987">

<TITLE>(도움말 사용 명령(도움말 메뉴))</TITLE>

</HEAD>



<BODY>





<P><A NAME="hid_context_help"></A><B>상황에 맞는 도움말 명령 </B></P>





<P>이 명령을 사용하면 &lt;&lt;YourApp&gt;&gt;의 특정 부분에 대한 도움말을 확인할 수 있습니다.

도구 모음의 <b>상황에 맞는 도움말</b> 단추를 선택하면 마우스 포인터가 화살표 및 물음표로 바뀝니다. 이 때 &lt;&lt;YourApp&gt;&gt; 창 내의 다른 위치(예: 다른 도구 모음 단추)를 클릭하면

클릭한 항목에 대한 도움말 항목이 나타납니다.</P>





</BODY>

</HTML>

