<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=ks_c_5601-1987">

<TITLE>(분할 명령(창 메뉴))</TITLE>

</HEAD>



<BODY>





<P><A NAME="hid_window_split"></A><B>분할 명령(창 메뉴)</B></P>



<P>이 명령을 사용하면 활성 창을 여러 창으로 분할할 수 있습니다. 그런 다음 마우스 또는 키보드의 화살표를 사용하여 분할 막대를 이동할 수 있습니다. 이동한 다음 마우스 단추 또는 Enter 키를 누르면 분할 막대가 새 위치에 남게 됩니다.

Esc 키를 누르면 분할 막대가 원래 위치를 유지합니다.&lt;&lt; 단일 문서 인터페이스 응용 프로그램의 경우 이 창은 

<b>보기</b> 메뉴에 표시됩니다. &gt;&gt;</P>



</BODY>

</HTML>

