<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=ks_c_5601-1987">

<TITLE>(&lt;&lt;YourApp&gt;&gt; 도움말 색인)</TITLE>

</HEAD>



<BODY>





<P><A NAME="main_index"></A><B>&lt;&lt;YourApp&gt;&gt; 도움말 색인</B></P>



<P><B>방법...</B></P>



<P>&lt;&lt; 여기에 응용 프로그램 관련 "방법" 도움말 항목을 추가하십시오. &gt;&gt;</P>



<P><B>명령</B></P>



<P><A HREF="menu_file.htm">파일 메뉴</A></P>



<P><A HREF="menu_edit.htm">편집 메뉴</A></P>



[!if OLEDB || ODBC]

<P><A HREF="menu_record.htm">레코드 메뉴</A></P>



[!endif]

<P><A HREF="menu_view.htm">보기 메뉴</A></P>



[!if APP_TYPE_MDI]

<P><A HREF="menu_window.htm">창 메뉴</A></P>



[!endif]

<P><A HREF="menu_help.htm">도움말 메뉴</A></P>



</BODY>

</HTML>

