<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=ks_c_5601-1987">

<TITLE>(보기 메뉴 명령)</TITLE>

</HEAD>



<BODY>





<P><A NAME="menu_view"></A><B>보기 메뉴 명령</B></P>



<P><b>보기</b> 메뉴에는 다음과 같은 명령이 있습니다.</P>



<TABLE cols=2 width=900>



<TR VALIGN="top">

<TD width=18%><A HREF="hid_view_toolbar.htm">도구 모음</A></TD>

<TD width=82%>도구 모음을 표시하거나 숨깁니다.</TD>

</TR>



<TR VALIGN="top">

<TD width=18%><A HREF="hid_view_status_bar.htm">상태 표시줄</A></TD>

<TD width=82%>상태 표시줄을 표시하거나 숨깁니다.</TD>

</TR>

</TABLE>



</BODY>

</HTML>

