<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=ks_c_5601-1987">

<TITLE>(편집 메뉴 명령)</TITLE>

</HEAD>



<BODY>





<P><A NAME="menu_edit"></A><B>편집 메뉴 명령</B></P>



<P><b>편집</b> 메뉴에는 다음과 같은 명령이 있습니다.</P>



<TABLE cols=2 width=900>



<TR VALIGN="top">

<TD width=15%><A HREF="hid_edit_undo.htm">실행 취소</A></TD>

<TD width=85%>이전에 수행한 편집 동작을 취소합니다.</TD>

</TR>

<TR VALIGN="top">

<TD width=15%><A HREF="hid_edit_cut.htm">잘라내기</A></TD>

<TD width=85%>문서에서 데이터를 삭제한 다음 클립보드로 옮깁니다.</TD>

</TR>



<TR VALIGN="top">

<TD width=15%><A HREF="hid_edit_copy.htm">복사</A></TD>

<TD width=85%>문서의 데이터를 클립보드에 복사합니다.</TD>

</TR>



<TR VALIGN="top">

<TD width=15%><A HREF="hid_edit_paste.htm">붙여넣기</A></TD>

<TD width=85%>클립보드의 데이터를 문서에 붙여넣습니다.</TD>

</TR>



[!if CONTAINER || CONTAINER_SERVER]

<TR VALIGN="top">

<TD width=15%><A HREF="hid_edit_paste_link.htm">연결하여 붙여넣기</A></TD>

<TD width=85%>클립보드에서 다른 응용 프로그램에 있는 데이터에 대한 연결을 붙여넣습니다.</TD>

</TR>



<TR VALIGN="top">

<TD width=15%><A HREF="hid_ole_insert_new.htm">새 개체 삽입</A></TD>

<TD width=85%>문서에 있는 차트 또는 수식 등의 개체를 삽입하고 포함합니다.</TD>

</TR>



<TR VALIGN="top">

<TD width=15%><A HREF="hid_ole_edit_links.htm">연결</A></TD>

<TD width=85%>포함된 문서에 대한 연결을 나열하고 편집합니다.</TD>

</TR>

[!endif]

</TABLE>



</BODY>

</HTML>

