<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=ks_c_5601-1987">

<TITLE>(창 메뉴 명령)</TITLE>

</HEAD>



<BODY>





<P><A NAME="menu_window"></A><B>창 메뉴 명령</B></P>



<P>창 메뉴의 다음 명령을 사용하면 응용 프로그램 창에서 여러 문서를 여러 형태로 배열할 수 있습니다.</P>



<TABLE cols=2 width=900>



<TR VALIGN="top">

<TD width=21%><A HREF="hid_window_new.htm">새 창</A></TD>

<TD width=79%>동일한 문서를 보여 주는 새 창을 만듭니다.</TD>

</TR>



<TR VALIGN="top">

<TD width=21%><A HREF="hid_window_cascade.htm">계단식 배열</A></TD>

<TD width=79%>창을 겹친 형태로 배열합니다.</TD>

</TR>



<TR VALIGN="top">

<TD width=21%><A HREF="hid_window_tile.htm">바둑판식 배열</A></TD>

<TD width=79%>창을 겹치지 않는 형태의 바둑판식으로 배열합니다.</TD>

</TR>



<TR VALIGN="top">

<TD width=21%><A HREF="hid_window_arrange.htm">아이콘 정렬</A></TD>

<TD width=79%>닫힌 창 아이콘을 정렬합니다.</TD>

</TR>


[!if SPLITTER]
<TR VALIGN="top">

<TD width=21%><A HREF="hid_window_split.htm">분할</A></TD>

<TD width=79%>활성 창을 여러 창으로 분할합니다.</TD>

</TR>



[!endif]
<TR VALIGN="top">

<TD width=21%><A HREF="hid_window_all.htm">창 1, 2, ...</A></TD>

<TD width=79%>지정한 창으로 이동합니다.</TD>

</TR>

</TABLE><BR>



</BODY>

</HTML>

