<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=ks_c_5601-1987">

<TITLE>(도움말 메뉴 명령)</TITLE>

</HEAD>



<BODY>





<P><A NAME="menu_help"></A><B>도움말 메뉴 명령</B></P>



<P><b>도움말</b> 메뉴의 다음 명령을 사용하면 해당 응용 프로그램에 대한 도움말이 제공됩니다.</P>



<TABLE cols=2 width=900>



<TR VALIGN="top">

<TD width=16%><A HREF="hid_help_index.htm">도움말 항목</A></TD>

<TD width=84%>도움말이 있는 항목에 대한 색인이 제공됩니다.</TD>

</TR>



<TR VALIGN="top">

<TD width=16%><A HREF="hid_app_about.htm">정보</A></TD>

<TD width=84%>해당 응용 프로그램의 버전 번호가 표시됩니다.</TD>

</TR>

</TABLE><BR>



</BODY>

</HTML>

