<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=ks_c_5601-1987">

<TITLE>(파일 메뉴 명령)</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">

	<PARAM NAME="Keyword" VALUE="파일: 관리">

</OBJECT>



<P><A NAME="menu_file"></A><B>파일 메뉴 명령</B></P>



<P><b>편집</b> 메뉴에는 다음과 같은 명령이 있습니다.</P>



<TABLE cols=2 width=900>



<TR VALIGN="top">

<TD width=16%><A HREF="hid_file_new.htm">새로 만들기</A></TD>

<TD width=84%>새 문서를 만듭니다.</TD>

</TR>



<TR VALIGN="top">

<TD width=16%><A HREF="hid_file_open.htm">열기</A></TD>

<TD width=84%>기존 문서를 엽니다.</TD>

</TR>



<TR VALIGN="top">

<TD width=16%><A HREF="hid_file_close.htm">닫기</A></TD>

<TD width=84%>열린 문서를 닫습니다.</TD>

</TR>



<TR VALIGN="top">

<TD width=16%><A HREF="hid_file_save.htm">저장</A></TD>

<TD width=84%>같은 파일 이름을 사용하여 열린 문서를 저장합니다.</TD>

</TR>



<TR VALIGN="top">

<TD width=16%><A HREF="hid_file_save_as.htm">다른 이름으로 저장</A></TD>

<TD width=84%>열린 문서를 지정한 파일 이름으로 저장합니다.</TD>

</TR>



[!if PRINTING]

<TR VALIGN="top">

<TD width=16%><A HREF="hid_file_print.htm">인쇄</A></TD>

<TD width=84%>문서를 인쇄합니다.</TD>

</TR>



<TR VALIGN="top">

<TD width=16%><A HREF="hid_file_print_preview.htm">인쇄 미리 보기</A></TD>

<TD width=84%>인쇄 후 나타날 문서의 모양을 화면에서 표시합니다.</TD>

</TR>



<TR VALIGN="top">

<TD width=16%><A HREF="hid_file_print_setup.htm">인쇄 설정</A></TD>

<TD width=84%>프린터 및 프린터 연결을 선택합니다.</TD>

</TR>



[!endif]

[!if MAPI]

<TR VALIGN="top">

<TD width=16%><A HREF="hid_file_send_mail.htm">보내기...</A></TD>

<TD width=84%>활성 문서를 전자 우편으로 보냅니다.</TD>

</TR>



[!endif]

<TR VALIGN="top">

<TD width=16%><A HREF="hid_app_exit.htm">끝내기</A></TD>

<TD width=84%>&lt;&lt;YourApp&gt;&gt;을(를) 끝냅니다.</TD>

</TR>

</TABLE><BR>



</BODY>

</HTML>

