<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Boîte de dialogue Ouvrir)</TITLE>

</HEAD>



<BODY>





<P><A NAME="afx_hidd_fileopen"></A><B>Boîte de dialogue Ouvrir</B></P>



<P>Les options suivantes vous permettent de spécifier le fichier que vous souhaitez ouvrir :</P>



<P><B>Nom de fichier</B></P>



<P>Spécifie le fichier à ouvrir. Cette zone affiche la liste des fichiers portant l'extension sélectionnée dans le

champ <b> Types de fichiers</b>. </P>



<P><B>Types de fichiers</B></P>



<P>Spécifie le type de fichier que vous souhaitez ouvrir :</P>



<P>&lt;&lt; Indiquez ici les types de fichiers pris en charge par votre application. &gt;&gt;</P>



<P><B>Lecteurs</B></P>



<P>Spécifie le lecteur où <&lt;&lt;YourApp&gt;&gt; enregistre le fichier que vous souhaitez ouvrir. </P>



<P><B>Répertoires</B></P>



<P>Spécifie le répertoire dans lequel <&lt;&lt;YourApp&gt;&gt; enregistre le fichier que vous souhaitez ouvrir.</P>



<P><B>Réseau</B></P>



<P>Cliquez sur ce bouton pour vous connecter à un emplacement réseau, en lui assignant une nouvelle lettre de lecteur. </P>



</BODY>

</HTML>

