<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(barre d'outils)</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e" width="14" height="14">

	<PARAM NAME="Keyword" VALUE="barre d'outils">

</OBJECT>



<P><A NAME="afx_hidw_toolbar"></A><B>Barre d'outils</B></P>





<P>La barre d'outils est affichée au-dessus de la fenêtre de l'application, sous la barre de menus. Elle permet d'accéder rapidement, à l'aide de la souris, à de nombreux outils utilisés dans &lt;&lt;YourApp&gt;&gt;,</P>



<P>Pour masquer ou afficher la barre d'outils, cliquez sur <b>Barre d'outils</b> dans le menu <b> Affichage</b>.</P>



</BODY>

</HTML>

