<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Boîte de dialogue Configuration de l'impression)</TITLE>

</HEAD>



<BODY>





<P><A NAME="afx_hidd_printsetup"></A><B>Boîte de dialogue Configuration de l'impression</B></P>



<P>Les options suivantes vous permettent de sélectionner l'imprimante de destination et sa connexion.</P>



<P><B>Imprimante</B></P>



<P>Spécifie l'imprimante que vous souhaitez utiliser. Choisissez l'imprimante par défaut, ou choisissez l'option

<b> Imprimante spécifique</b> et sélectionnez l'une des imprimantes déjà installées. Vous installez les imprimantes et configurez les ports en utilisant

le Panneau de configuration Windows. </P>



<P><B>Orientation</B></P>



<P>Spécifie <b>Portrait</b> ou <b>Paysage</b>.</P>



<P><B>Format du papier</B></P>



<P>Spécifie le format du papier sur lequel le document sera imprimé.</P>



<P><B>Alimentation papier</B></P>



<P>Spécifie le bac utilisé, car certaines imprimantes disposent de plusieurs bacs d'alimentation papier.</P>



<P><B>Options</B></P>



<P>Affiche une boîte de dialogue qui vous permet de choisir des options d'impression supplémentaires et spécifiques au type d'imprimante sélectionné.</P>



<P><B>Réseau</B></P>



<P>Cliquez sur ce bouton pour vous connecter à un emplacement réseau, en lui assignant une nouvelle lettre de lecteur.</P>



</BODY>

</HTML>

