<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Boîte de dialogue Imprimer)</TITLE>

</HEAD>



<BODY>





<P><A NAME="afx_hidd_print"></A><B>Boîte de dialogue Imprimer</B></P>



<P>Les options suivantes vous permettent de spécifier les paramètres d'impression du document :</P>



<P><B>Imprimante</B></P>



<P>Affiche l'imprimante et la connexion d'imprimante actives. Choisissez l'option <b> Configuration</b> pour changer d'imprimante et de connexion d'imprimante.</P>



<P><B>Configuration</B></P>



<P>Affiche la <A HREF="afx_hidd_printsetup.htm">boîte de dialogue Configuration de l'impression</A>, qui vous permet de sélectionner une imprimante et une connexion d'imprimante.</P>



<P><B>Étendue</B></P>



<P>Spécifie les pages que vous souhaitez imprimer :</P>



<TABLE cols=2 width=548>



<TR VALIGN="top">

<TD width=15%><B>Tout</B></TD>

<TD width=85%>Imprime la totalité du document.</TD>

</TR>



<TR VALIGN="top">

<TD width=15%><B>Sélection</B></TD>

<TD width=85%>Imprime le texte actuellement sélectionné.</TD>

</TR>



<TR VALIGN="top">

<TD width=15%><B>Pages</B></TD>

<TD width=85%>Imprime les pages que vous avez spécifiées dans les champs

 <b> De</b> et <b> À</b>.</TD>

</TR>

</TABLE>



<P><B>Copies</B></P>



<P>Spécifie le nombre de copies à imprimer pour l'étendue de pages spécifiée.</P>



<P><B>Copies assemblées</B></P>



<P>Imprime les copies dans l'ordre des pages, au lieu d'imprimer toutes les copies d'une même page avant d'imprimer la page suivante.</P>



<P><B>Qualité d'impression</B></P>



<P>Spécifie la qualité d'impression. En règle générale, l'impression est d'autant plus rapide que la qualité d'impression choisie est faible.</P>



</BODY>

</HTML>

