<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Aucune aide disponible)</TITLE>

</HEAD>



<BODY>





<P><A NAME="afx_hidp_default"></A><B>Aucune aide disponible</B></P>



<P>Aucune aide n'est disponible pour ce message.</P>



<P>&lt;&lt; Si vous voulez créer une aide propre à chaque message, supprimez les valeurs AFX_HIDP_xxx dans la section [ALIAS] de votre

fichier .HPJ, puis écrivez une rubrique pour chaque valeur AFX_HIDP_xxx. Par exemple, AFX_HIDP_INVALID_FILENAME est la rubrique d'aide correspondant au

message <b> Nom de fichier non valide</b>. &gt;&gt;</P>



</BODY>

</HTML>

