<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Boîte de dialogue Avancement de l'impression)</TITLE>

</HEAD>



<BODY>





<P><A NAME="afx_hidd_printdlg"></A><B>Boîte de dialogue Avancement de l'impression</B></P>



<P>La boîte de dialogue <b> Impression</b> s'affiche pendant que &lt;&lt;YourApp&gt;&gt; envoie la sortie vers l'imprimante. Le numéro de page indique l'avancement de l'impression.</P>



<P>Pour abandonner l'impression, choisissez <b>Annuler</b>.</P>



</BODY>

</HTML>

