<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(barre d'outils Aperçu avant impression)</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">

	<PARAM NAME="Keyword" VALUE="impression et aperçu avant impression">

</OBJECT>



<P><A NAME="afx_hidw_preview_bar"></A><B>Barre d'outils Aperçu avant impression</B></P>



<P>La barre d'outils Aperçu avant impression contient les options suivantes :</P>



<P><B>Imprimer</B></P>



<P>Affiche la boîte de dialogue <b>Imprimer</b> pour démarrer un travail d'impression.</P>



<P><B>Page suivante</B></P>



<P>Affiche l'aperçu avant impression de la page suivante.</P>



<P><B>Page précédente</B></P>



<P>Affiche l'aperçu avant impression de la page précédente.</P>



<P><B>Une page / Deux pages</B></P>



<P>Affiche les pages une à une ou deux par deux.</P>



<P><B>Zoom avant</B></P>



<P>Présente une vue réduite de la page imprimée.</P>



<P><B>Zoom arrière</B></P>



<P>Présente une vue agrandie de la page imprimée.</P>



<P><B>Fermer</B></P>



<P>Quitte la fenêtre d'aperçu avant impression et revient à la fenêtre de modification.</P>



</BODY>

</HTML>

