<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Boîte de dialogue Enregistrer sous)</TITLE>

</HEAD>



<BODY>





<P><A NAME="afx_hidd_filesave"></A><B>Boîte de dialogue Enregistrer sous</B></P>



<P>Les options suivantes vous permettent de spécifier le nom et l'emplacement du fichier que vous souhaitez enregistrer :</P>



<P><B>Nom de fichier</B></P>



<P>Spécifie un nom de fichier pour enregistrer un document sous un nom différent. &lt;&lt;YourApp&gt;&gt; ajoute l'extension que vous spécifiez dans la

zone <b> Type du fichier</b>.</P>



<P><B>Lecteurs</B></P>



<P>Spécifie le lecteur où vous souhaitez enregistrer le document.</P>



<P><B>Répertoires</B></P>



<P>Spécifie le répertoire dans lequel vous souhaitez enregistrer le document.</P>



<P><B>Réseau</B></P>



<P>Cliquez sur ce bouton pour vous connecter à un emplacement réseau, en lui assignant une nouvelle lettre de lecteur. </P>



<P>&lt;&lt; Ajoutez d'autres options de la boîte de dialogue <b> Fichier enregistrer sous</b> en fonction des options que votre application choisit

via les indicateurs OFN_ de la structure OPENFILENAME utilisée par CFileDialog. &gt;&gt;</P>



</BODY>

</HTML>

