<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Boîte de dialogue Nouveau fichier)</TITLE>

</HEAD>



<BODY>





<P><A NAME="afx_hidd_newtypedlg"></A><B>Boîte de dialogue Nouveau fichier</B></P>



<P>&lt;&lt; Supprimez cette rubrique d'aide si votre application ne prend en charge qu'un seul type de document. &gt;&gt;</P>



<P>Spécifiez le type de document que vous souhaitez créer :</P>



<P>&lt;&lt; Indiquez ici les types de documents pris en charge par votre application. &gt;&gt;</P>



</BODY>

</HTML>

