<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(barre d'état)</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">

	<PARAM NAME="Keyword" VALUE="barre d'état">

</OBJECT>



<P><A NAME="afx_hidw_status_bar"></A><B>Barre d'état</B></P>



<P>La barre d'état est affichée en bas de la fenêtre &lt;&lt;YourApp&gt;&gt;. Pour afficher ou masquer la barre d'état, utilisez la

commande <b> Barre d'état</b> du menu <b> Affichage</b>.</P>



<P>Lorsque vous vous déplacez dans les menus à l'aide des touches de direction, la partie gauche de la barre d'état décrit les actions de chacun des éléments de menu parcourus. De même, lorsque vous enfoncez les boutons de la barre d'outils,

cette partie affiche des messages décrivant les actions associées à chacun de ces boutons. Si après avoir lu la description de la commande associée au bouton de la barre d'outils, vous ne souhaitez pas exécuter la commande, positionnez le pointeur ailleurs que sur le bouton, puis relâchez le bouton de la souris.</P>



<P>Les zones à droite de la barre d'état indiquent les touches qui sont verrouillées :</P>



<P><B>Indicateur &nbsp;&nbsp;&nbsp;Description</B></P>



<P>MAJ&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;La touche VERR. MAJ est verrouillée.</P>



<P>NUM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;La touche VERR. NUM est verrouillée.</P>



<P>DEF&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;La touche DÉFIL est verrouillée.</P>



</BODY>

</HTML>

