<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Zone d'ancrage des barres d'outils)</TITLE>

</HEAD>



<BODY>





<P><A NAME="afx_hidw_dockbar_top"></A><B>Zone d'ancrage des barres d'outils</B></P>



<P>Cette zone est destinée à contenir les barres d'outils ancrables, telles que la barre d'outils par défaut créée pour l'application. Ces barres d'outils peuvent être placées dans ou en dehors de cette zone client ; elles sont automatiquement réorganisées selon l'espace disponible.</P>



</BODY>

</HTML>

