<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Commande Envoyer (menu Fichier))</TITLE>

</HEAD>



<BODY>





<P><A NAME="hid_file_send_mail"></A><B>Commande Envoyer (menu Fichier)</B></P>



<P>Utilisez cette commande pour envoyer le document actif par messagerie électronique. Cette commande affiche une fenêtre de messagerie contenant le document actif attaché. Renseignez les

champs <b>À</b>, <b>Objet</b>, etc. et ajoutez du texte dans le corps du message, le cas échéant. Lorsque vous avez fini,

cliquez sur le bouton <b>Envoyer</b> pour envoyer le message.</P>



</BODY>

</HTML>

