<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Commande Réorganiser les icônes (menu Fenêtre))</TITLE>

</HEAD>



<BODY>





<P><A NAME="hid_window_arrange"></A><B>Commande Réorganiser les icônes (menu Fenêtre)</B></P>



<P>Utilisez cette commande pour réorganiser les icônes des fenêtres réduites en bas de la fenêtre principale. Si une fenêtre de document ouvert occupe le bas de la fenêtre principale, il se peut que les icônes ne soient pas toutes visibles dans la mesure où elles peuvent être masquées par la

fenêtre du document.</P>



</BODY>

</HTML>

