<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Commande Nouvelle fenêtre (menu Fenêtre))</TITLE>

</HEAD>



<BODY>





<P><A NAME="hid_window_new"></A><B>Commande Nouvelle fenêtre (menu Fenêtre)</B></P>



<P>Utilisez cette commande pour ouvrir une nouvelle fenêtre qui aura le même contenu que la fenêtre active. Vous pouvez ouvrir plusieurs fenêtres d'un même document pour afficher simultanément différentes parties ou vues du document. Si vous modifiez le contenu de l'une des fenêtres, toutes les fenêtres 

affichant le même document refléteront ces modifications. Lorsque vous ouvrez une nouvelle fenêtre, celle-ci devient la fenêtre active et s'affiche au premier plan.</P>



</BODY>

</HTML>

