<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Commande Annuler/Impossible d'annuler (menu Edition))</TITLE>

</HEAD>



<BODY>





<P><A NAME="hid_edit_undo"></A><B>Commande Annuler/Impossible d'annuler (menu Edition)</B></P>



<P>&lt;&lt; Il se peut que la commande Annuler s'intitule différemment dans l'interface utilisateur de votre application. Modifiez ce texte d'aide en conséquence. &gt;&gt;</P>



<P>Utilisez cette commande pour annuler la dernière action de modification, si possible. Le nom de la commande varie en fonction de la dernière action effectuée. La

commande <b> Annuler</b> devient la commande <b> Impossible d'annuler</b> si la dernière action est irréversible.</P>



</BODY>

</HTML>

