<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Commande Répéter (menu Edition))</TITLE>

</HEAD>



<BODY>





<P><A NAME="hid_edit_repeat"></A><B>Commande Répéter (menu Edition)</B></P>



<P>Utilisez cette commande pour répéter la dernière action de modification effectuée. La commande <b> Répéter</b> devient la commande

<b> Impossible de répéter </b> si la dernière action ne peut pas être répétée.</P>



</BODY>

</HTML>

