<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Commande Nouveau (menu Fichier))</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">

	<PARAM NAME="Keyword" VALUE="fichiers: gérer">

</OBJECT>



<P><A NAME="hid_file_new"></A><B>Commande Nouveau (menu Fichier)</B></P>



<P>Utilisez cette commande pour créer un nouveau document dans &lt;&lt;YourApp&gt;&gt;. Dans la <A HREF="afx_hidd_newtypedlg.htm">boîte de dialogue Nouveau fichier</A>, sélectionnez le type de nouveau fichier que vous souhaitez créer. &lt;&lt; Supprimez la phrase précédente si votre application ne prend en charge

 qu'un seul type de document. &gt;&gt;</P>



<P>Vous pouvez ouvrir un document existant à l'aide de la <A HREF="hid_file_open.htm">commande Ouvrir</A>.</P>



</BODY>

</HTML>

