<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Commande Aperçu avant impression (menu Fichier))</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">

	<PARAM NAME="Keyword" VALUE="impression et aperçu avant impression">

</OBJECT>



<P><A NAME="hid_file_print_preview"></A><B>Commande Aperçu avant impression (menu Fichier)</B></P>



<P>Utilisez cette commande pour afficher le document actif tel qu'il sera imprimé. Lorsque vous choisissez cette commande, la fenêtre principale est remplacée par une fenêtre Aperçu avant impression dans laquelle une ou deux pages sont affichées dans leur format d'impression. Les

options de la <A HR EF="afx_hidw_preview_bar.htm">barre d'outils Aperçu avant impression</A> vous permettent de visualiser les pages une à une ou deux par deux, vous déplacer en avant et en arrière dans le document, faire un zoom avant ou un zoom arrière des pages et démarrer un travail d'impression.</P>



</BODY>

</HTML>

