<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Barre de titre)</TITLE>

</HEAD>



<BODY>





<P><A NAME="hid_ht_caption"></A><B>Barre de titre</B></P>



<P>&lt;&lt; Indiquez ici la barre de titre de votre application. &gt;&gt;</P>



<P>La barre de titre est située en haut d'une fenêtre. Elle contient le nom de l'application et du document.</P>



<P>Pour déplacer la fenêtre, faites glisser sa barre de titre. Remarque : vous pouvez aussi déplacer les boîtes de dialogue en faisant glisser leur barre de titre respective.</P>



<P>Une barre de titre peut contenir les éléments suivants :</P>



<P><IMG SRC="images/bullet.gif" ALT="" BORDER=0>Bouton du menu Système de l'application</P>



<P><IMG SRC="images/bullet.gif" ALT="" BORDER=0>Bouton du menu Système du document</P>



<P><IMG SRC="images/bullet.gif" ALT="" BORDER=0>Bouton Agrandir</P>



<P><IMG SRC="images/bullet.gif" ALT="" BORDER=0>Bouton Réduire</P>



<P><IMG SRC="images/bullet.gif" ALT="" BORDER=0>Nom de l'application</P>



<P><IMG SRC="images/bullet.gif" ALT="" BORDER=0>Nom du document</P>



<P><IMG SRC="images/bullet.gif" ALT="" BORDER=0>Bouton Restaurer</P>



</BODY>

</HTML>

