<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Commande Taille (menu Système))</TITLE>

</HEAD>



<BODY>





<P><A NAME="hid_sc_size"></A><B>Commande Taille (menu Système)</B></P>



<P>Utilisez cette commande pour afficher une flèche à quatre pointes vous permettant de redimensionner la fenêtre active à l'aide des touches de direction.</P>



<P>Lorsque le pointeur a pris la forme d'une flèche à quatre pointes :</P>



<P>1.Utilisez l'une des touches de direction (GAUCHE, DROITE, HAUT ou BAS) pour placer le pointeur sur la bordure que vous souhaitez déplacer.  </P>



<P>2.Utilisez une touche de direction pour déplacer la bordure.</P>



<P>3.Appuyez sur ENTRÉE lorsque la fenêtre a atteint la taille souhaitée.</P>



<P>Remarque : Cette commande n'est pas disponible si la fenêtre a été agrandie.</P>



</BODY>

</HTML>

