<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Commande Index (menu ? (Aide)))</TITLE>

</HEAD>



<BODY>





<P><A NAME="hid_help_index"></A><B>Commande Index (menu ? (Aide))</B></P>



<P>Utilisez cette commande pour afficher l'écran d'ouverture de l'aide. Cet écran vous permet d'accéder à des instructions détaillées concernant l'utilisation de &lt;&lt;YourApp&gt;&gt; et à différents types d'informations de référence.  </P>



<P>Une fois l'aide affichée, vous pouvez cliquer à tout moment sur le bouton <b> Sommaire</b> pour revenir à l'écran d'ouverture.</P>



</BODY>

</HTML>

