<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Commande 1, 2, ... (menu Fenêtre))</TITLE>

</HEAD>



<BODY>





<P><A NAME="hid_window_all"></A><B>Commande 1, 2, ... (menu Fenêtre)</B></P>



<P>&lt;&lt;YourApp&gt;&gt; affiche la liste des fenêtres de documents ouverts en bas du

menu <b> Fenêtre</b>. Une coche apparaît en regard du nom du document affiché dans la fenêtre active. Choisissez un document dans cette liste pour rendre sa fenêtre active.  </P>



</BODY>

</HTML>

