<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Commande Fenêtre précédente (menu Système du document))</TITLE>

</HEAD>



<BODY>





<P><A NAME="hid_sc_prevwindow"></A><B>Commande Fenêtre précédente (menu Système du document)</B></P>



<P>Utilisez cette commande pour passer à la fenêtre de document précédente. &lt;&lt;YourApp&gt;&gt; détermine quelle fenêtre est la précédente selon l'ordre dans lequel vous avez ouvert les fenêtres.</P>



</BODY>

</HTML>

