<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Commande Ouvrir (menu Fichier))</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">

	<PARAM NAME="Keyword" VALUE="fichiers: gérer">

</OBJECT>



<P><A NAME="hid_file_open"></A><B>Commande Ouvrir (menu Fichier)</B></P>



<P>Utilisez cette commande pour ouvrir un document existant dans une nouvelle fenêtre. Vous pouvez ouvrir plusieurs documents à la fois. Utilisez le

menu <b> Fenêtre</b> pour passer d'un document ouvert à un autre. Consultez <A HREF="hid_window_all.htm">Commande 1, 2, ... (menu Fenêtre)</A>.</P>



<P>Vous pouvez créer de nouveaux documents à l'aide de la <A HREF="hid_file_new.htm">commande Nouveau</A>.</P>





</BODY>

</HTML>

