<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Commande Déplacer (menu Système))</TITLE>

</HEAD>



<BODY>





<P><A NAME="hid_sc_move"></A><B>Commande Déplacer (menu Système)</B></P>



<P>Utilisez cette commande pour afficher une flèche à quatre pointes, vous permettant de déplacer la fenêtre ou boîte de dialogue active avec les touches de direction.</P>



<P>Remarque : Cette commande n'est pas disponible si la fenêtre a été agrandie.</P>



</BODY>

</HTML>

