<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Commande Copier (menu Edition))</TITLE>

</HEAD>



<BODY>





<P><A NAME="hid_edit_copy"></A><B>Commande Copier (menu Edition)</B></P>



<P>Utilisez cette commande pour copier les données sélectionnées dans le Presse-papiers. Cette commande n'est pas disponible si aucune donnée n'a été préalablement sélectionnée.</P>



<P>Lorsque vous utilisez cette commande, le contenu du Presse-papiers est remplacé par les nouvelles données copiées.</P>





</BODY>

</HTML>

