<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Commande Barre d'outils (menu Affichage))</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">

	<PARAM NAME="Keyword" VALUE="barre d'outils">

</OBJECT>



<P><A NAME="hid_view_toolbar"></A><B>Commande Barre d'outils (menu Affichage)</B></P>



<P>Utilisez cette commande pour afficher ou masquer la barre d'outils, qui comporte des boutons correspondant aux commandes les plus utilisées dans &lt;&lt;YourApp&gt;&gt;, telles que

<b> Fichier Ouvrir</b>. Une coche apparaît en regard de l'élément de menu lorsque la barre d'outils est affichée.</P>



<P>Consultez <A HREF="afx_hidw_toolbar.htm">Barre d'outils</A> pour obtenir de l'aide sur l'utilisation de la barre d'outils.</P>



</BODY>

</HTML>

