<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Commande Liens (menu Edition))</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">

	<PARAM NAME="Keyword" VALUE="objets : incorporer">

</OBJECT>



<P><A NAME="hid_ole_edit_links"></A><B>Commande Liens (menu Edition)</B></P>



<P>Utilisez cette commande pour afficher une <A HREF="afx_hidd_editlinks.htm">boîte de dialogue Liens</A> qui vous permet de modifier des liens existant entre votre document et d'autres documents.</P>



<P>Cette commande n'est pas disponible si votre document ne comporte pas de liens.</P>



</BODY>

</HTML>

