<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Commande Configuration de l'impression (menu Fichier))</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">

	<PARAM NAME="Keyword" VALUE="impression et aperçu avant impression">

</OBJECT>



<P><A NAME="hid_file_print_setup"></A><B>Commande Configuration de l'impression (menu Fichier)</B></P>



<P>Utilisez cette commande pour sélectionner une imprimante et une connexion d'imprimante. Cette commande affiche la <A HREF="afx_hidd_printsetup.htm">boîte de dialogue Configuration de l'impression</A>, dans laquelle vous pouvez spécifier l'imprimante et sa connexion.</P>



</BODY>

</HTML>

