<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Commande Enregistrer (menu Fichier))</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">

	<PARAM NAME="Keyword" VALUE="fichiers: gérer">

</OBJECT>



<P><A NAME="hid_file_save"></A><B>Commande Enregistrer (menu Fichier)</B></P>



<P>Utilisez cette commande pour enregistrer le document actif sous son nom actuel et dans le répertoire en cours. Si vous enregistrez un document pour la première fois, &lt;&lt;YourApp&gt;&gt; affiche la <A HREF="afx_hidd_filesave.htm">boîte de dialogue Enregistrer sous</A> qui vous permet d'attribuer un nom à votre document.

 Si vous souhaitez changer le nom et le répertoire d'un document existant avant de l'enregistrer, choisissez la <A HREF="hid_file_save_as.htm">commande Enregistrer sous</A>.</P>





</BODY>

</HTML>

