<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Commande Imprimer (menu Fichier))</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">

	<PARAM NAME="Keyword" VALUE="impression et aperçu avant impression">

</OBJECT>



<P><A NAME="hid_file_print"></A><B>Commande Imprimer (menu Fichier)</B></P>



<P>Utilisez cette commande pour imprimer un document. Cette commande affiche la <A HREF="afx_hidd_print.htm">boîte de dialogue Imprimer</A>, dans laquelle vous pouvez spécifier les pages que vous souhaitez imprimer, le nombre de copies, l'imprimante de destination et d'autres options de configuration de l'imprimante.</

P>



</BODY>

</HTML>

