<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Commande Insérer un objet)</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">

	<PARAM NAME="Keyword" VALUE="objets : incorporer">

</OBJECT>



<P><A NAME="hid_ole_insert_new"></A><B>Commande Insérer un objet (menu Edition)</B></P>



<P>Insère et incorpore un objet, tel qu'un graphique ou une équation, dans un document. L'application dans laquelle l'objet a été créé devient active à l'écran.</P>



<P>Sélectionnez l'objet que vous souhaitez insérer dans votre document en utilisant la <A HREF="afx_hidd_insertobject.htm">boîte de dialogue Insérer un objet</A>.</P>



</BODY>

</HTML>

