<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Commande Enregistrement suivant)</TITLE>

</HEAD>



<BODY>





<P><A NAME="hid_record_next"></A><B>Commande Enregistrement suivant (menu Enregistrement)</B></P>



<P>Utilisez cette commande pour atteindre l'enregistrement suivant dans la sélection en cours. Cette commande est désactivée si vous vous situez sur le dernier enregistrement et que vous y êtes arrivé en utilisant plusieurs fois la

commande <b> Enregistrement suivant</b> au lieu de la commande <b> Dernier enregistrement</b>.</P>





</BODY>

</HTML>

