<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Commande Fractionner (menu Fenêtre))</TITLE>

</HEAD>



<BODY>





<P><A NAME="hid_window_split"></A><B>Commande Fractionner (menu Fenêtre)</B></P>



<P>Utilisez cette commande pour fractionner la fenêtre active en volets. Pour déplacer les barres de fractionnement, utilisez la souris ou les touches de direction. Une fois les barres de fractionnement à l'emplacement souhaité, cliquez avec la souris ou appuyez sur ENTRÉE. Si vous

appuyez sur ÉCHAP, les barres de fractionnement restent à leur emplacement d'origine. &lt;&lt; Dans une application dotée d'une interface monodocument (SDI), cette commande se trouve dans le menu 

<b> Affichage</b>. &gt;&gt;</P>



</BODY>

</HTML>

