<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Commande Fermer (menu Fichier))</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">

	<PARAM NAME="Keyword" VALUE="fichiers: gérer">

</OBJECT>



<P><A NAME="hid_file_close"></A><B>Commande Fermer (menu Fichier)</B></P>



<P>Utilisez cette commande pour fermer toutes les fenêtres contenant le document actif. &lt;&lt;YourApp&gt;&gt; vous suggère d'enregistrer les modifications apportées à votre document avant de le fermer. Si vous fermez un document sans l'enregistrer, toutes les modifications effectuées depuis

le dernier enregistrement sont perdues. Avant de fermer un document sans titre, &lt;&lt;YourApp&gt;&gt; affiche la <A HREF="afx_hidd_filesave.htm">boîte de dialogue Enregistrer sous</A> et vous suggère de nommer et d'enregistrer le document.</P>





</BODY>

</HTML>

