<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Commande Barre d'état (menu Affichage))</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">

	<PARAM NAME="Keyword" VALUE="barre d'état">

</OBJECT>



<P><A NAME="hid_view_status_bar"></A><B>Commande Barre d'état (menu Affichage)</B></P>



<P>Utilisez cette commande pour afficher ou masquer la barre d'état, qui décrit l'action exécutée par l'élément de menu sélectionné

ou par le bouton de barre d'outils enfoncé, ainsi que l'état de verrouillage du clavier. Une coche apparaît en regard de l'élément de menu lorsque la

barre d'état est affichée.</P>



<P>Consultez <A HREF="afx_hidw_status_bar.htm">Barre d'état</A> pour obtenir de l'aide sur l'utilisation de la barre d'état.</P>



</BODY>

</HTML>

