<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Commande Basculer vers (menu Système de l'application))</TITLE>

</HEAD>



<BODY>





<P><A NAME="hid_sc_tasklist"></A><B>Commande Basculer vers (menu Système de l'application)</B></P>



<P>Utilisez cette commande pour afficher une liste de toutes les applications ouvertes. Utilisez cette

liste des tâches pour activer ou fermer une application figurant dans la liste.</P>





<P><B>Options de la boîte de dialogue</B></P>



<P>Quand vous choisissez la commande <b> Basculer vers</b>, vous voyez apparaître une boîte de dialogue contenant les options suivantes :</P>



<P><B>Liste des tâches</B></P>



<P>Spécifie l'application que vous souhaitez activer ou fermer.</P>



<P><B>Basculer vers</B></P>



<P>Rend l'application sélectionnée active.</P>



<P><B>Fin de tâche</B></P>



<P>Ferme l'application sélectionnée.</P>



<P><B>Annuler</B></P>



<P>Ferme la liste des tâches.</P>



<P><B>Cascade</B></P>



<P>Réorganise les applications ouvertes de sorte qu'elles se superposent et que vous puissiez voir chaque barre de titre. Cette option n'affecte pas les applications réduites en icônes.</P>



<P><B>Mosaïque</B></P>



<P>Réorganise les applications ouvertes en fenêtres qui ne se superposent pas. Cette option n'affecte pas les applications réduites en icônes.</P>



<P><B>Réorganiser les icônes</B></P>



<P>Réorganise les icônes de toutes les applications réduites en bas de l'écran.</P>



</BODY>

</HTML>

