<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Index de l'aide de &lt;&lt;YourApp&gt;&gt;)</TITLE>

</HEAD>



<BODY>



<P><A NAME="HIDD_[!output UPPER_CASE_SAFE_PROJECT_NAME]_DIALOG"></A><B>Rubriques d'aide de &lt;&lt;YourApp&gt;&gt;</B></P>



<P>Écrivez ici une rubrique relative à la boîte de dialogue principale de votre application</P>



<!-- Insert HTML here -->



</BODY>

</HTML>

