<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Modification du document)</TITLE>

</HEAD>



<BODY>





<P><A NAME="hidr_doc1type"></A><B>Modification du document</B></P>



<P>&lt;&lt; Écrivez ici une aide qui explique à l'utilisateur comment modifier un document dans votre application.  </P>



<P>Si votre application prend en charge plusieurs types de documents et que vous souhaitez créer une rubrique d'aide distincte pour chacun d'eux, utilisez l'ID

de contexte d'aide obtenu en exécutant le fichier MAKEHELP.BAT généré par l'Assistant

Application. Vous pouvez aussi exécuter MAKEHM comme suit :</P>



<P>makehm IDR_HIDR_,0x2000 resource.h</P>



<P>Si le symbole IDR_ pour l'un de vos types de documents est IDR_CHARTTYPE, par exemple, l'ID

de contexte d'aide généré par MAKEHM est HIDR_CHARTTYPE.</P>



<P>Remarque : L'Assistant Application définit l'ID de contexte d'aide HIDR_DOC1TYPE utilisé par cette rubrique d'aide pour le premier type de document pris en charge par votre application.

Cet Assistant crée un alias dans le fichier .HPJ de votre application, qui associe l'ID de contexte d'aide HIDR_DOC1TYPE au symbole HIDR_ généré par MAKEHM pour ce type de document. &gt;&gt;</P>



</BODY>

</HTML>

