<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Index de l'aide de &lt;&lt;YourApp&gt;&gt;)</TITLE>

</HEAD>



<BODY>





<P><A NAME="main_index"></A><B>Index de l'aide de &lt;&lt;YourApp&gt;&gt;</B></P>



<P><B>Comment...</B></P>



<P>&lt;&lt; Ajoutez ici les rubriques Comment spécifiques à votre application. &gt;&gt;</P>



<P><B>Commandes</B></P>



<P><A HREF="menu_file.htm">Menu Fichier</A></P>



<P><A HREF="menu_edit.htm">Menu Edition</A></P>



[!if OLEDB || ODBC]

<P><A HREF="menu_record.htm">Menu Enregistrement</A></P>



[!endif]

<P><A HREF="menu_view.htm">Menu Affichage</A></P>



[!if APP_TYPE_MDI]

<P><A HREF="menu_window.htm">Menu Fenêtre</A></P>



[!endif]

<P><A HREF="menu_help.htm">Menu ? (Aide)</A></P>



</BODY>

</HTML>

