<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Commandes du menu Edition)</TITLE>

</HEAD>



<BODY>





<P><A NAME="menu_edit"></A><B>Commandes du menu Edition</B></P>



<P>Le menu <b> Edition</b> propose les commandes suivantes :</P>



<TABLE cols=2 width=900>



<TR VALIGN="top">

<TD width=15%><A HREF="hid_edit_undo.htm">Annuler</A></TD>

<TD width=85%>Annule la dernière opération de modification.</TD>

</TR>

<TR VALIGN="top">

<TD width=15%><A HREF="hid_edit_cut.htm">Couper</A></TD>

<TD width=85%>Supprime les données sélectionnées du document et les place dans le Presse-papiers.</TD>

</TR>



<TR VALIGN="top">

<TD width=15%><A HREF="hid_edit_copy.htm">Copier</A></TD>

<TD width=85%>Copie les données sélectionnées du document vers le Presse-papiers.</TD>

</TR>



<TR VALIGN="top">

<TD width=15%><A HREF="hid_edit_paste.htm">Coller</A></TD>

<TD width=85%>Colle les données contenues dans le Presse-papiers dans le document.</TD>

</TR>



[!if CONTAINER || CONTAINER_SERVER]

<TR VALIGN="top">

<TD width=15%><A HREF="hid_edit_paste_link.htm">Coller avec liaison</A></TD>

<TD width=85%>Colle à partir du Presse-papiers une liaison à des données d'une autre application.</TD>

</TR>



<TR VALIGN="top">

<TD width=15%><A HREF="hid_ole_insert_new.htm">Insérer un objet</A></TD>

<TD width=85%>Insère et incorpore un objet, tel qu'un graphique ou une équation, dans un document.</TD>

</TR>



<TR VALIGN="top">

<TD width=15%><A HREF="hid_ole_edit_links.htm">Liens</A></TD>

<TD width=85%>Affiche et modifie les liens à des documents incorporés.</TD>

</TR>

[!endif]

</TABLE>



</BODY>

</HTML>

