<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Commandes du menu Fenêtre)</TITLE>

</HEAD>



<BODY>





<P><A NAME="menu_window"></A><B>Commandes du menu Fenêtre</B></P>



<P>Le menu Fenêtre propose les commandes suivantes, qui vous permettent de réorganiser l'affichage des fenêtres de plusieurs documents dans la fenêtre de l'application :</P>



<TABLE cols=2 width=900>



<TR VALIGN="top">

<TD width=21%><A HREF="hid_window_new.htm">Nouvelle fenêtre</A></TD>

<TD width=79%>Crée une nouvelle fenêtre qui affiche le même document.</TD>

</TR>



<TR VALIGN="top">

<TD width=21%><A HREF="hid_window_cascade.htm">Cascade</A></TD>

<TD width=79%>Réorganise les fenêtres de sorte qu'elles se superposent.</TD>

</TR>



<TR VALIGN="top">

<TD width=21%><A HREF="hid_window_tile.htm">Mosaïque</A></TD>

<TD width=79%>Réorganise les fenêtres en mosaïque de sorte qu'elles ne se superposent pas.</TD>

</TR>



<TR VALIGN="top">

<TD width=21%><A HREF="hid_window_arrange.htm">Réorganiser les icônes</A></TD>

<TD width=79%>Réorganise les icônes des fenêtres fermées.</TD>

</TR>


[!if SPLITTER]
<TR VALIGN="top">

<TD width=21%><A HREF="hid_window_split.htm">Fractionner</A></TD>

<TD width=79%>Fractionne la fenêtre active en volets.</TD>

</TR>



[!endif]
<TR VALIGN="top">

<TD width=21%><A HREF="hid_window_all.htm">Fenêtre 1, 2, ...</A></TD>

<TD width=79%>Rend active la fenêtre spécifiée.</TD>

</TR>

</TABLE><BR>



</BODY>

</HTML>

