<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Commandes du menu Enregistrement)</TITLE>

</HEAD>



<BODY>





<P><A NAME="menu_record"></A><B>Commandes du menu Enregistrement</B></P>



<P>Le menu Enregistrement propose les commandes suivantes :</P>



<TABLE cols=2 width=900>



<TR VALIGN="top">

<TD width=23%><A HREF="hid_record_first.htm">Premier enregistrement</A></TD>

<TD width=77%>Affiche le premier enregistrement de la sélection en cours</TD>

</TR>



<TR VALIGN="top">

<TD width=23%><A HREF="hid_record_prev.htm">Enregistrement précédent</A></TD>

<TD width=77%>Affiche l'enregistrement précédent dans la sélection en cours</TD>

</TR>



<TR VALIGN="top">

<TD width=23%><A HREF="hid_record_next.htm">Enregistrement suivant</A></TD>

<TD width=77%>Affiche l'enregistrement suivant dans la sélection en cours</TD>

</TR>



<TR VALIGN="top">

<TD width=23%><A HREF="hid_record_last.htm">Dernier enregistrement</A></TD>

<TD width=77%>Affiche le dernier enregistrement de la sélection en cours</TD>

</TR>

</TABLE>



</BODY>

</HTML>

