<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Commandes du menu Fichier)</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">

	<PARAM NAME="Keyword" VALUE="fichiers: gérer">

</OBJECT>



<P><A NAME="menu_file"></A><B>Commandes du menu Fichier</B></P>



<P>Le menu <b> Fichier</b> propose les commandes suivantes :</P>



<TABLE cols=2 width=900>



<TR VALIGN="top">

<TD width=16%><A HREF="hid_file_new.htm">Nouveau</A></TD>

<TD width=84%>Crée un nouveau document.</TD>

</TR>



<TR VALIGN="top">

<TD width=16%><A HREF="hid_file_open.htm">Ouvrir</A></TD>

<TD width=84%>Ouvre un document existant.</TD>

</TR>



<TR VALIGN="top">

<TD width=16%><A HREF="hid_file_close.htm">Fermer</A></TD>

<TD width=84%>Ferme un document ouvert.</TD>

</TR>



<TR VALIGN="top">

<TD width=16%><A HREF="hid_file_save.htm">Enregistrer</A></TD>

<TD width=84%>Enregistre un document ouvert sous le même nom de fichier.</TD>

</TR>



<TR VALIGN="top">

<TD width=16%><A HREF="hid_file_save_as.htm">Enregistrer sous</A></TD>

<TD width=84%>Enregistre un document ouvert sous le nom de fichier que vous spécifiez.</TD>

</TR>



[!if PRINTING]

<TR VALIGN="top">

<TD width=16%><A HREF="hid_file_print.htm">Imprimer</A></TD>

<TD width=84%>Imprime un document.</TD>

</TR>



<TR VALIGN="top">

<TD width=16%><A HREF="hid_file_print_preview.htm">Aperçu avant impression</A></TD>

<TD width=84%>Affiche le document à l'écran tel qu'il apparaîtra une fois imprimé.</TD>

</TR>



<TR VALIGN="top">

<TD width=16%><A HREF="hid_file_print_setup.htm">Configuration de l'impression</A></TD>

<TD width=84%>Sélectionne une imprimante et une connexion d'imprimante.</TD>

</TR>



[!endif]

[!if MAPI]

<TR VALIGN="top">

<TD width=16%><A HREF="hid_file_send_mail.htm">Envoyer</A></TD>

<TD width=84%>Envoie le document actif par messagerie électronique.</TD>

</TR>



[!endif]

<TR VALIGN="top">

<TD width=16%><A HREF="hid_app_exit.htm">Quitter</A></TD>

<TD width=84%>Quitte &lt;&lt;YourApp&gt;&gt;.</TD>

</TR>

</TABLE><BR>



</BODY>

</HTML>

