<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Barres de défilement)</TITLE>

</HEAD>



<BODY>





<P><A NAME="scrollbars"></A><B>Barres de défilement</B></P>



<P>S'affichent à droite et en bas de la fenêtre du document. Les curseurs de défilement se trouvant à l'intérieur des barres de défilement indiquent votre position verticale et horizontale au sein du document. Vous pouvez utiliser la souris pour faire défiler d'autres parties du document.</P>



<P>&lt;&lt; Décrivez les actions des différentes parties de la barre de défilement, en fonction de leur comportement dans votre application. &gt;&gt;</P>



</BODY>

</HTML>

