<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Symbolleiste)</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e" width="14" height="14">

	<PARAM NAME="Keyword" VALUE="Symbolleiste">

</OBJECT>



<P><A NAME="afx_hidw_toolbar"></A><B>Symbolleiste</B></P>





<P>Die Symbolleiste wird am oberen Rand des Programmfensters unter der Menüleiste angezeigt. Die Symbolleiste bietet schnellen Zugriff auf viele Tools, die in &lt;&lt;YourApp&gt;&gt; verwendet werden.</P>



<P>Um die Symbolleiste anzuzeigen, klicken Sie auf <b>Symbolleiste</b> im Menü <b>Ansicht</b>.</P>



</BODY>

</HTML>

