<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Dialogfeld 'Datei speichern unter')</TITLE>

</HEAD>



<BODY>





<P><A NAME="afx_hidd_filesave"></A><B>Dialogfeld 'Datei speichern unter'</B></P>



<P>Mit folgenden Optionen können Sie den Namen und den Speicherort der zu speichernden Datei angeben:</P>



<P><B>Dateiname</B></P>



<P>Geben Sie einen Dateinamen an, um ein Dokument unter einem anderen Namen zu speichern.  &lt;&lt;YourApp&gt;&gt; fügt die Erweiterung hinzu, die Sie im Feld <b>Datei speichern unter</b> angeben.</P>



<P><B>Laufwerke</B></P>



<P>Wählen Sie das Laufwerk aus, auf dem Sie das Dokument speichern möchten.</P>



<P><B>Verzeichnisse</B></P>



<P>Wählen Sie das Verzeichnis aus, in dem Sie das Dokument speichern möchten.</P>



<P><B>Netzwerk</B></P>



<P>Klicken Sie auf diese Schaltfläche, um die Verbindung mit einem Netzlaufwerk herzustellen, dem ein neuer Laufwerkbuchstabe zugeordnet wird.</P>



<P>&lt;&lt; Fügen Sie weitere Optionen für das Dialogfeld <b>Datei speichern unter</b> hinzu, abhängig davon, welche Optionen Ihre Anwendung über die Flags OFN_ der OPENFILENAME-Struktur auswählt, die von CFileDialog verwendet wird. &gt;&gt;</P>



</BODY>

</HTML>

