<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Dialogfeld 'Datei öffnen')</TITLE>

</HEAD>



<BODY>





<P><A NAME="afx_hidd_fileopen"></A><B>Dialogfeld 'Datei öffnen'</B></P>



<P>Mit folgenden Optionen können Sie die zu öffnende Datei angeben:</P>



<P><B>Dateiname</B></P>



<P>Geben Sie die zu öffnenden Dateien an. In diesem Feld werden die Dateien mit der Erweiterung angezeigt, die Sie im Feld <b>Dateityp</b> ausgewählt haben. </P>



<P><B>Dateityp</B></P>



<P>Wählen Sie den zu öffnenden Dateityp aus:</P>



<P>&lt;&lt; Listen Sie hier die Dateitypen Ihrer Anwendung auf &gt;&gt;</P>



<P><B>Laufwerke</B></P>



<P>Wählen Sie das Laufwerk aus, in dem &lt;&lt;YourApp&gt;&gt; die zu öffnende Datei speichert. </P>



<P><B>Verzeichnisse</B></P>



<P>Wählen Sie das Verzeichnis aus, in dem &lt;&lt;YourApp&gt;&gt; die zu öffnende Datei speichert. </P>



<P><B>Netzwerk</B></P>



<P>Klicken Sie auf diese Schaltfläche, um die Verbindung mit einem Netzlaufwerk herzustellen, dem ein neuer Laufwerkbuchstabe zugeordnet wird.</P>



</BODY>

</HTML>

