<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Dialogfeld 'Neue Datei')</TITLE>

</HEAD>



<BODY>





<P><A NAME="afx_hidd_newtypedlg"></A><B>Dialogfeld 'Neue Datei'</B></P>



<P>&lt;&lt; Löschen Sie dieses Hilfethema, wenn Ihre Anwendung nur einen Dokumenttyp unterstützt. &gt;&gt;</P>



<P>Geben Sie den zu erstellenden Dokumenttyp an:</P>



<P>&lt;&lt; Listen Sie hier die Dokumenttypen Ihrer Anwendung auf &gt;&gt;</P>



</BODY>

</HTML>

