<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Dialogfeld 'Druckstatus')</TITLE>

</HEAD>



<BODY>





<P><A NAME="afx_hidd_printdlg"></A><B>Dialogfeld 'Druckstatus'</B></P>



<P>Das Dialogfeld <b>Drucken</b> wird angezeigt, während die Ausgabe von &lt;&lt;YourApp&gt;&gt; an den Drucker gesendet wird. Die Seitenzahl gibt den Druckstatus an.</P>



<P>Klicken Sie auf <b>Abbrechen</b>, um den Druckvorgang zu beenden.</P>



</BODY>

</HTML>

