<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Seitenansicht-Symbolleiste)</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">

	<PARAM NAME="Keyword" VALUE="Drucken und Seitenansicht">

</OBJECT>



<P><A NAME="afx_hidw_preview_bar"></A><B>Seitenansicht-Symbolleiste</B></P>



<P>Die Seitenansicht-Symbolleiste enthält folgende Optionen:</P>



<P><B>Drucken</B></P>



<P>Öffnet das Dialogfeld <b>Drucken</b>, um einen Druckauftrag zu starten.</P>



<P><B>Nächste Seite</B></P>



<P>Zeigt die nächste gedruckte Seite in der Vorschau an.</P>



<P><B>Vorherige Seite</B></P>



<P>Zeigt die zuvor gedruckte Seite an.</P>



<P><B>Eine Seite / Zwei Seiten</B></P>



<P>Zeigt eine oder zwei gedruckte Seiten gleichzeitig in der Vorschau an.</P>



<P><B>Vergrößern</B></P>



<P>Vergrößert die gedruckte Seite.</P>



<P><B>Verkleinern</B></P>



<P>Verkleinert die gedruckte Seite.</P>



<P><B>Schließen</B></P>



<P>Kehrt von der Seitenansicht zum Bearbeitungsfenster zurück.</P>



</BODY>

</HTML>

