<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Drucken-Dialogfeld)</TITLE>

</HEAD>



<BODY>





<P><A NAME="afx_hidd_print"></A><B>Drucken-Dialogfeld</B></P>



<P>Mit folgenden Optionen können Sie angeben, wie das Dokument gedruckt wird:</P>



<P><B>Drucker</B></P>



<P>Zeigt den aktiven Drucker und die Druckerverbindung an. Wählen Sie die Option <b> Setup</b>, um den Drucker und die Druckerverbindung zu ändern.</P>



<P><B>Setup</B></P>



<P>Zeigt das Dialogfeld <A HREF="afx_hidd_printsetup.htm">Drucker einrichten</A> zum Auswählen eines Druckers und einer Druckerverbindung an.</P>



<P><B>Druckbereich</B></P>



<P>Geben Sie die zu druckenden Seiten an:</P>



<TABLE cols=2 width=548>



<TR VALIGN="top">

<TD width=15%><B>Alles</B></TD>

<TD width=85%>Druckt das gesamte Dokument.</TD>

</TR>



<TR VALIGN="top">

<TD width=15%><B>Auswahl</B></TD>

<TD width=85%>Druckt den ausgewählten Text.</TD>

</TR>



<TR VALIGN="top">

<TD width=15%><B>Seiten</B></TD>

<TD width=85%>Druckt den in den Feldern <b>Von</b> und <b>Bis</b> angegebenen Seitenbereich.</TD>

</TR>

</TABLE>



<P><B>Kopien</B></P>



<P>Geben Sie die Anzahl der Kopien an, die für den angegebenen Seitenbereich gedruckt werden sollen.</P>



<P><B>Kopien sortieren</B></P>



<P>Druckt Kopien in Seitenreihenfolge, anstatt separate Kopien jeder Seite.</P>



<P><B>Druckqualität</B></P>



<P>Legt die Druckqualität fest. Eine geringere Qualität beansprucht normalerweise weniger Zeit zum Drucken.</P>



</BODY>

</HTML>

