<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Statusleiste)</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">

	<PARAM NAME="Keyword" VALUE="Statusleiste">

</OBJECT>



<P><A NAME="afx_hidw_status_bar"></A><B>Statusleiste</B></P>



<P>Die Statusleiste wird am unteren Rand des &lt;&lt;YourApp&gt;&gt;-Fensters angezeigt. Verwenden Sie den Befehl <b>Statusleiste</b> im Menü <b>Ansicht</b>, um die Statusleiste ein- oder auszublenden.</P>



<P>Im linken Bereich der Statusleiste werden die Vorgänge von Menüelementen beschrieben, während Sie mit den Pfeiltasten durch die Menüs navigieren. Es werden auch die von Schaltflächen in der Symbolleiste ausgeführten Vorgänge beschrieben. Wenn Sie einen Befehl nicht ausführen möchten, nachdem Sie die Beschreibung gelesen haben, lassen Sie die Maustaste los, wenn sich der Zeiger nicht mehr auf der Schaltfläche befindet.</P>



<P>Der rechte Bereich der Statusleiste zeigt an, welche der folgenden Tasten aktiviert sind:</P>



<P><B>Indicator &nbsp;&nbsp;&nbsp;Description</B></P>



<P>CAP&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Caps Lock key is latched down.</P>



<P>NUM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Num Lock key is latched down.</P>



<P>SCRL&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Scroll Lock key is latched down.</P>



</BODY>

</HTML>

