<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Keine Hilfe verfügbar)</TITLE>

</HEAD>



<BODY>





<P><A NAME="afx_hidp_default"></A><B>Keine Hilfe verfügbar</B></P>



<P>Für dieses Meldungsfeld ist keine Hilfe verfügbar.</P>



<P>&lt;&lt; Wenn Sie für jede Meldungsaufforderung spezifische Hilfe schreiben möchten, entfernen Sie die AFX_HIDP_xxx-Werte aus dem [ALIAS]-Abschnitt der .HPJ-Datei und schreiben Sie für jeden AFX_HIDP_xxx-Wert ein Thema.  AFX_HIDP_INVALID_FILENAME ist z.B. das Hilfethema für die Meldung <b>Ungültiger Dateiname</b>. &gt;&gt;</P>



</BODY>

</HTML>

