<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Dialogfeld 'Drucker einrichten')</TITLE>

</HEAD>



<BODY>





<P><A NAME="afx_hidd_printsetup"></A><B>Dialogfeld 'Drucker einrichten'</B></P>



<P>Mit folgenden Optionen können Sie den Zieldrucker und die Druckerverbindung auswählen.</P>



<P><B>Drucker</B></P>



<P>Legen Sie den gewünschten Drucker fest. Wählen Sie den Standarddrucker oder einen installierten Drucker aus. Über die Windows-Systemsteuerung können Sie Drucker installieren und Anschlüsse konfigurieren. </P>



<P><B>Ausrichtung</B></P>



<P>Gibt <b>Hochformat</b> oder <b>Querformat</b> an.</P>



<P><B>Papiergröße</B></P>



<P>Wählen Sie die Papiergröße zum Drucken des Dokuments aus.</P>



<P><B>Papierquelle</B></P>



<P>Geben Sie die Papierquelle an, da einige Drucker mehrere Schächte für unterschiedliche Papierquellen verwenden.</P>



<P><B>Optionen</B></P>



<P>Zeigt ein Dialogfeld an, in dem Sie zusätzliche Druckoptionen für den ausgewählten Drucker festlegen können.</P>



<P><B>Netzwerk</B></P>



<P>Klicken Sie auf diese Schaltfläche, um die Verbindung mit einem Netzlaufwerk herzustellen, dem ein neuer Laufwerkbuchstabe zugeordnet wird.</P>



</BODY>

</HTML>

