<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(1, 2, ... (Menü 'Fenster'))</TITLE>

</HEAD>



<BODY>





<P><A NAME="hid_window_all"></A><B>1, 2, ... (Menü 'Fenster')</B></P>



<P>&lt;&lt;YourApp&gt;&gt; zeigt eine Liste der aktuell geöffneten Dokumentfenster unten im Menü <b>Fenster</b> an. Der Dokumentname des aktiven Fensters ist markiert. Wählen Sie ein Dokument in der Liste, um es zu aktivieren.  </P>



</BODY>

</HTML>

