<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Teilen (Menü 'Fenster'))</TITLE>

</HEAD>



<BODY>





<P><A NAME="hid_window_split"></A><B>Teilen (Menü 'Fenster')</B></P>



<P>Verwenden Sie diesen Befehl, um das aktive Fenster in Bereiche aufzuteilen. Sie können die Trennleisten mit der Maus oder den Pfeiltasten verschieben. Wenn der Vorgang beendet ist, drücken Sie die Maustaste oder die Eingabetaste, um die Trennleisten an der neuen Position zu belassen. Drücken Sie die Esc-Taste, um die ursprüngliche Position der Trennleisten beizubehalten. &lt;&lt; In einer einfachen Dokumentschnittstellenanwendung wird dieser Befehl im Menü <b>Ansicht</b> angezeigt. &gt;&gt;</P>



</BODY>

</HTML>

