<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Befehl 'Nächster Datensatz')</TITLE>

</HEAD>



<BODY>





<P><A NAME="hid_record_next"></A><B>Nächster Datensatz (Menü 'Datensatz')</B></P>



<P>Verwenden Sie diesen Befehl, um zum nächsten Datensatz in der aktuellen Auswahl zu wechseln. Dieser Befehl ist deaktiviert, wenn der letzte Datensatz mit dem Befehl <b>Nächster Datensatz</b> anstatt dem Befehl <b>Letzter Datensatz</b> angezeigt wird.</P>





</BODY>

</HTML>

