<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Wechseln zu (Programmsteuerungsmenü))</TITLE>

</HEAD>



<BODY>





<P><A NAME="hid_sc_tasklist"></A><B>Wechseln zu (Programmsteuerungsmenü)</B></P>



<P>Verwenden Sie diesen Befehl, um eine Liste der geöffneten Anwendungen anzuzeigen. Verwenden Sie diese 'Taskliste', um zu einer Anwendung zu wechseln oder um eine Anwendung zu schließen.</P>





<P><B>Dialogfeld 'Optionen'</B></P>



<P>Wenn Sie den Befehl <b>Wechseln zu</b> wählen, wird ein Dialogfeld mit folgenden Optionen angezeigt:</P>



<P><B>Taskliste</B></P>



<P>Wählen Sie die Anwendung aus, zu der Sie wechseln bzw. die Sie schließen möchten.</P>



<P><B>Wechseln zu</B></P>



<P>Aktiviert die ausgewählte Anwendung.</P>



<P><B>Task beenden</B></P>



<P>Schließt die ausgewählte Anwendung.</P>



<P><B>Abbrechen</B></P>



<P>Schließt die Taskliste.</P>



<P><B>Überlappend</B></P>



<P>Ordnet geöffnete Anwendungen überlappend an, so dass die Titelleisten sichtbar sind. Diese Option hat keine Einfluss auf minimierte Anwendungen.</P>



<P><B>Nebeneinander</B></P>



<P>Ordnet geöffnete Anwendung in nicht überlappenden Fenstern an. Diese Option hat keine Einfluss auf minimierte Anwendungen.</P>



<P><B>Symbole anordnen</B></P>



<P>Ordnet die Symbole der minimierten Anwendungen am unteren Bildschirmrand an.</P>



</BODY>

</HTML>

