<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Befehl 'Datei drucken')</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">

	<PARAM NAME="Keyword" VALUE="Drucken und Seitenansicht">

</OBJECT>



<P><A NAME="hid_file_print"></A><B>Drucken (Menü 'Datei')</B></P>



<P>Verwenden Sie diesen Befehl, um ein Dokument zu drucken. Der Befehl öffnet das Dialogfeld <A HREF="afx_hidd_print.htm">Drucken</A>, in dem Sie den zu druckenden Seitenbereich, die Anzahl der Kopien, den Zieldrucker und andere Druckoptionen festlegen können.</

P>



</BODY>

</HTML>

