<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Befehl 'Datei beenden')</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">

	<PARAM NAME="Keyword" VALUE="Beenden">

</OBJECT>



<P><A NAME="hid_app_exit"></A><B>Beenden (Menü 'Datei')</B></P>



<P>Verwenden Sie diesen Befehl, um die &lt;&lt;YourApp&gt;&gt;-Sitzung zu beenden. Sie können auch den Befehl <b>Schließen</b> im Steuerungsmenü der Anwendung verwenden.  &lt;&lt;YourApp&gt;&gt; fordert Sie zum Speichern des Dokuments auf.</P>





</BODY>

</HTML>

