<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Titelleiste)</TITLE>

</HEAD>



<BODY>





<P><A NAME="hid_ht_caption"></A><B>Titelleiste</B></P>



<P>&lt;&lt; Zeigen Sie hier die Titelleiste Ihrer Anwendung an. &gt;&gt;</P>



<P>Die Titelleiste befindet sich am oberen Fensterrand. Sie enthält den Namen der Anwendung und des Dokuments.</P>



<P>Ziehen Sie die Titelleiste, um das Fenster zu verschieben. Hinweis: Sie können auch Dialogfelder verschieben, indem Sie die Titelleiste ziehen.</P>



<P>Eine Titelleiste kann folgende Elemente enthalten:</P>



<P><IMG SRC="images/bullet.gif" ALT="" BORDER=0>Schaltfläche im Programmsteuerungsmenü</P>



<P><IMG SRC="images/bullet.gif" ALT="" BORDER=0>Schaltfläche im Dokumentsteuerungsmenü</P>



<P><IMG SRC="images/bullet.gif" ALT="" BORDER=0>Maximieren-Schaltfläche</P>



<P><IMG SRC="images/bullet.gif" ALT="" BORDER=0>Minimieren-Schaltfläche</P>



<P><IMG SRC="images/bullet.gif" ALT="" BORDER=0>Name der Anwendung</P>



<P><IMG SRC="images/bullet.gif" ALT="" BORDER=0>Name des Dokuments</P>



<P><IMG SRC="images/bullet.gif" ALT="" BORDER=0>Wiederherstellen-Schaltfläche</P>



</BODY>

</HTML>

