<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Befehl 'Statusleiste')</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">

	<PARAM NAME="Keyword" VALUE="Statusleiste">

</OBJECT>



<P><A NAME="hid_view_status_bar"></A><B>Statusleiste (Menü 'Ansicht')</B></P>



<P>Verwenden Sie diesen Befehl, um die Statusleiste ein- und auszublenden, die den vom Menüelement oder der Schaltfläche ausgeführten Vorgang beschreibt. Wenn Sie Statusleiste angezeigt wird, wird das Menüelement markiert.</P>



<P>Hilfe zur Verwendung der Statusleiste finden Sie unter <A HREF="afx_hidw_status_bar.htm">Statusleiste</A>.</P>



</BODY>

</HTML>

