<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Befehl 'Datei schließen')</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">

	<PARAM NAME="Keyword" VALUE="Dateien: Verwaltung">

</OBJECT>



<P><A NAME="hid_file_close"></A><B>Schließen (Menü 'Datei')</B></P>



<P>Verwenden Sie diesen Befehl, um alle Fenster zu schließen, die das aktive Dokument enthalten. &lt;&lt;YourApp&gt;&gt; fordert Sie vor dem Schließen des Dokuments zum Speichern auf.  Wenn Sie das Dokument schließen, ohne zu speichern, werden alle seit dem letzten Speichern vorgenommenen Änderungen verworfen. Vor dem Schließen eines unbenannten Dokuments zeigt &lt;&lt;YourApp&gt;&gt; das Dialogfeld <A HREF="afx_hidd_filesave.htm">Speichern unter</A> an, und fordert zum Benennen und Speichern des Dokuments auf.</P>





</BODY>

</HTML>

