<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Index (Menü 'Hilfe'))</TITLE>

</HEAD>



<BODY>





<P><A NAME="hid_help_index"></A><B>Index (Menü 'Hilfe')</B></P>



<P>Verwenden Sie diesen Befehl, um das Startfenster der Hilfe anzuzeigen. In diesem Fenster können Sie schrittweise Anweisungen für die Verwendung von &lt;&lt;YourApp&gt;&gt; und verschiedene Referenzinformationen anzeigen.  </P>



<P>Wenn die Hilfe geöffnet ist, können Sie jederzeit auf <b>Inhalt</b> klicken, um zum Startfenster zurückzukehren.</P>



</BODY>

</HTML>

