<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Befehl 'Neue Datei')</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">

	<PARAM NAME="Keyword" VALUE="Dateien: Verwaltung">

</OBJECT>



<P><A NAME="hid_file_new"></A><B>Neu (Menü 'Datei')</B></P>



<P>Verwenden Sie diesen Befehl, um ein neues Dokument in &lt;&lt;YourApp&gt;&gt; zu erstellen. Wählen Sie den Typ der zu erstellenden Datei im Dialogfeld <A HREF="afx_hidd_newtypedlg.htm">Neue Datei</A> aus.  &lt;&lt; Entfernen Sie den vorherigen Satz, wenn Ihre Anwendung nur einen Dokumenttyp unterstützt. &gt;&gt;</P>



<P>Sie können ein vorhandenes Dokument mit dem Befehl <A HREF="hid_file_open.htm">Öffnen</A> öffnen.</P>



</BODY>

</HTML>

