<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Senden (Menü 'Datei'))</TITLE>

</HEAD>



<BODY>





<P><A NAME="hid_file_send_mail"></A><B>Senden (Menü 'Datei')</B></P>



<P>Verwenden Sie diesen Befehl, um das aktive Dokument per E-Mail zu senden. Dieser Befehl zeigt ein Mailfenster mit dem angehängten Dokument an. Sie können die Felder <b>An</b> und <b>Betreff</b> ausfüllen und Text hinzufügen. Klicken Sie auf <b>Senden</b>, um die Nachricht zu senden.</P>



</BODY>

</HTML>

