<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Neu (Menü 'Fenster'))</TITLE>

</HEAD>



<BODY>





<P><A NAME="hid_window_new"></A><B>Neu (Menü 'Fenster')</B></P>



<P>Verwenden Sie diesen Befehl, um ein neues Fenster mit dem gleichen Inhalt wie das aktive Fenster zu öffnen. Sie können mehrere Dokumentfenster öffnen, um gleichzeitig verschiedene Teile oder Ansichten eines Dokuments anzuzeigen. Wenn Sie den Inhalt in einem Fenster ändern, werden die Änderungen in allen anderen Fenstern reflektiert, die das gleiche Dokument enthalten. Wenn Sie ein neues Fenster öffnen, ist dieses das aktive Fenster und wird als oberstes Fenster angezeigt.</P>



</BODY>

</HTML>

