<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Befehl 'Verknüpfungen bearbeiten')</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">

	<PARAM NAME="Keyword" VALUE="objects: embedding">

</OBJECT>



<P><A NAME="hid_ole_edit_links"></A><B>Verknüpfungen (Menü 'Bearbeiten')</B></P>



<P>Verwenden Sie diesen Befehl, um das  <A HREF="afx_hidd_editlinks.htm">Dialogfeld 'Verknüpfungen'</A> anzuzeigen, in dem Sie Verknüpfungen zwischen Ihrem Dokument und anderen Dokumenten bearbeiten können.</P>



<P>Dieser Befehl ist nicht verfügbar, wenn das Dokument keine Verknüpfungen enthält.</P>



</BODY>

</HTML>

