<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Befehl 'Datei 1, 2, 3, 4')</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">

	<PARAM NAME="Keyword" VALUE="Dateien: Verwaltung">

</OBJECT>



<P><A NAME="hid_file_mru_file1"></A><B>1, 2, 3, 4 (Menü 'Datei')</B></P>



<P>Verwenden Sie die Nummern und Dateinamen, die unten im Menü <b>Datei</b> aufgelistet sind, um die letzten vier Dokumente zu öffnen. Wählen Sie die Nummer, die dem zu öffnenden Dokument entspricht.</P>



</BODY>

</HTML>

