<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Verschieben (Steuerungsmenü))</TITLE>

</HEAD>



<BODY>





<P><A NAME="hid_sc_move"></A><B>Verschieben (Steuerungsmenü)</B></P>



<P>Verwenden Sie diesen Befehl, um einen Pfeil mit vier Spitzen anzuzeigen, damit das aktive Fenster oder Dialogfeld mit den Pfeiltasten verschoben werden kann.</P>



<P>Hinweis: Dieser Befehl ist nicht verfügbar, wenn das Fenster maximiert wird.</P>



</BODY>

</HTML>

