<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Größe (Systemmenü))</TITLE>

</HEAD>



<BODY>





<P><A NAME="hid_sc_size"></A><B>Größe (Systemmenü)</B></P>



<P>Verwenden Sie diesen Befehl, um einen Pfeil mit vier Spitzen anzuzeigen, damit Sie die Größe des aktiven Fensters mit den Pfeiltasten ändern können.</P>



<P>Nachdem sich der Zeiger zu einem Pfeil mit vier Spitzen ändert:</P>



<P>1. Drücken Sie eine Pfeiltaste, um den Zeiger auf den zu verschiebenden Rahmen zu bewegen.  </P>



<P>2. Drücken Sie eine Pfeiltaste, um den Rahmen zu verschieben.</P>



<P>3. Drücken Sie EINGABE, wenn das Fenster die gewünschte Größe hat.</P>



<P>Hinweis: Dieser Befehl ist nicht verfügbar, wenn das Fenster maximiert wird.</P>



</BODY>

</HTML>

