<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Befehl 'Seitenansicht')</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">

	<PARAM NAME="Keyword" VALUE="Drucken und Seitenansicht">

</OBJECT>



<P><A NAME="hid_file_print_preview"></A><B>Seitenansicht (Menü 'Datei')</B></P>



<P>Verwenden Sie diesen Befehl, um das aktive Dokument so anzuzeigen wie es gedruckt wird. Wenn Sie diesen Befehl wählen wird das Hauptfenster durch eine Seitenansicht ersetzt, in der eine oder zwei Seiten im Druckformat angezeigt werden. Die Symbolleiste <A HREF="afx_hidw_preview_bar.htm">Seitenansicht</A> enthält Optionen zum Anzeigen von einer oder zwei Seiten gleichzeitig; zum Blättern durch das Dokument; zum Verkleinern und Vergrößern von Seiten; und zum Initialiseren eines Druckauftrags.</P>



</BODY>

</HTML>

