<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Befehl 'Symbole anordnen')</TITLE>

</HEAD>



<BODY>





<P><A NAME="hid_window_arrange"></A><B>Befehl 'Symbole anordnen'</B></P>



<P>Verwenden Sie diesen Befehl, um die Symbole der minimierten Fenster am unteren Rand des Hauptfensters anzuzeigen. Wenn sich am unteren Rand des Hauptfenster ein geöffnetes Dokumentfenster befindet, sind möglicherweise nicht alle Symbole sichtbar, da sie unter dem Dokumentfenster liegen.</P>



</BODY>

</HTML>

