<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Rückgängig/Rückgängig nicht möglich (Menü 'Bearbeiten'))</TITLE>

</HEAD>



<BODY>





<P><A NAME="hid_edit_undo"></A><B>Rückgängig/Rückgängig nicht möglich (Menü 'Bearbeiten')</B></P>



<P>&lt;&lt; Die Benutzeroberflächer für 'Rückgängig' Ihrer Anwendung kann sich von der beschriebenen unterscheiden. Ändern Sie den Hilfetext entsprechend. &gt;&gt;</P>



<P>Verwenden Sie diesen Befehl, um den letzten Bearbeitungsvorgang umzukehren. Der Name des Befehl wird abhängig vom letzten Vorgang geändert. Der Befehl <b>Rückgängig</b> wird zu <b>Rückgängig nicht möglich</b>, wenn der letzte Vorgang nicht umgekehrt werden kann.</P>



</BODY>

</HTML>

