<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Befehl 'Datei speichern')</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">

	<PARAM NAME="Keyword" VALUE="Dateien: Verwaltung">

</OBJECT>



<P><A NAME="hid_file_save"></A><B>Befehle 'Speichern' (Dateimenü)</B></P>



<P>Verwenden Sie diesen Befehl, um das aktive Dokument unter den aktuellen Namen und Verzeichnis zu speichern. Wenn das Dokument das erste Mal gespeichert wird, zeigt &lt;&lt;YourApp&gt;&gt; das Dialogfeld <A HREF="afx_hidd_filesave.htm">Speichern unter</A> an, in dem Sie das Dokument benennen können. Wenn Sie den Namen und das Verzeichnis eines vorhandenen Dokuments ändern möchten, wählen Sie den Befehl <A HREF="hid_file_save_as.htm">Speichern unter</A>.</P>





</BODY>

</HTML>

