<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Befehl 'Symbolleiste')</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">

	<PARAM NAME="Keyword" VALUE="Symbolleiste">

</OBJECT>



<P><A NAME="hid_view_toolbar"></A><B>Symbolleiste(Menü 'Ansicht')</B></P>



<P>Verwenden Sie diesen Befehl, um die Symbolleiste ein- oder auszublenden. Die Symbolleiste enthält Schaltflächen für die wichtigsten Befehle in &lt;&lt;YourApp&gt;&gt;, z.B. <b>Datei öffnen</b>.  Das Menüelement wird markiert, wenn die Symbolleiste angezeigt wird.</P>



<P>Hilfe zur Verwendung der Symbolleiste finden Sie unter <A HREF="afx_hidw_toolbar.htm">Symbolleiste</A>.</P>



</BODY>

</HTML>

