<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Befehl 'Objekt einfügen')</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">

	<PARAM NAME="Keyword" VALUE="objects: embedding">

</OBJECT>



<P><A NAME="hid_ole_insert_new"></A><B>Neues Objekt einfügen (Menü 'Bearbeiten')</B></P>



<P>Fügt und bettet ein Objekt ein, z.B. ein Diagramm oder eine Formel in einem Dokument. Die Anwendung, in der das Objekt erstellt wurde, wird aktiviert.</P>



<P>Wählen Sie das Objekt aus, das Sie mit dem Dialogfeld <A HREF="afx_hidd_insertobject.htm">Neues Objekt einfügen</A> in das Dokument einfügen möchten.</P>



</BODY>

</HTML>

