<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Das Dokument ändern)</TITLE>

</HEAD>



<BODY>





<P><A NAME="hidr_doc1type"></A><B>Das Dokument ändern</B></P>



<P>&lt;&lt; Beschreiben Sie hier, wie ein Dokument mit Ihrer Anwendung geändert werden kann.</P>



<P>Wenn die Anwendung mehrere Dokumenttypen unterstützt und Sie unterschiedliche Hilfethemen erstellen möchten, verwenden Sie die Hilfekontext-ID, die mit der Datei MAKEHELP.BAT des Anwendungs-Assistenten generiert wird. Sie können MAKEHM wie folgt ausführen:</P>



<P>makehm IDR_HIDR_,0x2000 resource.h</P>



<P>Wenn das Symbol IDR_ für einen Ihrer Dokumenttypen z.B. IDR_CHARTTYPE ist, ist die von MAKEHM generierte Hilfekontext-ID HIDR_CHARTTYPE.</P>



<P>Hinweis: Der Anwendungs-Assistent definiert die HIDR_DOC1TYPE-Hilfekontext-ID, die von diesem Hilfethema für den ersten Dokumenttyp verwendet wird, der von Ihrer Anwendung unterstützt wird. Der Assistent erstellt einen Alias in der .HPJ-Datei für Ihre Anwendung und ordnet HIDR_DOC1TYPE zum von MAKEHM erstellten HIDR_ für diesen Dokumenttyp zu. &gt;&gt;</P>



</BODY>

</HTML>

