<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Befehle im Menü 'Datensatz')</TITLE>

</HEAD>



<BODY>





<P><A NAME="menu_record"></A><B>Befehle im Menü 'Datensatz'</B></P>



<P>Das Menü 'Datensatz' enthält folgende Befehle:</P>



<TABLE cols=2 width=900>



<TR VALIGN="top">

<TD width=23%><A HREF="hid_record_first.htm">Erster Datensatz</A></TD>

<TD width=77%>Zeigt den ersten Datensatz in der aktuellen Auswahl an.</TD>

</TR>



<TR VALIGN="top">

<TD width=23%><A HREF="hid_record_prev.htm">Vorheriger Datensatz</A></TD>

<TD width=77%>Zeigt den vorherigen Datensatz in der aktuellen Auswahl an.</TD>

</TR>



<TR VALIGN="top">

<TD width=23%><A HREF="hid_record_next.htm">Nächster Datensatz</A></TD>

<TD width=77%>Zeigt den nächsten Datensatz in der aktuellen Auswahl an.</TD>

</TR>



<TR VALIGN="top">

<TD width=23%><A HREF="hid_record_last.htm">Letzter Datensatz</A></TD>

<TD width=77%>Zeigt den letzten Datensatz in der aktuellen Auswahl an.</TD>

</TR>

</TABLE>



</BODY>

</HTML>

