<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Befehle im Menü 'Ansicht')</TITLE>

</HEAD>



<BODY>





<P><A NAME="menu_view"></A><B>Befehle im Menü 'Ansicht'</B></P>



<P>Das Menü <b>Ansicht</b> enthält folgende Befehle:</P>



<TABLE cols=2 width=900>



<TR VALIGN="top">

<TD width=18%><A HREF="hid_view_toolbar.htm">Symbolleiste</A></TD>

<TD width=82%>Blendet die Symbolleiste ein oder aus.</TD>

</TR>



<TR VALIGN="top">

<TD width=18%><A HREF="hid_view_status_bar.htm">Statusleiste</A></TD>

<TD width=82%>Blendet die Statusleiste ein oder aus.</TD>

</TR>

</TABLE>



</BODY>

</HTML>

