<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Befehle im Menü 'Datei')</TITLE>

</HEAD>



<BODY>





<OBJECT TYPE="application/x-oleobject" CLASSID="clsid:1e2a7bd0-dab9-11d0-b93a-00c04fc99f9e">

	<PARAM NAME="Keyword" VALUE="Dateien: Verwaltung">

</OBJECT>



<P><A NAME="menu_file"></A><B>Befehle im Menü 'Datei'</B></P>



<P>Das Menü <b>Datei</b> enthält folgende Befehle:</P>



<TABLE cols=2 width=900>



<TR VALIGN="top">

<TD width=16%><A HREF="hid_file_new.htm">Neu</A></TD>

<TD width=84%>Erstellt ein neues Dokument.</TD>

</TR>



<TR VALIGN="top">

<TD width=16%><A HREF="hid_file_open.htm">Öffnen</A></TD>

<TD width=84%>Öffnet ein vorhandenes Dokument.</TD>

</TR>



<TR VALIGN="top">

<TD width=16%><A HREF="hid_file_close.htm">Schließen</A></TD>

<TD width=84%>Schließt ein Dokument.</TD>

</TR>



<TR VALIGN="top">

<TD width=16%><A HREF="hid_file_save.htm">Speichern</A></TD>

<TD width=84%>Speichert ein geöffnetes Dokument unter dem gleichen Dateinamen.</TD>

</TR>



<TR VALIGN="top">

<TD width=16%><A HREF="hid_file_save_as.htm">Speichern unter</A></TD>

<TD width=84%>Speichert ein geöffnetes Dokument unter einem angegebenen Dateinamen.</TD>

</TR>



[!if PRINTING]

<TR VALIGN="top">

<TD width=16%><A HREF="hid_file_print.htm">Drucken</A></TD>

<TD width=84%>Druckt ein Dokument.</TD>

</TR>



<TR VALIGN="top">

<TD width=16%><A HREF="hid_file_print_preview.htm">Seitenansicht</A></TD>

<TD width=84%>Zeigt das Dokument so auf dem Bildschirm an, wie es gedruckt wird.</TD>

</TR>



<TR VALIGN="top">

<TD width=16%><A HREF="hid_file_print_setup.htm">Drucker einrichten</A></TD>

<TD width=84%>Wählt einen Drucker und eine Druckerverbindung aus.</TD>

</TR>



[!endif]

[!if MAPI]

<TR VALIGN="top">

<TD width=16%><A HREF="hid_file_send_mail.htm">Senden...</A></TD>

<TD width=84%>Sendet das aktive Dokument per E-Mail.</TD>

</TR>



[!endif]

<TR VALIGN="top">

<TD width=16%><A HREF="hid_app_exit.htm">Beenden</A></TD>

<TD width=84%>Beendet &lt;&lt;YourApp&gt;&gt;.</TD>

</TR>

</TABLE><BR>



</BODY>

</HTML>

