<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Befehle im Menü 'Fenster')</TITLE>

</HEAD>



<BODY>





<P><A NAME="menu_window"></A><B>Befehle im Menü 'Fenster'</B></P>



<P>Das Menü 'Fenster' enthält folgende Befehle, mit denen Sie Ansichten von mehreren Dokumenten im Programmfenster anordnen können:</P>



<TABLE cols=2 width=900>



<TR VALIGN="top">

<TD width=21%><A HREF="hid_window_new.htm">Neues Fenster</A></TD>

<TD width=79%>Erstellt ein neues Fenster, das das gleiche Dokument anzeigt.</TD>

</TR>



<TR VALIGN="top">

<TD width=21%><A HREF="hid_window_cascade.htm">Überlappend</A></TD>

<TD width=79%>Ordnet die Fenster überlappend an.</TD>

</TR>



<TR VALIGN="top">

<TD width=21%><A HREF="hid_window_tile.htm">Nebeneinander</A></TD>

<TD width=79%>Ordnet die Fenster nebeneinander an.</TD>

</TR>



<TR VALIGN="top">

<TD width=21%><A HREF="hid_window_arrange.htm">Symbole anordnen</A></TD>

<TD width=79%>Ordnet die Symbole von geschlossenen Fenstern an.</TD>

</TR>


[!if SPLITTER]
<TR VALIGN="top">

<TD width=21%><A HREF="hid_window_split.htm">Teilen</A></TD>

<TD width=79%>Teilt das aktive Fenster in Bereiche.</TD>

</TR>



[!endif]
<TR VALIGN="top">

<TD width=21%><A HREF="hid_window_all.htm">Fenster 1, 2, ...</A></TD>

<TD width=79%>Wechselt zum angegebenen Fenster.</TD>

</TR>

</TABLE><BR>



</BODY>

</HTML>

