<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Befehle im Menü 'Hilfe')</TITLE>

</HEAD>



<BODY>





<P><A NAME="menu_help"></A><B>Befehle im Menü 'Hilfe'</B></P>



<P>Das Menü <b>Hilfe</b> enthält folgende Befehle: </P>



<TABLE cols=2 width=900>



<TR VALIGN="top">

<TD width=16%><A HREF="hid_help_index.htm">Hilfethemen</A></TD>

<TD width=84%>Zeigt einen Index der Themen an, für die Sie die Hilfe aufrufen können.</TD>

</TR>



<TR VALIGN="top">

<TD width=16%><A HREF="hid_app_about.htm">Info</A></TD>

<TD width=84%>Zeigt die Versionsnummer dieser Anwendung an.</TD>

</TR>

</TABLE><BR>



</BODY>

</HTML>

