<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Befehle im Menü 'Bearbeiten')</TITLE>

</HEAD>



<BODY>





<P><A NAME="menu_edit"></A><B>Befehle im Menü 'Bearbeiten'</B></P>



<P>Das Menü <b>Bearbeiten</b> enthält folgende Befehle:</P>



<TABLE cols=2 width=900>



<TR VALIGN="top">

<TD width=15%><A HREF="hid_edit_undo.htm">Rückgängig</A></TD>

<TD width=85%>Vorherigen Bearbeitungsvorgang umkehren.</TD>

</TR>

<TR VALIGN="top">

<TD width=15%><A HREF="hid_edit_cut.htm">Ausschneiden</A></TD>

<TD width=85%>Überträgt Daten aus dem Dokument in die Zwischenablage.</TD>

</TR>



<TR VALIGN="top">

<TD width=15%><A HREF="hid_edit_copy.htm">Kopieren</A></TD>

<TD width=85%>Kopiert Daten aus dem Dokument in die Zwischenablage.</TD>

</TR>



<TR VALIGN="top">

<TD width=15%><A HREF="hid_edit_paste.htm">Einfügen</A></TD>

<TD width=85%>Fügt Daten aus der Zwischenablage in das Dokument ein.</TD>

</TR>



[!if CONTAINER || CONTAINER_SERVER]

<TR VALIGN="top">

<TD width=15%><A HREF="hid_edit_paste_link.htm">Verknüpfung einfügen</A></TD>

<TD width=85%>Fügt eine Verknüpfung aus der Zwischenablage in eine andere Anwendung ein.</TD>

</TR>



<TR VALIGN="top">

<TD width=15%><A HREF="hid_ole_insert_new.htm">Neues Objekt einfügen</A></TD>

<TD width=85%>Fügt und bettet ein Objekt ein; z.B. ein Diagramm oder eine Formel in einem Dokument.</TD>

</TR>



<TR VALIGN="top">

<TD width=15%><A HREF="hid_ole_edit_links.htm">Verknüpfungen</A></TD>

<TD width=85%>Bearbeitet und listet Verknüpfungen zu eingebetteten Dokumenten auf.</TD>

</TR>

[!endif]

</TABLE>



</BODY>

</HTML>

