<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=Windows-1252">

<TITLE>(Bildlaufleisten)</TITLE>

</HEAD>



<BODY>





<P><A NAME="scrollbars"></A><B>Bildlaufleisten</B></P>



<P>Ziegt den rechten und unteren Rand des Dokumentfensters an. Die Bildlauffelder in den Bildlaufleisten zeigen die vertikale und horizontale Position im Dokument an. Sie können den Bildlauf mit der Maus ausführen.</P>



<P>&lt;&lt; Beschreiben Sie die Vorgänge der verschiedenen Bildlaufleistenbereiche, entsprechend dem Verhalten in Ihrer Anwendung. &gt;&gt;</P>



</BODY>

</HTML>

